<div class="agent-form">
    <h3 class="agent-form__h">Оставьте ваш номер, и я перезвоню в течение 5 минут</h3>
    <form>
        <div class="input-group _lg _white _secondary">
            <label>Ваше имя:</label>
            <input>
        </div>
        <div class="input-group _lg _white _secondary">
            <label>Ваш телефон:</label>
            <input class="js-mask__tel">
        </div>
        <div class="input-group">
            <button class="btn _solid _lg _shadow" type="submit">
                Жду звонка
            </button>
        </div>
        <div class="input-group _lg _white _last">
            <span class="input-help">Отправляя заявку вы соглашаетесь 
                на обработку персональных данных</span>
        </div>
    </form>
</div>