<div class="container agents-filter">
    <div class="agents-filter__item agents-filter__search">
        <div class="input-group _xlg">
            <div class="input-wrapper _icon">
                <select multiple="multiple" class="js-agent-search"></select>
                <i class="icon-search"></i>
            </div>
        </div>
        <div class="input-group _xlg _last">
            <span class="input-help">
                Введите имя, фамилию (3 и более символа) или телефон риэлтора для поиска</span>
        </div>
    </div>
    <div class="agents-filter__item agents-filter__filter">
        <p class="agents__muted">Показать риэлторов</p>
        <div class="agents-filter__checkbox-wrapper">
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" checked>
                    <span class="checkbox__text">По вторичной недвижимости</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По аренде</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По загородной недвижимости</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По коммерческой недвижимости</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По новостройкам</span>
                </label>
            </div>
        </div>
    </div>
    <div class="agents-filter__item agents-filter__abc">
        <p class="agents__muted">Или найдите риэлтора по алфавиту</p>
        <div class="agents-filter__alphabet-wrapper">
            <ul class="alphabet js-alphabet">
                <li class="_active"><a href="#">А-Я</a></li>
                <li><label class="link"><input type="radio" name="alphabet" value="А">А</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Б">Б</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="В">В</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Г">Г</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Д">Д</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Е" checked>Е</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Ж">Ж</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="З">З</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="И">И</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="К">К</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Л">Л</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="М">М</label></li>
                <li><label class="link"><input type="radio" name="alphabet" value="Н">Н</label></li>
            </ul>
        </div>
    </div>
</div>