<div class="container agents-filter">
    <div class="agents-filter__search">
        <div class="input-group _xlg _secondary _gray">
            <div class="input-wrapper _icon">
                <input>
                <i class="icon-search"></i>
            </div>
        </div>
        <div class="input-group _xlg _last">
            <span class="input-help">
                Введите имя, фамилию (3 и более символа) или телефон риэлтора для поиска</span>
        </div>
    </div>
    <div class="agents-filter__filter">
        <p class="agents__muted">Показать риэлторов</p>
        <div class="agents-filter__checkbox-wrapper">
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox" checked>
                    <span class="checkbox__text">По вторичной недвижимости</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По аренде</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По загородной недвижимости</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По коммерческой недвижимости</span>
                </label>
            </div>
            <div class="input-group">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">По новостройкам</span>
                </label>
            </div>
        </div>
    </div>
    <div class="agents-filter__abc">
        <p class="agents__muted">Или найдите риэлтора по алфавиту</p>
        <div class="agents-filter__alphabet-wrapper">
            <ul class="alphabet">
                <li class="_active"><a href="#">А-Я</a></li>
                <li><a href="#">А</a></li>
                <li><a href="#">Б</a></li>
                <li><a href="#">В</a></li>
                <li><a href="#">Г</a></li>
                <li><a href="#">Д</a></li>
                <li><a href="#">Е</a></li>
                <li><a href="#">Ж</a></li>
                <li><a href="#">З</a></li>
                <li><a href="#">И</a></li>
                <li><a href="#">К</a></li>
                <li><a href="#">Л</a></li>
                <li><a href="#">М</a></li>
                <li><a href="#">Н</a></li>
                <li><a href="#">О</a></li>
                <li><a href="#">П</a></li>
                <li><a href="#">Р</a></li>
                <li><a href="#">С</a></li>
                <li><a href="#">Т</a></li>
                <li><a href="#">У</a></li>
                <li><a href="#">Ф</a></li>
                <li><a href="#">Х</a></li>
                <li><a href="#">Ц</a></li>
                <li><a href="#">Ч</a></li>
                <li><a href="#">Ш</a></li>
                <li><a href="#">Щ</a></li>
                <li><a href="#">Э</a></li>
                <li><a href="#">Ю</a></li>
                <li><a href="#">Я</a></li>
            </ul>
        </div>
    </div>
</div>