<div class="list-header @@class">
    <div class="container list-header__row">
        <div class="list-header__sorting _auto">
            <div class="sorting _1">
                <div class="sorting__item">
                    <label class="sorting__label">Сортировка по:</label>
                    <select class="sorting__select js-select2">
                        <option>Алфавиту</option>
                        <option>Стажу</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="list-header__pagination">
            <ul class="pagination">
                <li class="pagination__item">
                    <a class="pagination__item__link _first _disabled" href="#"></a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link _active" href="#">1</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link" href="#">2</a>
                </li>
                <li class="pagination__item hidden-sm">
                    <a class="pagination__item__link" href="#">3</a>
                </li>
                <li class="pagination__item hidden-sm">
                    <a class="pagination__item__link" href="#">4</a>
                </li>
                <li class="pagination__item _skip">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link" href="#">322</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link _last" href="#"></a>
                </li>
            </ul>
            <span class="list-header__pagination__total">
                Показано 10 из 146
            </span>
        </div>
    </div>
</div>