<div class="agents-promo-work">
    <div class="agents-promo-work__inner">
        <div class="agents-promo-work__content">
            <h3 class="agents-promo-work__h">Хотите стать нашим агентом?</h3>
            <p class="agents-promo-work__p">У нас есть вакансии для вас!</p>
            <a href="work.html" class="btn _lg _secondary _inverse">Перейти к вакансиям</a>
        </div>
        <img class="agents-promo-work__img"
             src="img/agents/promo.png"
             srcset="img/agents/promo@2x.png 2x,
             img/agents/promo@3x.png 3x">
    </div>
</div>