<div class="agents-promo-form">
    <div class="agents-promo-form__inner">
        <div class="agents-promo-form__content">
            <h3 class="agents-promo-form__h">У вас еще нет риэлтора?</h3>
            <p class="agents-promo-form__p">Заполните заявку. 
                И мы перезвоним вам в течении 5 минут.</p>
        </div>
        <form>
            <div class="input-group _lg _white _secondary">
                <label>Ваше имя:</label>
                <input>
            </div>
            <div class="input-group _lg _white _secondary">
                <label>Ваш телефон:</label>
                <input class="js-mask__tel">
            </div>
            <div class="input-group">
                <button class="btn _solid _lg _shadow" type="submit">
                    Жду звонка
                </button>
            </div>
            <div class="input-group _lg _white _last">
                <span class="input-help">Отправляя заявку вы соглашаетесь 
                    на обработку персональных данных</span>
            </div>
        </form>
    </div>
</div>