<div class="onmap__list__item">
    <img class="onmap__list__item__img"
         src="img/realty/objects/@@img.jpg"
         srcset="img/realty/objects/@@img@2x.jpg 2x,
         img/realty/objects/@@img@3x.jpg 3x"
         alt="alt text">
    <div class="onmap__list__item__content">
        <h5 class="onmap__list__item__content__h">@@title</h5>
        <p class="onmap__list__item__content__text">
            <span class="onmap__list__item__content__text__muted">Однокомнатная квартира</span>
            1 750 000 руб.
        </p>
        <a href="#" class="onmap__list__item__content__a">Подробнее</a>
    </div>
</div>