<section class="container section sales">
    <div class="sales-list _4 _small-text">
        @@include('./item.html', {
        "icon": "hypothec-1",
        "title": "Бесплатная консультация",
        "desc": "Клиент совершенно бесплатно получает у брокера полную информацию о себе как о заемщике и о процессе предстоящей сделки. Мы помогаем клиенту сориентироваться и выбрать ипотечную программу, которая максимально выгодна и удобна для него.",
        "btn": ""
        })
        @@include('./item.html', {
        "icon": "hypothec-2",
        "title": "Экономия средств",
        "desc": "В ряде банков заявки, полученные от Брокеров Монолит Истейт проходят по льготным программам, в результате этого ставка может быть снижена, что значительно с экономит Ваши деньги. Кроме этого, заявки полученные от ипотечного брокера рассматриваются в особом порядке и имеют больший шанс на одобрение.",
        "btn": ""
        })
        @@include('./item.html', {
        "icon": "hypothec-3",
        "title": "Экономия времени",
        "desc": "Обращаясь в Монолит Истейт, вы получаете актуальную информацию обо всех предложениях банков. Специалисты агентства сами отправят заявление в банки, избавив вас от необходимости посещения банковских офисов.",
        "btn": ""
        })
        @@include('./item.html', {
        "icon": "hypothec-4",
        "title": "Детальная информация об условиях договора",
        "desc": "Брокеры ответят на все ваши вопросы, не скрывая ни комиссий, ни условий, ни дополнительных расходов, связанных со сделкой. Наши специалисты будут сопровождать вас и консультировать на всех этапах заключения ипотечного договора.",
        "btn": ""
        })
    </div>
</section>