<section class="container section sales">
    <h3 class="section__h">Найдите покупателей на нашем сайте 
        и продайте свою квартиру выгодно</h3>
    <p class="section__lead">Чтобы быстро продать свою квартиру нужно всего три шага</p>
    <div class="sales-list _3 _dots">
        @@include('./item.html', {
        "icon": "sales-home",
        "title": "1. Найдите покупателей",
        "desc": "Укажите параметры своей квартиры и узнайте, сколько покупателей хотят ее купить",
        "btn": "Найти покупателей"
        })
        @@include('./item.html', {
        "icon": "sales-hand",
        "title": "2. Предложите свою квартиру",
        "desc": "Сделайте предложение избранным покупателям: оставьте заявку специалисту или разместите объявление на сайте",
        "btn": "Оставить заявку"
        })
        @@include('./item.html', {
        "icon": "sales-money",
        "title": "3. Продайте свою квартиру выгодно",
        "desc": "Договоритесь об условиях продажи со специалистом, а мы проведем сделку безопасно и выгодно для Вас",
        "btn": "Найти покупателей"
        })
    </div>
</section>