<section class="container section sales">
    <h3 class="section__h">Платите только за результат</h3>
    <p class="section__lead">Мы оказываем комплекс услуг по предпродаже бесплатно</p>
    <div class="sales-list">
        @@include('./item-seller.html', {
        "icon": "sales-cost",
        "title": "Определим рыночную стоимость",
        "btn": ""
        })
        @@include('./item-seller.html', {
        "icon": "sales-photo",
        "title": "Сделаем качественные фотографии, планировку и 3D-тур",
        "btn": ""
        })
        @@include('./item-seller.html', {
        "icon": "sales-ads",
        "title": "Разместим качественную рекламу на ведущих площадках",
        "btn": ""
        })
        @@include('./item-seller.html', {
        "icon": "sales-problem",
        "title": "Продаем квартиры с обременением",
        "btn": ""
        })
    </div>
</section>