<section class="container section sales">
    <h3 class="section__h">Почему нас выбирают?</h3>
    <div class="sales-list _4">
        @@include('./item.html', {
        "icon": "sales-income",
        "title": "Высокий доход",
        "desc": "Можно быть уверенным в своей защите.",
        "btn": ""
        })
        @@include('./item.html', {
        "icon": "sales-career",
        "title": "Карьерный рост",
        "desc": "Скидка по ипотеке до 1%.",
        "btn": ""
        })
        @@include('./item.html', {
        "icon": "sales-stability",
        "title": "Стабильность",
        "desc": "Комфортный просмотр недвижимости в удобное для вас время.",
        "btn": ""
        })
        @@include('./item.html', {
        "icon": "sales-edu",
        "title": "Обучение за счет компании",
        "desc": "Получите возможность выиграть квартиру.",
        "btn": ""
        })
    </div>
</section>