<li class="agents-slider__item slide @@if (active == 1) {_active}">
    <div class="agents-slider__item__inner">
        <div class="agents-slider__item__img-wrapper">
        <img class="agents-slider__item__img" src="img/agents/@@img" alt="alt-text">
        </div>
        <div class="agents-slider__item__short js-agents-slider__short"
             data-agent-name="@@name"
             data-agent-phone="+71234567890"
             data-agent-mail="user@monolitestate.com"
             data-agent-url="agent.html"
             data-agent-img="img/agents/@@img">
            @@short
        </div>
    </div>
</li>