<li class="agents-list__item slide @@if (active == 1) {_active}">
    <div class="agents-list__item__inner">
        <div class="agents-list__item__img-wrapper">
        <img class="agents-list__item__img" src="img/agents/@@img" alt="alt-text">
        </div>
        <div class="agents-list__item__short js-slider-agents__short"
             data-agent-name="@@name"
             data-agent-phone="+7 123 456-78-90"
             data-agent-link="monolitestate.com"
             data-agent-img="img/agents/@@img">
            @@short
        </div>
    </div>
</li>