<!-- fixed right promo -->  
<div class="fr js-fr">
    <div class="fr__toggler js-fr__toggler">
        <i class="sprite promo-rouble"></i>
        <h5 class="fr__toggler__h">Выгода</h5>
        <p class="fr__toggler__p">
            до <span class="text-nowrap">400 000</span> рублей
        </p>
        <i class="sprite promo-arrow"></i>
    </div>
    <div class="fr__content">
        <div class="fr__content__row">
            <h5 class="fr__content__h">Новостройки</h5>
            <p class="fr__content__p">Дешевле, чем у застройщиков</p>
        </div>
        <div class="fr__content__row">
            <h5 class="fr__content__h">Экономия</h5>
            <p class="fr__content__p">до 400 000 рублей</p>
        </div>
        <a href="#" class="btn _solid _secondary _lg">Подробнее</a>
    </div>
</div>