.news-detail {
    .news-detail__introtext {
        font-size: 18px;
        line-height: 1.28;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            font-size: 21px;
            line-height: 1.24;
            margin-bottom: 25px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }
    .news-detail__img {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
        }
        img {
            display: block;
            width: 100%;            
        }
    }
    .news-detail__content {
        margin-bottom: 30px;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
    }
    .news-detail__social {
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            margin-bottom: 42px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 82px;
        }
    }
    .news-detail__neighbors {
        @include media-breakpoint-up(md) {
            @include row(15px);
        }
        .news-detail__neighbors__item {
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(md) {
                @include col(50%, 15px);
                display: flex;
                margin-bottom: 0;
            }
        }
        .news-detail__neighbors__link {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: 1px solid $secondary;
            border-radius: 5px;
            padding: 18px;
            font-size: 18px;
            color: $body-color;
            &:after {
                content: none;
            }
            @include transition(all);
            &:hover {
                color: $white;
                background-color: $secondary;
            }
            .news-detail__neighbors__link__text {
                flex: 1;
            }
            .news-detail__neighbors__link__help {
                display: block;
                margin-top: 8px;
                opacity: 0.5;
                font-size: 13px;
                [class^="icon-"] {
                    font-size: 18px;
                    vertical-align: middle;
                    margin-right: 3px;
                }
            }
            &._next {
                text-align: right;
                .news-detail__neighbors__link__help {
                    [class^="icon-"] {
                        margin-right: 0;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}



.news-detail-row {
    @include media-breakpoint-up(lg) {
        display: flex;
        .news-detail {
            width: 690px;
            margin-right: 130px;
        }
        .news-related {
            flex: 1;
            &.section {
                .section__h {
                    font-size: 32px;
                }
            }
        }
    }
    .news-related-list {
        .news-item {
            @include media-breakpoint-up(lg) {
                margin-bottom: 31px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .news-related__social {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}