.page-header {
    margin-bottom: 40px;
    .page-header__h {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 10px;
        @include media-breakpoint-up(md) {
            font-size: 32px;
            line-height: 1.06;
        }
        &._lg {
            @include media-breakpoint-up(md) {
                font-size: 35px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 40px;
            }
        }
        .page-header__tag {
            display: none;
        }
    }
    .page-header__lead {
        opacity: 0.5;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
            font-size: 15px;
            margin-bottom: 18px;
        }
        &._lg {
            font-size: 15px;
            font-weight: 400;            
            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 21px;
            }
        }
    }
    .page-header__subscribe {
        .page-header__subscribe__text {
            opacity: 0.6;
            font-size: 12px;
            text-align: center;
            display: block;
            margin-top: 7px;
        }
    }
    .page-header__tag {
        display: block;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        border-radius: $border-radius;
        background-color: #fefefe;
        border: solid 1px #e1e1e1;
        @include link-in-text;
        padding: 2px 8px 0;
    }
    .page-header__tags {
        @include list-unstyled;
        margin-bottom: 0;
        font-size: 0;
        .page-header__tags__item {
            display: inline-block;
            margin-right: 8px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .page-header__social {
        @include media-breakpoint-only(sm) {
            margin-top: 20px;
        }
        @include media-breakpoint-up(md) {
            white-space: nowrap;
        }
    }
    .page-header__datetime {
        @include list-unstyled;
        margin-top: 21px;
        margin-bottom: 0;
        color: rgba($body-color, .5);
        font-size: 15px;
        @include media-breakpoint-up(md) {
            margin-top: 35px;
            font-size: 18px;
        }
        li {
            display: inline-block;
            margin-right: 15px;
        }
        [class^="icon-"] {
            font-size: 13px;
            margin-right: .4ex;
            vertical-align: middle;
            @include media-breakpoint-up(md) {
                font-size: 15px;
            }
        }
        .icon-calendar {
            color: #7e7e7e;
        }
        .icon-clock {
            color: #737373;
        }
    }
    .page-header__md {
        display: none;
    }
    &._white {
        background-color: $white;
        padding: $container-padding-sm 0;
        margin-bottom: 30px;
        /*        &:first-child {
                    margin-top: -5px;
                }*/
    }
    &._subscribe {
        background-color: transparent;
        padding: 0;
    }
    &._about {
        @include bg-img-wrapper;
        height: 370px;
        display: flex;
        margin-bottom: 10px;
        margin-top: - map_get($header-margin-bottom, sm);
        padding-top: map_get($header-margin-bottom, sm);
        @include media-breakpoint-up(md) {
            margin-bottom: 35px;
            margin-top: - map_get($header-margin-bottom, md);
            padding-top: map_get($header-margin-bottom, md);
            height: 400px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: - map_get($header-margin-bottom, lg);
            padding-top: map_get($header-margin-bottom, lg);
            height: 410px;
        }
        .container {
            display: flex;
            flex-direction: column;
        }
        .page-header__h {
            margin-bottom: 0;
        }
        .page-header__img-wrapper {
            @include bg-img-inner($white, .55);
            z-index: -1;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 246px;
                background: linear-gradient(to bottom, transparent, #F5F5F5);
                z-index: 1;
            }
            img {
                @include bg-img-100;
                left: 120%;
                @include media-breakpoint-up(md) {
                    left: 75%;
                }
                @include media-breakpoint-up(lg) {
                    left: 50%;
                }
            }
        }
    }
    &._builder {
        height: 340px;
    }
}

@include media-breakpoint-up(md) {
    .page-header {
        .page-header__h {
            .page-header__tag {
                display: inline-block;
                vertical-align: middle;
                &:first-of-type {
                    margin-left: 10px;
                }
            }
        }
        .page-header__subscribe {
            margin: -10px 0 -10px 20px;
            .btn {
                width: 295px;
            }
        }
        .page-header__tags {
            display: none;
        }
        .page-header__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .page-header__md {
            display: block;
        }
        &._white {
            padding: $container-padding-md 0;
            /*            &:first-child {
                            margin-top: -15px;
                        }*/
        }
        &._subscribe {
            background-color: $white;
            padding: $container-padding-md 0;
        }
        &._builder {
            height: 200px;
            .page-header__h {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .page-header {
        /*        .page-header__h {
                    font-size: 40px;
                }*/
        &._white {
            &:first-child {
                margin-top: -30px;
            }
        }
    }
}

.page-header {
    .page-header__about {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .page-header__about__img {
            width: 180px;
            margin-bottom: 25px;
            @include media-breakpoint-up(md) {
                width: 260px;
                margin-bottom: 50px;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 25px;
                margin-right: 135px;
            }
            img {
                display: block;
                max-width: 100%;
            }
        }
        .page-header__about__feat {
            @include list-unstyled;
            margin-bottom: 0;
            display: flex;
            @include media-breakpoint-only(sm) {
                flex-wrap: wrap;
                .page-header__about__feat__item {
                    margin: 6px 30px 6px 0;
                    &:first-child {
                        margin-right: 40px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            @include media-breakpoint-up(md) {
                flex-wrap: nowrap;
                .page-header__about__feat__item {
                    flex-grow: 1;
                    margin-right: 60px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                flex: 1;
                .page-header__about__feat__item {
                    &:last-child {
                        margin-right: 100px;
                    }
                }
            }
            .page-header__about__feat__lg {
                display: block;
                font-size: 35px;
                line-height: 1.1;
                white-space: nowrap;
                @include media-breakpoint-up(md) {
                    font-size: 40px;
                }
            }
            .page-header__about__feat__sm {
                display: block;
                /*opacity: 0.5;*/
                font-size: 15px;
            }
        }
        &._builder {
            .page-header__about__img {
                margin-left: auto;
                margin-right: auto;
            }
            @include media-breakpoint-up(md) {
                flex-direction: row;
                .page-header__about__img {
                    flex-basis: 250px;
                    flex-shrink: 0;
                }
            }
            @include media-breakpoint-up(lg) {
                .page-header__about__img {
                    flex-basis: 300px;
                    margin-bottom: 0;
                }
            }
            .page-header__about__feat {
                .page-header__about__feat__lg {
                    font-size: 27px;
                    @include media-breakpoint-up(md) {
                        font-size: 32px;
                    }
                }
                @include media-breakpoint-down(md) {
                    .page-header__about__feat__item {
                        margin-right: 0px;
                        flex-basis: 60%;
                        &:first-child {
                            margin-right: 0px;                    
                        }
                        &:nth-child(even) {
                            flex-basis: 40%;
                        }
                    }
                }
                @include media-breakpoint-only(sm) {
                    .page-header__about__feat__sm {
                        white-space: pre-line;
                    }
                }
                @include media-breakpoint-only(md) {
                    flex-wrap: wrap;
                }
                @include media-breakpoint-only(md) {
                    .page-header__about__feat__item {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
    &._bg-img {
        .page-header__about__feat {
            .page-header__about__feat__sm {
                opacity: 0.5;
            }
        }
    }
}

.breadcrumbs {
    @include list-unstyled;
    margin-bottom: 0;
    .breadcrumbs__item {
        display: inline;
        font-size: 12px;
        white-space: nowrap;
        a {
            color: #7e7e7e;
            &:after {
                content: none;
            }
        }
        &:after {
            display: inline;
            content: ' / ';
        }
        &._active {
            font-weight: 600;
            color: #4264cf;
            &:after {
                content: none;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .breadcrumbs {
        display: none;
    }
}