.page-header {
    margin-bottom: 40px;
    .page-header_h {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 0;
    }
    .page-header__subscribe {
        .page-header__subscribe__text {
            opacity: 0.6;
            font-size: 12px;
            text-align: center;
            display: block;
            margin-top: 7px;
        }
    }
    .page-header__md {
        display: none;
    }
    &._white {
        margin-bottom: 25px;
    }
}

@include media-breakpoint-up(md) {
    .page-header {
        .page-header_h {
            font-size: 32px;
            line-height: 1.06;
            margin-bottom: 10px;
        }
        .page-header__subscribe {
            margin: -10px 0 -10px 20px;
            .btn {
                width: 295px;
            }
        }
        .page-header__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .page-header__md {
            display: block;
        }
        &._white {
            background-color: $white;
            padding: $container-padding-md 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .page-header {
        .page-header_h {
            font-size: 40px;
        }
    }
}

.breadcrumbs {
    @include list-unstyled;
    margin-bottom: 0;
    .breadcrumbs__item {
        display: inline;
        font-size: 12px;
        a {
            color: #7e7e7e;
            &:after {
                content: none;
            }
        }
        &:after {
            display: inline;
            content: '/ ';
        }
        &._active {
            font-weight: 600;
            color: #4264cf;
            &:after {
                content: none;
            }
        }
    }
}