.results-promo {
    padding: 20px;
    &__h {
        font-size: 32px;
        font-weight: 300;
        color: white;
        margin-bottom: 10px;
        @include media-breakpoint-up(lg) {
            font-size: 40px;
        }
    }
    &__lead {
        color: white;
        opacity: 0.5;
        font-size: 16px;
        margin-bottom: 28px;
    }
    &__btn {
        @include media-breakpoint-up(md) {
            display: inline-block;
            width: auto;
        }
    }
    &__content {
        z-index: 1;
    }
    &__img {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
    }
}

.promo-article {
    $root: &;
    background: linear-gradient(142.96deg, #6297C9 6.81%, #4F88C1 77.65%);
    border-radius: 4px;
    padding: 40px 20px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    position: relative;
    &__head {
        flex-grow: 1;
        margin-bottom: 30px;
        width: 100%;
    }
    &__foot {
        width: 100%;
    }
    &__img {
        display: block;
        margin: 0 auto 5px;
    }
    &__h {
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 30px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 10px;
        @include media-breakpoint-up(md) {
            font-size: 40px;
        }
    }
    &__p {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }
    .btn {
        font-size: 18px;
        line-height: normal;
        white-space: normal;
        padding: 0 10px;
        min-height: 54px;
        max-width: 335px;
        margin: 0 auto;
    }
    &__list {
        display: none;
        @include media-breakpoint-up(md) {
            @include list-unstyled;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }
        &__item {
            padding: 0 10px;
            text-align: center;
            flex: 0 0 20%;
            > * {
                display: block;
            }
            &__img {
                height: 55px;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                &__img {
                    margin: 0 auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__price {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 12px;
            }
            &__text {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    &._benefits {
        background: url('img/benefits-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: white;
        padding-top: 17px;
        padding-bottom: 27px;
        #{$root} {
            &__head {
                display: flex;
                align-items: center;
                @include media-breakpoint-up(md) {
                    display: block;
                    margin-bottom: 12px;
                }
            }
            &__h {
                margin-bottom: 0;
                @include media-breakpoint-up(md) {
                    margin-bottom: 38px;
                    font-size: 30px;
                    line-height: 36px;
                }
            }
        }
    }
}