.sales-list {
    .sales-list__item {
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 40px;
        .sales-list__item__h {
            font-size: 21px;
            line-height: 1.24;
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            .sales-list__item__h__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 77px;
                height: 77px;
                background-color: $secondary;
                border-radius: 50%;
                margin-right: 20px;
            }
            .sales-list__item__h__inner {
                display: block;
            }
        }
        .sales-list__item__p {
            margin-bottom: 20px;
        }
        &._seller {
            .sales-list__item__h {
                font-size: 18px;
                line-height: 1.28;
                flex-wrap: wrap;
                margin-bottom: 0;
                .sales-list__item__h__icon {
                    background-color: #7f7fc7;
                    background-image: linear-gradient(322deg, #7f7fc7, #494995);
                    width: 69px;
                    height: 69px;
                    margin-right: 15px;
                    .sprite {
                        transform: scale(.9);
                    }
                }
                .sales-list__item__h__inner {
                    flex-basis: 196px;
                    flex-grow: 1;
                }
                .btn {
                    flex-basis: 100%;
                    margin-left: 84px;
                }
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .sales-list {
        margin-bottom: -50px;
        @include row(50px);
        .sales-list__item {
            @include col(50%, 50px);
            display: flex;
            flex-direction: column;
            .sales-list__item__p {
                flex: 1;
            }
            .btn {
                display: inline-block;
                width: auto;
                align-self: flex-start;
            }
            &._seller {
                .sales-list__item__h {
                    font-size: 21px;
                    .sales-list__item__h__icon {
                        width: 71px;
                        height: 71px;
                        margin-right: 20px;
                        .sprite {
                            transform: none;
                        }
                    }
                    .btn {
                        flex-basis: auto;
                        margin-left: 91px;
                    }
                }
            }
        }
        &._3 {
            .sales-list__item:last-of-type {
                flex-basis: 60%;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .sales-list {
        &._3 {
            @include row(70px);
            .sales-list__item, .sales-list__item:last-of-type {
                @include col(33.33%, 70px)
            }
        }
        &._4 {
            .sales-list__item {
                @include col(25%, 50px)
            }
        }
        .sales-list__item {
            &._seller {
                .sales-list__item__h {
                    padding-right: 70px;
                    flex-wrap: nowrap;
                    .sales-list__item__h__inner {
                        flex: 1;
                        min-width: 190px;
                    }
                    .btn {
                        flex: 1;
                        margin-left: 20px;
                        align-self: unset;
                    }
                }
            }
        }
    }
}