.sales-list {
    .sales-list__item {
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 50px;
        .sales-list__item__h {
            font-size: 21px;
            line-height: 1.24;
            display: flex;
            align-items: center;
            margin-bottom: 28px;
            .sales-list__item__h__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 77px;
                height: 77px;
                background-color: $secondary;
                border-radius: 50%;
                margin-right: 20px;
            }
            .sales-list__item__h__inner {
                display: block;
            }
        }
        .sales-list__item__p {
            margin-bottom: 20px;
        }
    }
}
@include media-breakpoint-up(md) {
    .sales-list {
        margin-bottom: -50px;
        @include row(50px);
        .sales-list__item {
            @include col(50%, 50px);
            display: flex;
            flex-direction: column;
            .sales-list__item__p {
                flex: 1;
            }
            .btn {
                display: inline-block;
                width: auto;
                align-self: flex-start;
            }
        }
        &._3 {
            .sales-list__item:last-of-type {
                flex-basis: 60%;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .sales-list {
        &._3 {
            @include row(70px);
            .sales-list__item, .sales-list__item:last-of-type {
                @include col(33.33%, 70px)
            }
        }
        &._4 {
            .sales-list__item {
                @include col(25%, 50px)
            }
        }
    }
}