.section {
    margin-bottom: 50px;
    .section__h {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 20px;
        white-space: pre-line;
    }
    .section__lead {
        opacity: 0.5;
        font-size: 16px;
        margin-bottom: 28px;
    }
    .section__button {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &._inverse {
        padding-top: 20px;
        padding-bottom: 20px;
        .section__h {
            color: $white;
        }
        .section__lead {
            color: $white;
        }
    }
    &._nomargin {
        margin-bottom: 0;
    }
    &._builders {
        .builders-list {
            margin-bottom: 64px;
            @include media-breakpoint-up(md) {
                margin-bottom: 16px;
            }
            @include media-breakpoint-only(sm) {
                .builders-list__item {
                    height: 468px;
                    .builders-list__item__inner {
                        height: 100%;
                    }
                    .builders-list__item__img-wrapper {
                        height: 110px;
                    }
                    .builders-list__item__name {
                        font-size: 21px;
                        line-height: 1.24;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .builders-list__item__rate {
                        height: 95px;
                        .builders-list__item__accent {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
        .section__button._more {
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    &._about {
        @include media-breakpoint-up(md) {
            .btn {
                width: 188px;
            }
        }
    }
    &._hypothec {
        .section__button._more {
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    &._news {
        .section__button._more {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        .scroll-wrapper {
            margin-bottom: 40px;
        }
        .news-related-list {
            @include media-breakpoint-up(lg) {
                @include row(27px);
                margin-bottom: 13px;
                .news-item {
                    @include col(33.33%, 27px);
                    margin-bottom: 27px;
                }
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .section {
        margin-bottom: 70px;
        .section__h {
            font-size: 35px;
            margin-bottom: 40px;
            + .section__lead {
                margin-top: -30px;
            }
        }
        .section__lead {
            font-size: 18px;
            margin-bottom: 34px;
        }
        &._inverse {
            padding-top: 30px;
            padding-bottom: 40px;
            .index-section__h {
                color: $white;
            }
            .section__lead {
                color: $white;
            }
        }
        .section__button {
            width: 270px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@include media-breakpoint-up(lg) {
    .section {
        .section__h {
            font-size: 40px;
        }
        &._inverse {
            /*padding-top: 40px;*/
        }
    }
}