.section {
    margin-bottom: 50px;
    .section__h {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 20px;
        white-space: pre-line;
    }
    .section__lead {
        opacity: 0.5;
        font-size: 16px;
        margin-bottom: 28px;
    }
    .section__button {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &._inverse {
        padding-top: 20px;
        padding-bottom: 20px;
        .section__h {
            color: $white;
        }
        .section__lead {
            color: $white;
        }
    }
    &._nomargin {
        margin-bottom: 0;
    }
}
@include media-breakpoint-up(md) {
    .section {
        margin-bottom: 70px;
        .section__h {
            font-size: 35px;
            margin-bottom: 40px;
            + .section__lead {
                margin-top: -30px;
            }
        }
        .section__lead {
            font-size: 18px;
            margin-bottom: 34px;
        }
        &._inverse {
            padding-top: 30px;
            padding-bottom: 40px;
            .index-section__h {
                color: $white;
            }
            .section__lead {
                color: $white;
            }
        }
        .section__button {
            width: 270px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@include media-breakpoint-up(lg) {
    .section {
        .section__h {
            font-size: 40px;
        }
        &._inverse {
            padding-top: 40px;
        }
    }
}