<section class="container section">
    <h3 class="section__h">Специальные предложения для клиентов компании</h3>
    <div class="services">
        <div class="services__item">
            <div class="services__item__inner">
                <div class="services__item__content">
                    <h4 class="services__item__h">
                        Юридические услуги
                    </h4>
                    <div class="rte">
                        <ul>
                            <li>Услуги в сфере оформления прав на недвижимое имущество</li>
                            <li>Договорная работа</li>
                            <li>Представление интересов клиента в суде</li>
                        </ul>
                    </div>
                </div>
                <div class="services__item__img-wrapper">
                    <img src="img/services/1.png"
                         srcset="img/services/1@2x.png 2x,
                         img/services/1@3x.png 3x"
                         alt="alt text">
                </div>
            </div>
        </div>
        <div class="services__item">
            <div class="services__item__inner">
                <div class="services__item__content">
                    <h4 class="services__item__h">
                        Услуга страхование
                    </h4>
                    <div class="rte">
                        <p>
                            Мы поможем подобрать оптимальные условия страховой программы 
                            прямо у нас в офисе. Также Вы можете оформить страховой полис 
                            дистанционно.
                        </p>
                    </div>
                </div>
                <div class="services__item__img-wrapper">
                    <img src="img/services/2.png"
                         srcset="img/services/2@2x.png 2x,
                         img/services/2@3x.png 3x"
                         alt="alt text">
                </div>
            </div>
        </div>
    </div>
</section>