<section class="container section">
    <div class="services">
        <div class="services__item _seller _3">
            <div class="services__item__inner">
                <div class="services__item__content">
                    <h4 class="services__item__h">
                        Узнайте, сколько стоит ваша недвижимость
                    </h4>
                    <ul class="services__item__list">
                        <li>Система сама рассчитает рыночную стоимость вашей недвижимости</li>
                        <li>Изменяйте цену онлайн и влияйте на скорость продажи своей недвижимости</li>
                    </ul>
                </div>
                <div class="services__item__footer">
                    <a href="#" class="btn _lg _secondary">Получить оценку стоимости</a>
                </div>
                <div class="services__item__img-wrapper">
                    <img src="img/services/3.png"
                         srcset="img/services/3@2x.png 2x,
                         img/services/3@3x.png 3x"
                         alt="alt text">
                </div>
            </div>
        </div>
        <div class="services__item _seller _4">
            <div class="services__item__inner">
                <div class="services__item__content">
                    <h4 class="services__item__h">
                        Начните продажу прямо сейчас
                    </h4>
                    <ul class="services__item__list">
                        <li>Разместите свою недвижимость на продажу онлайн не выходя из дома</li>
                        <li>Ваше предложение на сайте увидят более 7000 потенциальных клиентов в день</li>
                    </ul>
                </div>
                <div class="services__item__footer">
                    <a href="#" class="btn _lg _secondary">Разместить квартиру</a>
                </div>
                <div class="services__item__img-wrapper">
                    <img src="img/services/4.png"
                         srcset="img/services/4@2x.png 2x,
                         img/services/4@3x.png 3x"
                         alt="alt text">
                </div>
            </div>
        </div>
    </div>
</section>