<section class="section container reviews">
    <h3 class="section__h">Отзывы работников «Монолит Истейт»</h3>
    <div class="reviews__list _big">
        <div class="reviews__list__item"></div>
    </div>
    <div class="reviews__list js-slider-reviews">
        @@include('./item-employee.html', {
        "img": 2,
        "title": "Устинова Ольга",
        "post": "Риэлтор",
        "age": "4 года",
        "text": "В компании работаю около 4-х лет. Сначала работала специалистом Департамента информации, затем ипотечным брокером, ведущим брокером и сегодня я руководитель отдела ипотечного кредитования. Конечно, возникали определенные сложности. В новой профессии необходимо погрузиться в рабочую атмосферу офиса: привыкнуть к шуму, к большому потоку клиентов. Сейчас в нашем отделе разработана двухнедельная система обучения специалистов по ипотеке. Специалистам, которые недавно пришли в профессию, желаю умения адаптироваться к новым обстоятельствам, быть гибче и уметь подстраиваться под новые рыночные условия."
        })
        @@include('./item-employee.html', {
        "img": 1,
        "title": "Раиса Васильевна Серикова",
        "post": "Руководитель отдела",
        "age": "30 лет",
        "text": "Итак, ясно, что рекламная кампания притягивает жизненный цикл продукции. Медиавес, следовательно, поддерживает популярный имидж предприятия, невзирая на действия конкурентов. Рыночная ситуация, конечно, усиливает поведенческий таргетинг, опираясь на опыт западных коллег. Потребительская культура неоднозначна. Построение бренда амбивалентно. Реклама очевидна не для всех. Позиционирование на рынке как всегда непредсказуемо. Точечное воздействие определяет рекламный клаттер."
        })
        @@include('./item-employee.html', {
        "img": 2,
        "title": "Устинова Ольга",
        "post": "Риэлтор",
        "age": "4 года",
        "text": "В компании работаю около 4-х лет. Сначала работала специалистом Департамента информации, затем ипотечным брокером, ведущим брокером и сегодня я руководитель отдела ипотечного кредитования. Конечно, возникали определенные сложности. В новой профессии необходимо погрузиться в рабочую атмосферу офиса: привыкнуть к шуму, к большому потоку клиентов. Сейчас в нашем отделе разработана двухнедельная система обучения специалистов по ипотеке. Специалистам, которые недавно пришли в профессию, желаю умения адаптироваться к новым обстоятельствам, быть гибче и уметь подстраиваться под новые рыночные условия."
        })
        @@include('./item-employee.html', {
        "img": 1,
        "title": "Раиса Васильевна Серикова",
        "post": "Руководитель отдела",
        "age": "30 лет",
        "text": "Итак, ясно, что рекламная кампания притягивает жизненный цикл продукции. Медиавес, следовательно, поддерживает популярный имидж предприятия, невзирая на действия конкурентов. Рыночная ситуация, конечно, усиливает поведенческий таргетинг, опираясь на опыт западных коллег. Потребительская культура неоднозначна. Построение бренда амбивалентно. Реклама очевидна не для всех. Позиционирование на рынке как всегда непредсказуемо. Точечное воздействие определяет рекламный клаттер."
        })
    </div>
    <a href="#" class="btn _secondary _lg section__button">Все отзывы</a>
</section>