<div class="reviews__list__item slide">
    <div class="reviews__list__item__inner">
        <div class="reviews__list__item__header">
            <div class="reviews__list__item__img-wrapper">
                <img class="reviews__list__item__img"
                     src="img/reviews/@@img.jpg"
                     srcset="img/reviews/@@img@2x.jpg 2x,
                     img/reviews/@@img@3x.jpg 3x"
                     alt="alt text">
            </div>
            <div class="reviews__list__item__header__inner">
                <div class="reviews__list__item__title">
                    @@title
                </div>
                <div class="reviews__list__item__subtitle">
                    @@post
                </div>
                <div class="reviews__list__item__agent">
                    Стаж работы — @@age
                </div>
            </div>
        </div>
        <div class="reviews__list__item__content">
            @@text
        </div>
    </div>
</div>