<div class="builders-list__item _full">
    <div class="builders-list__item__inner">
        <span class="builders-list__item__img-wrapper">
            <img src="img/partners/@@img.png"
                 srcset="img/partners/@@img@2x.png 2x,
                 img/partners/@@img@3x.png 3x"
                 alt="@@name">
        </span>
        <span class="builders-list__item__name">@@name</span>
        <span class="builders-list__item__muted">@@work</span>
        <div class="builders-list__item__rate-wrapper">
            <span class="builders-list__item__rate">
                <span class="builders-list__item__muted">средняя цена за кв. м</span>
                <span class="builders-list__item__accent">@@rate1</span>
            </span>
            <span class="builders-list__item__rate">
                <span class="builders-list__item__muted">квартир в продаже</span>
                <span class="builders-list__item__accent">@@rate2</span>
            </span>
            <span class="builders-list__item__rate">
                <span class="builders-list__item__muted">кв. м в продаже</span>
                <span class="builders-list__item__accent">@@rate3</span>
            </span>
        </div>
        <a href="#" class="btn _lg _secondary">Подробнее</a>
    </div>
</div>