<section class="section">
    @@include('./list-header.html', {"class": "", "type": "new"})

    <div class="container">
        <div class="builders-list">
            @@include('./item.html', {
            "img": "snegiri",
            "name": "СК «Снегири»",
            "work": "Работает с 2004 года",
            "rate1": "52 344",
            "rate2": "827",
            "rate3": "32 666"
            })
            @@include('./item.html', {
            "img": "cascad",
            "name": "ООО «Каскад Риэлти»",
            "work": "Работает с 2012 года",
            "rate1": "49 812",
            "rate2": "545",
            "rate3": "23 458"
            })
            @@include('./item.html', {
            "img": "glavstroy",
            "name": "ООО «ГлавСтрой-Истейт»",
            "work": "Работает с 2014 года",
            "rate1": "51 382",
            "rate2": "912",
            "rate3": "45 123"
            })
            @@include('./item.html', {
            "img": "snegiri",
            "name": "СК «Снегири»",
            "work": "Работает с 2008 года",
            "rate1": "52 344",
            "rate2": "827",
            "rate3": "32 666"
            })
            
            @@include('./item.html', {
            "img": "cascad",
            "name": "ООО «Каскад Риэлти»",
            "work": "Работает с 2012 года",
            "rate1": "49 812",
            "rate2": "545",
            "rate3": "23 458"
            })
            @@include('./item.html', {
            "img": "glavstroy",
            "name": "ООО «ГлавСтрой-Истейт»",
            "work": "Работает с 2014 года",
            "rate1": "51 382",
            "rate2": "912",
            "rate3": "45 123"
            })
            @@include('./item.html', {
            "img": "snegiri",
            "name": "СК «Снегири»",
            "work": "Работает с 2008 года",
            "rate1": "52 344",
            "rate2": "827",
            "rate3": "32 666"
            })
            @@include('./item.html', {
            "img": "snegiri",
            "name": "СК «Снегири»",
            "work": "Работает с 2004 года",
            "rate1": "52 344",
            "rate2": "827",
            "rate3": "32 666"
            })
            
            @@include('./item.html', {
            "img": "glavstroy",
            "name": "ООО «ГлавСтрой-Истейт»",
            "work": "Работает с 2014 года",
            "rate1": "51 382",
            "rate2": "912",
            "rate3": "45 123"
            })
            @@include('./item.html', {
            "img": "snegiri",
            "name": "СК «Снегири»",
            "work": "Работает с 2008 года",
            "rate1": "52 344",
            "rate2": "827",
            "rate3": "32 666"
            })
            @@include('./item.html', {
            "img": "snegiri",
            "name": "СК «Снегири»",
            "work": "Работает с 2004 года",
            "rate1": "52 344",
            "rate2": "827",
            "rate3": "32 666"
            })
            @@include('./item.html', {
            "img": "cascad",
            "name": "ООО «Каскад Риэлти»",
            "work": "Работает с 2012 года",
            "rate1": "49 812",
            "rate2": "545",
            "rate3": "23 458"
            })
            
        </div>
    </div>

    @@include('./list-header.html', {"class": "_white _footer"})
    <div class="container">
        <button class="btn _secondary _lg section__button">Показать еще</button>
    </div>
</section>