<section class="container section _builders">
    <h3 class="section__h">Застройщики-партнеры</h3>
    <div class="builders-list slider-small js-slider-small">
        @@include('./item-index.html', {
        "img": "snegiri",
        "name": "СК «Снегири»",
        "rate1": "52 344",
        "rate2": "827",
        "rate3": "32 666"
        })
        @@include('./item-index.html', {
        "img": "cascad",
        "name": "ООО «Каскад Риэлти»",
        "rate1": "49 812",
        "rate2": "545",
        "rate3": "23 458"
        })
        @@include('./item-index.html', {
        "img": "glavstroy",
        "name": "ООО «ГлавСтрой-Истейт»",
        "rate1": "51 382",
        "rate2": "912",
        "rate3": "45 123"
        })
        @@include('./item-index.html', {
        "img": "snegiri",
        "name": "СК «Снегири»",
        "rate1": "52 344",
        "rate2": "827",
        "rate3": "32 666"
        })
    </div>
    <button class="btn _primary _lg section__button _more">
        <span>Больше застройщиков</span><i class="icon-more"></i></button>
    <a href="builders.html" class="btn _secondary _lg section__button">Все застройщики</a>
</section>