<section class="container section agents">
    <h3 class="section__h">Наши агенты</h3>
    <div class="agents-slider-wrapper">
        <ul class="agents-slider js-agents-slider">
            @@include('./chunks/agents-item.html', {
            "active": 1,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
        </ul>
        <div class="agents__full js-agents-slider__full">
            <img class="agents__full__img js-agents-slider__full__img">
            <div class="agents__full__name js-agents-slider__full__name"></div>
            <div class="agents__full__phone js-agents-slider__full__phone"><a href="#"></a></div>
            <div class="agents__full__link js-agents-slider__full__mail"><a href="#"></a></div>
            <div class="agents__full__all js-agents-slider__full__url"><a href="#">Посмотреть все объекты</a></div>
        </div>
        <div class="agents__buttons">
            <a href="#" class="btn _lg _solid js-agents-slider__url">Начать сотрудничество</a>
            <a href="agents.html" class="btn _lg _secondary">Все риэлторы</a>
        </div>
    </div>
</section>