<section class="section _inverse @@if(margin == 0){_nomargin} callme">
    <div class="container">
        <div class="callme__wrapper">
            <div class="callme__inner">
                <h3 class="section__h">@@title</h3>
                <p class="section__lead">Заполните заявку на подбор недвижимости. 
                    Наш специалист свяжется с Вами и ответит на все вопросы!</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (123) 456-78-90" class="js-mask__tel">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="callme__wrapper__img-wrapper @@class">
                <img src="img/@@img.png"
                     srcset="img/@@img@2x.png 2x,
                     img/@@img@3x.png 3x"
                     alt="alt text">
            </div>
        </div>
    </div>
</section>