<div class="dev">
    <span id="dev_toggler" class="dev__toggler">&lt;/&gt;</span>
    <ul>
        <li><a href="index.html">main</a></li>
        <li><a href="second.html">second</a></li>
        <li><a href="rent.html">rent</a></li>
        <li><a href="commercial.html">commercial</a></li>
        <li><a href="onmap.html">on map</a></li>
        <li><a href="result.html">result</a></li>
        <li><a href="result-map.html">result-map</a></li>
        <li><a href="detail.html">detail</a></li>
        <li><a href="new.html">new</a></li>
        <li><a href="new-result.html">new-result</a></li>
        <li><a href="new-detail_1-agent.html">new-detail 1 agent</a></li>
        <li><a href="new-detail_2-agent.html">new-detail 2 agent</a></li>
        <li><a href="new-detail_3-agent.html">new-detail 3 agent</a></li>
        <li><a href="content.html">content</a></li>
        <li><a href="builders.html">builders</a></li>
        <li><a href="builder.html">builder</a></li>
        <li><a href="news.html">news</a></li>
        <li><a href="news-detail.html">news-detail</a></li>
        <li><a href="agents.html">agents</a></li>
        <li><a href="agent.html">agent</a></li>
        <li><a href="work.html">work</a></li>
        <li><a href="for-seller.html">for seller</a></li>
        <li><a href="hypothec.html">hypothec</a></li>
        <li><a href="analytic1.html">analytic1</a></li>
        <li><a href="analytic2.html">analytic2</a></li>
        <li><a href="analytic-tabs.html">analytic-tabs</a></li>
        <li><a href="about.html">about</a></li>
        <li><a href="contacts.html">contacts</a></li>
        <li><a href="infrastructure.html">infrastructure</a></li>
        <li><a href="404.html">404</a></li>
        <li><a href="auth.html">auth</a></li>
        <li><a href="sitemap.html">sitemap</a></li>
        <li><a href="reviews.html">reviews</a></li>
    </ul>
</div>
<script>
    (function () {
        var t = document.getElementById('dev_toggler');
        var p = t.parentElement;
        t.addEventListener('click', function(e) {
            e.stopPropagation();
            this.parentElement.classList.toggle('_active');
        });
        p.addEventListener('click', function(e) {
            e.stopPropagation();
        });
        window.addEventListener('click', function () {
            p.classList.remove('_active');
        });
    }());
</script>