<section class="container section find-on-map-section">
    <a href="#" class="find-on-map">
        <div class="find-on-map__img-wrapper">
            <div class="find-on-map__img-inner">
                <img class="find-on-map__img"
                     src="img/realty/map1.jpg"
                     srcset="img/realty/map1@2x.jpg 2x,
                     img/realty/map1@3x.jpg 3x"
                     alt="alt text">
            </div>
        </div>
        <div class="find-on-map__content">
            <i class="icon-map"></i>@@text
        </div>
    </a>
</section>