@@include('./dev.html')

<link href="fonts/Lato/lato.css" rel="stylesheet" type="text/css">
<link href="fonts/fontello/css/fontello.css" rel="stylesheet" type="text/css">
<link href="css/libs/slick.css" rel="stylesheet" type="text/css">
<link href="css/libs/jquery.scrollbar.css" rel="stylesheet" type="text/css">
<link href="css/libs/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">

<link href="css/dev.css" rel="stylesheet" type="text/css">

@@if (all) {
    <link href="css/libs/nouislider.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/datepicker/datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/datepicker/cell.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/datepicker/navigation.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/datepicker/timepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/all.css" rel="stylesheet" type="text/css">
}

<script>
    var appConfig = {
        breakpoint: {
            sm: 320,
            md: 768,
            lg: 1280
        },
        sliderFadeSpeed: 800,
        sliderAutoplaySpeed: 8000,
        logoUpdateTimeout: 3000,
        minPasswordLength: 8
    };
</script>

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/libs/jquery.scrollbar.min.js"></script>
<script src="js/libs/jquery.fancybox.min.js"></script>
<script src="js/libs/jquery.inputmask.bundle.min.js"></script>
<script src="js/libs/jquery.easytabs.modified.js"></script>
<script src="js/libs/jquery.validate.min.js"></script>
<script src="js/libs/select2.min.js"></script>
<script src="js/libs/nouislider.min.js"></script>
<script src="js/libs/datepicker.min.js"></script>
<script src="js/common.js"></script>