<footer class="footer">
    <div class="footer__dark">
        <div class="container">
            <ul class="footer__dark__menu">
                <li><a href="second.html">Вторичное жилье</a></li>
                <li><a href="new.html">Новостройки без комиссии</a></li>
                <li><a href="#">Дома, дачи, участки</a></li>
                <li><a href="rent.html">Аренда</a></li>
                <li><a href="commercial.html">Коммерческая</a></li>
                <li><a href="hypothec.html">Ипотека</a></li>
                <li><a href="for-seller.html">Продавцу</a></li>
                <li><a href="#">Аналитика</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__light">
        <div class="container">
            <div class="footer__up">
                <div class="footer__up__col _col1">
                    <ul class="footer__menu">
                        <li><a href="work.html">Работа в компании «Монолит Истейт»</a></li>
                        <li><a href="#">О компании «Монолит Истейт»</a></li>
                        <li><a href="news.html">Новости компании</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__up__col _col2">
                    <ul class="footer__menu">
                        <li><a href="agents.html">Специалисты по недвижимости</a></li>
                        <li><a href="builders.html">Застройщики</a></li>
                        <li><a href="#">Аналитика</a></li>
                    </ul>
                </div>
                <div class="footer__up__col _col3">
                    <ul class="footer__contacts">
                        <li>г. Нижний Новгород,<br>
                            ул. Большая Покровская, д. 69</li>
                        <li>Email: kostina@monolit.nnov.ru<br>
                            Тел.: <a href="tel:+78312199067">+7 (831) 219-90-67</a></li>
                    </ul>
                </div>
                <div class="footer__up__col _col4">
                    <div class="footer__social">
                        @@include('./chunks/social.html', {"text":""})
                    </div>
                </div>
            </div>
            <div class="footer__down">
                <div class="footer__down__col _col1">
                    <div class="footer__copyright">
                        © Copyright 2017 Агентство недвижимости "Монолит Истейт». Все права защищены.
                    </div>
                </div>
                <div class="footer__down__col _col2">
                    <ul class="footer__agreement">
                        <li><a href="#">Политика конфиденциальности</a></li>
                        <li><a href="#">Пользовательское соглашение</a></li>
                    </ul>
                </div>
                <div class="footer__down__col _col3">
                    <a href="//riverstart.ru" target="_blank" rel="noopener nofollow" class="footer__made">
                        <img src="img/riverstart.svg" alt="riverstart">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>