<div class="gallery js-panorama-gallery">
    <div class="js-panorama-gallery__slider">
        <div class="slide">
            <div class="panorama">
                <div class="js-panorama" data-panorama="img/panorama.jpg"></div>
            </div>
        </div>
        <div class="slide">
            <div class="panorama">
                <div class="js-panorama" data-panorama="img/panorama.jpg"></div>
            </div>
        </div>
    </div>
</div>
<div class="gallery-nav js-panorama-gallery-nav">
    <div class="slide">
        <img src="img/content/s1small.jpg"
             srcset="img/content/s1small@2x.jpg 2x,
             img/content/s1small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s2small.jpg"
             srcset="img/content/s2small@2x.jpg 2x,
             img/content/s2small@3x.jpg 3x">
    </div>
</div>