<div class="gallery js-gallery">
    <div class="js-gallery__slider">
        <a href="img/content/s1.jpg" class="slide">
            <img src="img/content/s1.jpg"
                 srcset="img/content/s1@2x.jpg 2x,
                 img/content/s1@3x.jpg 3x">
        </a>
        <a href="img/content/s2.jpg" class="slide">
            <img src="img/content/s2.jpg"
                 srcset="img/content/s2@2x.jpg 2x,
                 img/content/s2@3x.jpg 3x">
        </a>
        <a href="img/content/s1.jpg" class="slide">
            <img src="img/content/s1.jpg"
                 srcset="img/content/s1@2x.jpg 2x,
                 img/content/s1@3x.jpg 3x">
        </a>
        <a href="img/content/s2.jpg" class="slide">
            <img src="img/content/s2.jpg"
                 srcset="img/content/s2@2x.jpg 2x,
                 img/content/s2@3x.jpg 3x">
        </a>
        <a href="img/content/s1.jpg" class="slide">
            <img src="img/content/s1.jpg"
                 srcset="img/content/s1@2x.jpg 2x,
                 img/content/s1@3x.jpg 3x">
        </a>
        <a href="img/content/s2.jpg" class="slide">
            <img src="img/content/s2.jpg"
                 srcset="img/content/s2@2x.jpg 2x,
                 img/content/s2@3x.jpg 3x">
        </a>
        <a href="img/content/s1.jpg" class="slide">
            <img src="img/content/s1.jpg"
                 srcset="img/content/s1@2x.jpg 2x,
                 img/content/s1@3x.jpg 3x">
        </a>
        <a href="img/content/s2.jpg" class="slide">
            <img src="img/content/s2.jpg"
                 srcset="img/content/s2@2x.jpg 2x,
                 img/content/s2@3x.jpg 3x">
        </a>
    </div>
    <div id="panorama" class="gallery__panorama js-panorama" data-geo="55.733685, 37.588264"></div>
    <span class="gallery__counter">
        <span class="js-gallery__current">1</span> из
        <span class="js-gallery__total"></span>
    </span>
    <span class="gallery__panorama-toggler js-panorama__toggler">Смотреть панораму</span>
</div>
<div class="gallery-nav js-gallery-nav">
    <div class="slide">
        <img src="img/content/s1small.jpg"
             srcset="img/content/s1small@2x.jpg 2x,
             img/content/s1small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s2small.jpg"
             srcset="img/content/s2small@2x.jpg 2x,
             img/content/s2small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s1small.jpg"
             srcset="img/content/s1small@2x.jpg 2x,
             img/content/s1small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s2small.jpg"
             srcset="img/content/s2small@2x.jpg 2x,
             img/content/s2small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s1small.jpg"
             srcset="img/content/s1small@2x.jpg 2x,
             img/content/s1small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s2small.jpg"
             srcset="img/content/s2small@2x.jpg 2x,
             img/content/s2small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s1small.jpg"
             srcset="img/content/s1small@2x.jpg 2x,
             img/content/s1small@3x.jpg 3x">
    </div>
    <div class="slide">
        <img src="img/content/s2small.jpg"
             srcset="img/content/s2small@2x.jpg 2x,
             img/content/s2small@3x.jpg 3x">
    </div>
</div>