<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top__city">
                Город: <a href="#city" class="header__top__city__select js-popup">Нижний Новгород</a>
            </div>
            <nav>
                <ul class="header__top__nav">
                    <li><a href="#">Акции</a></li>
                    <li><a href="#" class="header__top__nav__accent">Услуги</a></li>
                    <li><a href="about.html">О компании</a></li>
                    <li><a href="work.html">Вакансии</a></li>
                    <li><a href="news.html">Новости</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__main__menu"><button data-href="#menu" class="header__main__menu__link js-menu-toggler"><i class="icon-menu"></i></button></div>
            <div class="header__main__logo"><a href="index.html"><img src="img/logo-old.png" data-newsrc="img/logo-new.png" class="js-logo"></a></div>
            <div class="header__main__fav">
                <a href="#" class="header__main__fav__link"><i class="icon-star"></i><span class="header__main__md">Избранное</span></a>
                <div class="header__main__fav__counter header__main__md">10 позиций</div>
            </div>
            <div class="header__main__user">
                <div class="header__main__sm">
                    <a href="#" class="header__main__user__link"><i class="icon-user"></i></a>
                </div>
                <div class="header__main__md">
                    <a href="#login" class="header__main__user__link btn _primary js-popup"><i class="icon-user _middle"></i> Войти</a>
                    <a href="#signup" class="header__main__user__link btn _secondary js-popup">Регистрация</a>
                </div>
            </div>
            <div class="header__main__phone">
                <div class="header__main__md">+7 (831) 219-90-67</div>
                <span data-href="#call" class="header__main__phone__link js-popup"><i class="icon-phone"></i><span class="header__main__md link">Заказать звонок</span></span>
            </div>
            <div class="header__main__contacts">
                <div class="header__main__contacts__text">Звоните нам с 7:30 до 24:00</div>
                <a href="contacts.html" class="header__main__contacts__link"><i class="icon-map _middle"></i> Контакты</a>
            </div>
        </div>
    </div>
    <div id="menu" class="header__menu js-menu">
        <div class="header__menu__inner scrollbar-outer js-scrollbar-sm-md">
            <div class="header__menu-mobile">
                <div class="header__menu-mobile__top">
                    <div class="header__menu__user">
                        <a href="#city" class="header__main__user__link btn _primary js-popup">Город: Нижний Новгород</a>
                        <a href="#login" class="header__main__user__link btn _primary js-popup"><i class="icon-user _middle"></i> Войти</a>
                        <a href="#signup" class="header__main__user__link btn _secondary js-popup">Регистрация</a>
                    </div>
                    <div class="header__menu__phone">
                        <div>
                            <a class="header__menu__phone__a" href="#">+7 (831) 219-90-67</a>
                        </div>
                        <span data-href="#call" class="header__menu__phone__link js-popup"><i class="icon-phone"></i><span class="link _inverse">Заказать звонок</span></span>
                    </div>
                    <div class="header__menu__contacts">
                        <div class="header__menu__contacts__text">Звоните нам с 7:30 до 24:00</div>
                        <a href="contacts.html" class="header__menu__contacts__link"><i class="icon-map _middle"></i> Контакты</a>
                    </div>
                </div>
                <ul class="header__menu-mobile__first">
                    <li>
                        <span>Недвижимость</span>
                        <ul class="header__menu-mobile__second">
                            <li><a href="#">Вторичное жилье</a></li>
                            <li><a href="#">Новостройки без комиссии</a></li>
                            <li><a href="#">Дома, дачи, участки</a></li>
                            <li><a href="#">Аренда</a></li>
                            <li><a href="#">Коммерческая</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Покупателям и продавцам</span>
                        <ul class="header__menu-mobile__second">
                            <li><a href="#">Ипотека</a></li>
                            <li><a href="#">Продавцу</a></li>
                            <li><a href="#">Застройщики</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Новости рынка недвижимости</a></li>
                            <li><a href="#">Акции</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Компания</span>
                        <ul class="header__menu-mobile__second">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Рейтинг агентов</a></li>
                            <li><a href="#">Специалисты по недвижимости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header__menu-desktop">
                <div class="container">
                    <ul class="header__menu__first">
                        <li><button class="header__menu__first__toggler js-menu-second-toggler"><i class="icon-menu"></i></button></li>
                        <li><a href="second.html" @@if(active == "second"){class="_active"}>Вторичное жилье</a></li>
                        <li><a href="new.html" @@if(active == "new"){class="_active"}>Новостройки без комиссии</a></li>
                        <li><a href="#">Дома, дачи, участки</a></li>
                        <li><a href="rent.html" @@if(active == "rent"){class="_active"}>Аренда</a></li>
                        <li><a href="commercial.html" @@if(active == "commercial"){class="_active"}>Коммерческая</a></li>
                        <li><a href="hypothec.html" @@if(active == "hypothec"){class="_active"}>Ипотека</a></li>
                        <li><a href="for-seller.html" @@if(active == "for-seller"){class="_active"}>Продавцу</a></li>
                        <li><a href="analytic.html" @@if(active == "analytic"){class="_active"}>Аналитика</a></li>
                    </ul>
                    <div class="header__menu__second-wrapper js-menu-second">
                        <div class="container">
                            <div class="header__menu__second-inline">
                                <ul class="header__menu__second">
                                    <li><a href="work.html">Вакансии</a></li>
                                    <li><a href="analytic.html">Услуги</a></li>
                                    <li><a href="#">Рейтинг агентов</a></li>
                                    <li><a href="about.html">О компании</a></li>
                                    <li><a href="builders.html">Застройщики</a></li>
                                    <li><a href="news.html">Новости рынка недвижимости</a></li>
                                    <li><a href="#">Акции</a></li>
                                    <li><a href="contacts.html">Контакты</a></li>
                                    <li><a href="agents.html">Специалисты по недвижимости</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>