<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top__city">
                Город: <a href="#" class="header__top__city__select">Нижний Новгород</a>
            </div>
            <nav>
                <ul class="header__top__nav">
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>