<div class="hypothec__list _scroll js-hypothec__scroll">
    <div class="js-scrollbar scrollbar-outer _hor">
        @@include('./chunks/hypothec-item.html', {
        "img": "sberbank",
        "bank": "Сбербанк",
        "rate": "7,5",
        "text": "Сбербанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
        @@include('./chunks/hypothec-item.html', {
        "img": "vtb",
        "bank": "ВТБ",
        "rate": "8",
        "text": "ВТБ. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
        @@include('./chunks/hypothec-item.html', {
        "img": "binbank",
        "bank": "Бинбанк",
        "rate": "12",
        "text": "Бинбанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
        @@include('./chunks/hypothec-item.html', {
        "img": "gazprombank",
        "bank": "Газпромбанк",
        "rate": "10,5",
        "text": "Газпромбанк. Акция «Больше ставка»"
        })
        @@include('./chunks/hypothec-item.html', {
        "img": "sberbank",
        "bank": "Сбербанк",
        "rate": "7,5",
        "text": "Сбербанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
    </div>
</div>