<section class="container section realty">
    <h3 class="section__h">Недвижимость в Нижнем Новгороде</h3>
    <div class="realty__list">
        @@include('./chunks/index-realty-item.html', {
        "img": "1",
        "title": "Вторичное жилье",
        "total": "19238 вариантов",
        "text1": "Однокомнатные квартиры",
        "text2": "Двухкомнатные квартиры",
        "text3": "Трехкомнатные квартиры",
        "text4": "Четырехкомнатные квартиры",
        "plus1": "+32",
        "plus2": "+19",
        "plus3": "+8",
        "total1": "4623",
        "total2": "5411",
        "total3": "853",
        "total4": "677"
        })
        @@include('./chunks/index-realty-item.html', {
        "img": "2",
        "title": "Квартиры в аренду",
        "total": "9123 варианта",
        "text1": "Однокомнатные квартиры",
        "text2": "Двухкомнатные квартиры",
        "text3": "Трехкомнатные квартиры",
        "text4": "Четырехкомнатные квартиры",
        "plus1": "+32",
        "plus2": "+19",
        "plus3": "+8",
        "total1": "2146",
        "total2": "3452",
        "total3": "124",
        "total4": "922"
        })
        @@include('./chunks/index-realty-item.html', {
        "img": "3",
        "title": "Коммерческая",
        "total": "7587 вариантов",
        "text1": "Офисы",
        "text2": "Торговые",
        "text3": "Готовый бизнес",
        "text4": "Земля",
        "plus1": "+20",
        "plus2": "+11",
        "plus3": "+16",
        "total1": "167",
        "total2": "125",
        "total3": "891",
        "total4": "74"
        })
        @@include('./chunks/index-realty-item.html', {
        "img": "4",
        "title": "Новостройки",
        "total": "17354 варианта",
        "text1": "Однокомнатные квартиры",
        "text2": "Двухкомнатные квартиры",
        "text3": "Трехкомнатные квартиры",
        "text4": "Четырехкомнатные квартиры",
        "plus1": "+32",
        "plus2": "+19",
        "plus3": "+8",
        "total1": "8511",
        "total2": "5411",
        "total3": "853",
        "total4": "788"
        })
        @@include('./chunks/index-realty-item.html', {
        "img": "5",
        "title": "Загородная",
        "total": "9123 варианта",
        "text1": "Земля",
        "text2": "Дома",
        "text3": "Дачи",
        "text4": "Коттеджи, таунхаусы",
        "plus1": "+20",
        "plus2": "+11",
        "plus3": "+16",
        "total1": "2146",
        "total2": "3452",
        "total3": "125",
        "total4": "822"
        })
        <div class="realty__list__item _map">
            <a href="#" class="realty__list__item__inner">
                <div class="realty__list__item__img-wrapper">
                    <div class="realty__list__item__img-inner">
                        <img class="realty__list__item__img"
                             src="img/realty/map.png"
                             srcset="img/realty/map@2x.png 2x,
                             img/realty/map@3x.png 3x"
                             alt="map">
                    </div>
                </div>
                <div class="realty__list__item__content-wrapper">
                    <i class="icon-map"></i>Поиск на карте
                </div>
            </a>
        </div>
    </div>
</section>