<section class="container index-section agents">
    <h3 class="index-section__h3">Наши агенты</h3>
    <div class="agents-list-wrapper">
        <ul class="agents-list js-slider-agents">
            @@include('./chunks/index-agents-item.html', {
            "active": 1,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "4.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "1.jpg",
            "short": "Александр",
            "name": "Пушкин Александр Сергеевич"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "3.jpg",
            "short": "Ольга",
            "name": "Столбова Ольга Арслановна"
            })
            @@include('./chunks/index-agents-item.html', {
            "active": 0,
            "img": "2.jpg",
            "short": "Модест",
            "name": "Мусоргский Модест Петрович"
            })
        </ul>
        <div class="agents__full js-slider-agents__full">
            <img class="agents__full__img js-slider-agents__full__img">
            <div class="agents__full__name js-slider-agents__full__name"></div>
            <div class="agents__full__phone js-slider-agents__full__phone"><a href="#"></a></div>
            <div class="agents__full__link js-slider-agents__full__link"><a href="#"></a></div>
            <div class="agents__full__all js-slider-agents__full__all"><a href="#">Посмотреть все объекты</a></div>
        </div>
        <div class="agents__buttons">
            <a href="#" class="btn _lg _solid">Начать сотрудничество</a>
            <a href="#" class="btn _lg _secondary">Все риэлторы</a>
        </div>
    </div>
</section>