<div class="main-slider js-slider-main">
    <div class="main-slider__inner js-slider-main__slider">
        <div class="section _inverse slide"
             style="background: linear-gradient(193deg, #7faed8, #4585be)">
            <div class="container">
                <div class="main-slider__text"
                     style="color: white">
                    <p>Госкомпания "Дом.рф" (ранее АИЖК) повысила ставки по ипотеке, следует из материалов на сайте компании. Так, предоставляемая ранее под 9-9,25 процента ипотека на готовое жилье теперь выдается под 10-10,25 процента годовых.</p>
                    <p>Госкомпания "Дом.рф" (ранее АИЖК) повысила ставки по ипотеке, следует из материалов на сайте компании. Так, предоставляемая ранее под 9-9,25 процента ипотека на готовое жилье теперь выдается под 10-10,25 процента годовых.</p>
                </div>
                <div class="main-slider__img">
                    <img src="img/slider-uni-1.png" alt="alt text">
                </div>
            </div>
        </div>
        <div class="section _inverse slide _fade"
             style="background: linear-gradient(163deg, #3dae58, #cfc348)">
            <div class="container">
                <div class="main-slider__text"
                     style="color: white">
                    <p>Госкомпания "Дом.рф" (ранее АИЖК) повысила ставки по ипотеке, следует из материалов на сайте компании. Так, предоставляемая ранее под 9-9,25 процента ипотека на готовое жилье теперь выдается под 10-10,25 процента годовых.</p>
                </div>
                <div class="main-slider__img">
                    <img src="img/slider-uni-2.png" alt="alt text">
                </div>
            </div>
        </div>
    </div>
    <div class="main-slider__bar">
        <div class="main-slider__bar__inner js-slider-main__bar"></div>
    </div>
</div>