<section class="container section partners">
    <h3 class="section__h">Застройщики-партнеры</h3>
    <ul class="partners__list slider-small js-slider-small">
        @@include('./chunks/index-partners-item.html', {
        "img": "snegiri",
        "name": "СК «Снегири»",
        "rate1": "52 344",
        "rate2": "827",
        "rate3": "32 666"
        })
        @@include('./chunks/index-partners-item.html', {
        "img": "cascad",
        "name": "ООО «Каскад Риэлти»",
        "rate1": "49 812",
        "rate2": "545",
        "rate3": "23 458"
        })
        @@include('./chunks/index-partners-item.html', {
        "img": "glavstroy",
        "name": "ООО «ГлавСтрой-Истейт»",
        "rate1": "51 382",
        "rate2": "912",
        "rate3": "45 123"
        })
        @@include('./chunks/index-partners-item.html', {
        "img": "snegiri",
        "name": "СК «Снегири»",
        "rate1": "52 344",
        "rate2": "827",
        "rate3": "32 666"
        })
    </ul>
    <button class="btn _primary _lg section__button _more">Больше застройщиков<i class="icon-more"></i></button>
    <a href="#" class="btn _secondary _lg section__button">Все застройщики</a>
</section>