<section class="container section sales">
    <h3 class="section__h">Найдите покупателей на нашем сайте и продайте свою квартиру выгодно!</h3>
    <p class="section__lead">Чтобы быстро продать свою квартиру нужно всего три шага</p>
    <div class="sales-list">
        <div class="sales-list__item">
            <div class="sales-list__item__h">
                <span class="sales-list__item__h__icon"><i class="sprite sales-1"></i></span>
                <span class="sales-list__item__h__inner">1. Найдите покупателей</span>
            </div>
            <div class="sales-list__item__p">
                Укажите параметры своей квартиры и узнайте, сколько покупателей хотят ее купить
            </div>
            <a href="#" class="btn _lg _secondary">Найти покупателей</a>
        </div>
        <div class="sales-list__item">
            <div class="sales-list__item__h">
                <span class="sales-list__item__h__icon"><i class="sprite sales-2"></i></span>
                <span class="sales-list__item__h__inner">2. Предложите свою квартиру</span>
            </div>
            <div class="sales-list__item__p">
                Сделайте предложение избранным покупателям: оставьте заявку специалисту или разместите объявление на сайте
            </div>
            <a href="#" class="btn _lg _secondary">Оставить заявку</a>
        </div>
        <div class="sales-list__item">
            <div class="sales-list__item__h">
                <span class="sales-list__item__h__icon"><i class="sprite sales-3"></i></span>
                <span class="sales-list__item__h__inner">3. Продайте свою квартиру выгодно</span>
            </div>
            <div class="sales-list__item__p">
                Договоритесь об условиях продажи со специалистом, а мы проведем сделку безопасно и выгодно для Вас
            </div>
            <a href="#" class="btn _lg _solid _shadow">Найти покупателей</a>
        </div>
    </div>
</section>