<div class="main-slider">
    <div class="main-slider__inner js-slider-main">
        <div class="section _inverse slide _1">
            <div class="container">
                <h3 class="section__h">Выгодная ипотека с Монолит Истейт</h3>
                <p class="section__lead">Оставьте заявку сейчас и станете на шаг ближе к Вашей собственной квартире!</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (123) 456-78-90" data-inputmask="'mask': '+9 (999) 999-99-99'">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
                <div class="main-slider__call">
                    <span class="main-slider__call__text">Подробности можете узнать по телефону:</span>
                    <a href="tel:+78312199067" class="main-slider__call__phone">
                        <i class="icon-phone _middle"></i><span class="link">+7 (831) 219-90-67</span></a>
                </div>
                <div class="main-slider__img">
                    <img src="img/slider1.png" alt="alt text">
                </div>
            </div>
        </div>
        <div class="section _inverse slide _2 _fade">
            <div class="container">
                <h3 class="section__h">Рефинансирование</h3>
                <p class="section__lead">Оставьте заявку сейчас и узнайте как сократить платежи по ипотеке!</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Мария">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (987) 654-32-10" data-inputmask="'mask': '+9 (999) 999-99-99'">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
                <div class="main-slider__call">
                    <span class="main-slider__call__text">Подробности можете узнать по телефону:</span>
                    <a href="tel:+79876543210" class="main-slider__call__phone">
                        <i class="icon-phone _middle"></i><span class="link">+7 (987) 654-32-10</span></a>
                </div>
                <div class="main-slider__img">
                    <img src="img/slider2.png" alt="alt text">
                </div>
            </div>
        </div>
        <div class="section _inverse slide _1 _fade">
            <div class="container">
                <h3 class="section__h">Выгодная ипотека с Монолит Истейт</h3>
                <p class="section__lead">Оставьте заявку сейчас и станете на шаг ближе к Вашей собственной квартире!</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (123) 456-78-90" data-inputmask="'mask': '+9 (999) 999-99-99'">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
                <div class="main-slider__call">
                    <span class="main-slider__call__text">Подробности можете узнать по телефону:</span>
                    <a href="tel:+78312199067" class="main-slider__call__phone">
                        <i class="icon-phone _middle"></i><span class="link">+7 (831) 219-90-67</span></a>
                </div>
                <div class="main-slider__img">
                    <img src="img/slider1.png" alt="alt text">
                </div>
            </div>
        </div>
        <div class="section _inverse slide _2 _fade">
            <div class="container">
                <h3 class="section__h">Рефинансирование</h3>
                <p class="section__lead">Оставьте заявку сейчас и узнайте как сократить платежи по ипотеке!</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Мария">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (987) 654-32-10" data-inputmask="'mask': '+9 (999) 999-99-99'">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
                <div class="main-slider__call">
                    <span class="main-slider__call__text">Подробности можете узнать по телефону:</span>
                    <a href="tel:+79876543210" class="main-slider__call__phone">
                        <i class="icon-phone _middle"></i><span class="link">+7 (987) 654-32-10</span></a>
                </div>
                <div class="main-slider__img">
                    <img src="img/slider2.png" alt="alt text">
                </div>
            </div>
        </div>
    </div>
    <div class="main-slider__bar">
        <div class="main-slider__bar__inner js-main-slider-bar"></div>
    </div>
</div>