<div class="main-slider">
    <div class="main-slider__inner">

        <div class="section _inverse slide _promo_2"
             style="background: linear-gradient(261.82deg, #7F7FC7 3.75%, #494995 105.34%);">
            <div class="container">
                <h3 class="section__h">Работа в компании</h3>
                <div class="main-slider__feat">
                    <div class="main-slider__feat__item">
                        <img class="main-slider__feat__item__img" src="img/promo/icon1.svg" alt="Возможность неограниченного дохода">
                        Возможность неограниченного дохода
                    </div>
                    <div class="main-slider__feat__item">
                        <img class="main-slider__feat__item__img" src="img/promo/icon2.svg" alt="Карьерный рост">
                        Карьерный рост
                    </div>
                    <div class="main-slider__feat__item">
                        <img class="main-slider__feat__item__img" src="img/promo/icon3.svg" alt="Средняя заработная плата от 60 000 руб.">
                        Средняя заработная плата от 60 000 руб.
                    </div>
                    <div class="main-slider__feat__item">
                        <img class="main-slider__feat__item__img" src="img/promo/icon4.svg" alt="Бесплатное обучение">
                        Бесплатное обучение
                    </div>
                </div>
                <div class="input-group__wrapper _submit main-slider__buttons">
                    <div class="input-group">
                        <a class="btn _solid _lg _shadow" href="work.html">Узнать подробности</a>
                    </div>
                </div>
                <div class="main-slider__img _lg">
                    <picture>
                        <source type="image/webp" srcset="img/promo/work_lg_2.webp">
                        <source type="image/png" srcset="img/promo/work_lg_2.png">
                        <img src="img/promo/work_lg_2.png" alt="Работа в компании">
                    </picture>
                </div>
            </div>
        </div>
        
        <div class="section _inverse slide _promo_1"
             style="background: linear-gradient(267.92deg, #7FAED8 3.75%, #4585BE 105.34%);">
            <div class="container">
                <h3 class="section__h">Кастинг Агентов по недвижимости</h3>
                <p class="section__lead">Станьте профессионалом. Делимся опытом для достижения результатов. Высокий доход от сделки. Сформированная база клиентов.</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>E-mail:</label>
                            <input value="user@host.com">
                        </div>
                    </div>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _file _white">
                            <label>
                                <i class="icon-attach"></i>
                                <span class="input-group__label-file _inverse js-fileinput__cnt">Прикрепить файл резюме</span>
                                <input type="file" class="js-fileinput">
                            </label>
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Оставить заявку</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
                <div class="input-group__wrapper _submit main-slider__buttons">
                    <div class="input-group">
                        <button class="btn _solid _lg _shadow js-popup" data-href="#work">Оставить заявку</button>
                    </div>
                    <div class="input-group _lg _white">
                        <div class="input-help">Отправляя заявку вы соглашаетесь на&nbsp;<span data-href="/agree.html" class="input-help__link js-link" data-target="_blank">обработку персональных данных</span></div>
                    </div>
                </div>
                <div class="main-slider__img _sm">
                    <picture>
                        <source type="image/webp" srcset="img/promo/work_sm.webp">
                        <source type="image/png" srcset="img/promo/work_sm.png">
                        <img src="img/promo/work_sm.png" alt="Кастинг Агентов по недвижимости">
                    </picture>
                </div>
                <div class="main-slider__img _lg">
                    <picture>
                        <source type="image/webp" srcset="img/promo/work_lg.webp">
                        <source type="image/png" srcset="img/promo/work_lg.png">
                        <img src="img/promo/work_lg.png" alt="Кастинг Агентов по недвижимости">
                    </picture>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="hidden">
    @@include('./popups/work.html')
</div>