<section class="container section hypothec">
    <h3 class="section__h">Актуальные ипотечные программы</h3>
    <ul class="hypothec__list slider-small js-slider-small">
        @@include('./chunks/index-hypothec-item.html', {
            "img": "sberbank",
            "bank": "Сбербанк",
            "rate": "7,5",
            "text": "Сбербанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
        @@include('./chunks/index-hypothec-item.html', {
            "img": "vtb",
            "bank": "ВТБ",
            "rate": "8",
            "text": "ВТБ. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
        @@include('./chunks/index-hypothec-item.html', {
            "img": "binbank",
            "bank": "Бинбанк",
            "rate": "12",
            "text": "Бинбанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
        })
        @@include('./chunks/index-hypothec-item.html', {
            "img": "gazprombank",
            "bank": "Газпромбанк",
            "rate": "10,5",
            "text": "Газпромбанк. Акция «Больше ставка»"
        })
    </ul>
    <button class="btn _primary _lg hypothec__more">Больше программ<i class="icon-more"></i></button>
    <a href="#" class="btn _secondary _lg">Все программы</a>
</section>