<section class="container section about">
    <h3 class="section__h">Монолит в цифрах</h3>
    <ul class="about__list">
        <li class="about__list__item">
                <span class="about__list__item__accent">14 лет</span>
                опыта работы в риэлторском бизнесе
            <i class="sprite man-baloon about__list__item__icon"></i>
        </li>
        <li class="about__list__item">
                <span class="about__list__item__accent">5000</span>
                специалистов по всей России
            <i class="sprite russia about__list__item__icon"></i>
        </li>
        <li class="about__list__item">
                <span class="about__list__item__accent">51568</span>
                квартир продано
            <i class="sprite sweet-home about__list__item__icon"></i>
        </li>
    </ul>
    <a href="about.html" class="btn _secondary _lg">О компании</a>
</section>