<section class="index-section _inverse hypothec-form">
    <div class="container">
        <div class="hypothec-form__wrapper">
            <div class="hypothec-form__col">
                <h3 class="index-section__h3">Ипотека на выгодных условиях</h3>
                <p class="index-section__lead">Быстро подберем и оформим выгодный вариант</p>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (123) 456-78-90" data-inputmask="'mask': '+9 (999) 999-99-99'">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="hypothec-form__col">
                <ul class="hypothec-form__feat">
                    <li class="hypothec-form__feat__item">
                        <span class="hypothec-form__feat__item__text">Снизим ставку <br>банка до</span>
                        <span class="hypothec-form__feat__item__accent">-1%</span>
                        <a class="hypothec-form__feat__item__link" href="#">Серьезно?</a>
                    </li>
                    <li class="hypothec-form__feat__item">
                        <span class="hypothec-form__feat__item__text">Ставка <br>по ипотеке от</span>
                        <span class="hypothec-form__feat__item__accent">7,5%</span>
                    </li>
                    <li class="hypothec-form__feat__item">
                        <span class="hypothec-form__feat__item__text">Одобрение, выше <br>чем в банке на</span>
                        <span class="hypothec-form__feat__item__accent">25%</span>
                        <a class="hypothec-form__feat__item__link" href="#">Как вам это удается?</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>