<div class="list-header @@if (type == 'footer') {_footer}">
    <div class="list-header__row">
        <div class="list-header__col _1">
            <label class="list-header__label">Сортировка:</label>
            <select class="list-header__select js-select2">
                <option>По дате публикации</option>
                <option>По цене</option>
            </select>
        </div>
        <div class="list-header__col _2">
            <label class="list-header__label">Показать:</label>
            <select class="list-header__select js-select2">
                <option>За все время (6321)</option>
                <option>За месяц (542)</option>
            </select>
        </div>
        <div class="list-header__col _3">
            <ul class="pagination">
                <li class="pagination__item">
                    <a class="pagination__item__link _first _disabled" href="#"></a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link _active" href="#">1</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link" href="#">2</a>
                </li>
                <li class="pagination__item hidden-sm">
                    <a class="pagination__item__link" href="#">3</a>
                </li>
                <li class="pagination__item hidden-sm">
                    <a class="pagination__item__link" href="#">4</a>
                </li>
                <li class="pagination__item _skip">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link" href="#">322</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link _last" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="list-header__col _4">
            <span class="list-header__total">
                Показано 10 из 146
            </span>
        </div>
        <div class="list-header__col _5">
            <a href="#" class="btn _md _primary">
                <i class="icon-filter"></i>
                Показать фильтр
            </a>
        </div>
    </div>
</div>