<section class="container section sales">
    <h3 class="section__h">Преимущества работы с нами</h3>
    <div class="sales-list _4">
        @@include('./chunks/sales-item.html', {
        "icon": "sales-ring",
        "title": "Покупать с нами безопасно",
        "desc": "Можно быть уверенным в своей защите.",
        "btn": "Подробнее"
        })
        @@include('./chunks/sales-item.html', {
        "icon": "sales-car",
        "title": "Просмотр на транспорте компании",
        "desc": "Комфортный просмотр недвижимости в удобное для вас время.",
        "btn": "Подробнее"
        })
        @@include('./chunks/sales-item.html', {
        "icon": "sales-hypothec",
        "title": "Оформление ипотеки бесплатно",
        "desc": "Скидка по ипотеке до 1%.",
        "btn": "Подробнее"
        })
        @@include('./chunks/sales-item.html', {
        "icon": "sales-hand",
        "title": "Квартира в подарок",
        "desc": "Получите возможность выиграть квартиру.",
        "btn": "Подробнее"
        })
    </div>
</section>