<div class="contacts-item">
    <h3 class="contacts-item__h">@@title</h3>
    <ul class="contacts-item__ul">
        <li>
            <a href="#" class="link-icon">
                <i class="icon-photo"></i><span>Офис на фото</span>
            </a>
        </li>
        <li>
            <a href="#" class="link-icon">
                <i class="icon-clock"></i><span>Часы работы офиса</span>
            </a>
        </li>
    </ul>
    <dl class="contacts-item__dl">
        <dt>Адрес</dt>
        <dd>@@address</dd>
        <dt>E-mail</dt>
        <dd><a href="mailto:monolitestate.press@gmail.com">monolitestate.press@gmail.com</a></dd>
        <dt>Телефон</dt>
        <dd><a href="tel:+78312833898">+7 (831) 283-38-98</a></dd>
    </dl>
</div>