<section class="section _inverse realty-form _seller">
    <div class="container">
        <div class="realty-form__row">
            <div class="realty-form__col _1">
                <h3 class="realty-form__h">Бесплатная консультация</h3>
                <div class="realty-form__text">
                    <ul>
                        <li>Ответим на все вопросы о продаже</li>
                        <li>Оценим рыночную стоимость вашей недвижимости</li>
                        <li>Поможем снять обременение</li>
                    </ul>
                </div>
            </div>
            <div class="realty-form__col _2">
                <h3 class="realty-form__h">Получите консультацию бесплатно</h3>
                <p class="realty-form__lead">Поможем продать квартиру 
                    в короткие сроки и по хорошей цене</p>
                @@include('./form-form.html')
            </div>
        </div>
        @@include('./form-call.html')
    </div>
</section>