<section class="section _inverse realty-form _second">
    <div class="container">
        <h3 class="realty-form__h">Монолит Истейт — надежный партнер!</h3>
        <div class="realty-form__row">
            <div class="realty-form__col _1">
                <div class="realty-form__text">
                    <ul>
                        <li>Гарантируем безопасность сделок</li>
                        <li>Оформим ипотеку — бесплатно! Скидки на программы для клиентов «Монолит Истейт»</li>
                        <li>Организуем бесплатный просмотр на автомобиле агентства</li>
                        <li>Участвуйте в акции «Квартира в подарок» и выиграйте квартиру</li>
                    </ul>
                </div>
            </div>
            <div class="realty-form__col _2">
                @@include('./form-form.html')
            </div>
        </div>
        @@include('./form-call.html')
    </div>
</section>