<form>
    <div class="input-group__wrapper">
        <div class="input-group _lg _white _secondary">
            <label>Ваше имя:</label>
            <input value="">
        </div>
        <div class="input-group _lg _white _secondary">
            <label>Ваш телефон:</label>
            <input value="" class="js-mask__tel">
        </div>
    </div>
    <div class="input-group__wrapper _submit">
        <div class="input-group">
            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
        </div>
        <div class="input-group _lg _white">
            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
        </div>
    </div>
</form>