<div class="realty-index__list__item">
    <a href="@@href" class="realty-index__list__item__inner">
        <div class="realty-index__list__item__img-wrapper">
            <div class="realty-index__list__item__img-inner">
                <img class="realty-index__list__item__img"
                     src="img/realty/@@img.jpg"
                     srcset="img/realty/@@img@2x.jpg 2x,
                     img/realty/@@img@3x.jpg 3x"
                     alt="@@title">
            </div>
        </div>
        <div class="realty-index__list__item__content-wrapper">
            <div class="realty-index__list__item__row">
                <h5 class="realty-index__list__item__h">@@title</h5>
                <div class="realty-index__list__item__counter _total">@@total</div>
            </div>
            <div class="realty-index__list__item__row">
                <div class="realty-index__list__item__text">@@text1</div>
                <div class="realty-index__list__item__counter _color">@@plus1</div>
                <div class="realty-index__list__item__counter">@@total1</div>
            </div>
            <div class="realty-index__list__item__row">
                <div class="realty-index__list__item__text">@@text2</div>
                <div class="realty-index__list__item__counter _color">@@plus2</div>
                <div class="realty-index__list__item__counter">@@total2</div>
            </div>
            <div class="realty-index__list__item__row">
                <div class="realty-index__list__item__text">@@text3</div>
                <div class="realty-index__list__item__counter _color">@@plus3</div>
                <div class="realty-index__list__item__counter">@@total3</div>
            </div>
            <div class="realty-index__list__item__row">
                <div class="realty-index__list__item__text">@@text4</div>
                <div class="realty-index__list__item__counter">@@total4</div>
            </div>
        </div>
    </a>
</div>