<div class="realty__list__item slide">
    <div class="realty__list__item__inner">
        <div class="realty__list__item__images">
            @@if (oldprice != '') {
            <i class="sprite oldprice"></i>
            }
            <span class="domclick">
                <img class="domclick__logo" src="img/sberbank.svg" alt="sberbank">
                <span class="domclick__content">
                    скидка
                    <span class="domclick__percent">0,3%</span>
                </span>
            </span>
            <ul class="realty-tags">
                @@for (var i = 0; i < tags.length; i++) {
                <li><span class="realty-tags__content">`+tags[i]+`</span></li>
                }
            </ul>
            <a href="detail.html" class="realty-list-slider js-realty-list-slider" data-init="false">
                @@if (img == "nophoto.svg") {
                    <div class="realty-list-slider__img-wrapper _active _nophoto">
                        <img class="realty__list__item__img"
                             src="img/@@img" alt="@@title">
                    </div>
                }
                @@if (img != "nophoto.svg") {
                    @@for (var i = 0; i < 1; i++) {
                    <div class="realty-list-slider__img-wrapper js-realty-list-slider__img-wrapper _active">
                        <img class="realty__list__item__img"
                             src="img/realty/objects/`+img[0]+`.jpg"
                             srcset="img/realty/objects/`+img[0]+`@2x.jpg 2x,
                             img/realty/objects/`+img[0]+`@3x.jpg 3x"
                             alt="@@title">
                    </div>
                    }
                    @@for (var i = 1; i < img.length; i++) {
                    <div class="realty-list-slider__img-wrapper js-realty-list-slider__img-wrapper">
                        <img class="realty__list__item__img"
                             src="img/realty/objects/`+img[i]+`.jpg"
                             srcset="img/realty/objects/`+img[i]+`@2x.jpg 2x,
                             img/realty/objects/`+img[i]+`@3x.jpg 3x"
                             alt="@@title">
                    </div>
                    }
                    <span class="realty-list-slider__counter">
                        <span class="js-realty-list-slider__counter">1</span>
                        из @@total
                    </span>
                }
            </a>
        </div>
        <div class="realty__list__item__content">
            <div class="realty__list__item__content__header">
                <div class="realty__list__item__title">@@title</div>
                <div class="realty__list__item__subtitle">@@subtitle</div>
            </div>
            <div class="realty__list__item__content__footer">
                @@if (oldprice != '') {
                <del class="realty__list__item__oldprice">@@oldprice</del>
                }
                <div class="realty__list__item__content__footer__row">
                    <div class="realty__list__item__price">@@price</div>
                    @@if (area != '') {
                    <div class="realty__list__item__area">@@area м²</div>
                    }
                </div>
                @@if (hypothec != '') {
                <div class="realty__list__item__hypothec">
                    Ипотека: 
                    <span class="realty__list__item__hypothec__accent">@@hypothec руб./мес</span>
                </div>
                }
                <a href="detail.html" class="btn _lg _secondary realty__list__item__btn">Подробнее</a>
            </div>
        </div>
    </div>
</div>