<section class="section @@if(margin == 0){_nomargin} realty-subscribe">
    <div class="container realty-subscribe__inner">
        <p class="realty-subscribe__text">Узнайте первым о новых объектах недвижимости. 
            Будьте в курсе снижения цен по вашему запросу.</p>
        <div class="realty-subscribe__btn-wrapper">
            <button data-src="#subscribe" class="btn _solid _lg js-popup">
                Подписаться на обновления
            </button>
        </div>
    </div>
</section>