<div class="hypothec-calc__fields">
    <div class="input-group">
        <label>Стоимость недвижимости</label>
        <input value="2320000" disabled="disabled" class="js-mask__currency js-hypothec__cost">
    </div>
    <div class="js-picker">
        <div class="input-group _picker _double _third">
            <label>Первоначальный взнос</label>
            <input min="0" max="2320000" value="1000000"
                   class="js-mask__currency js-picker__input js-hypothec__payment-sum">
            <input min="0" max="100" value="30" disabled="disabled" 
                   class="js-mask__percent js-hypothec__payment-percent">
        </div>
        <div class="range _picker js-picker__target"></div>
    </div>
    <div class="input-group">
        <label>Сумма кредита</label>
        <input disabled="disabled" class="js-mask__currency js-hypothec__credit">
    </div>
    <div class="js-picker">
        <div class="input-group _picker">
            <label>Срок ипотеки</label>
            <input min="1" max="30" value="20" 
                   disabled="disabled" 
                   class="js-mask__age js-picker__input js-hypothec__age">
        </div>
        <div class="range _picker js-picker__target"></div>
    </div>
    @@if (extended == 1) {
    <div class="hypothec-calc__fields__extended">
        <div class="input-group">
            @@include('../chunks/pseudo-select.html', {"title":"Зарплатный проект"})
        </div>
        <div class="input-group">
            @@include('../chunks/pseudo-select.html', {"title":"Социальная программа"})
        </div>
        <div class="input-group">
            @@include('../chunks/pseudo-select.html', {"title":"Способ подтверждения дохода"})
        </div>
    </div>
    <a href="#" class="hypothec-calc__fields__show-btn btn _lg _solid js-hypothec__show-btn">Показать программы</a>
    }
</div>