<section class="container section hypothec">
    <h3 class="section__h">@@title</h3>
    <div class="hypothec-calc js-hypothec">
        <h3 class="hypothec-calc__h">
            Рассчитайте ваш платеж по ипотеке
        </h3>
        @@include('./calc-fields.html', {"extended": 0})
        <p class="hypothec-calc__res-h">Найдено 5 ипотечных программ</p>
        <div class="hypothec-calc__row">
            <div class="hypothec-calc__res slider-small js-hypothec__slider">
                @@include('./calc-item.html', {
                "img": "sberbank",
                "bank": "Сбербанк",
                "rate": "7,5",
                "rateME": "7",
                "text": "Сбербанк. Акция «Больше метров – меньше ставка». Готовое жилье"
                })
                @@include('./calc-item.html', {
                "img": "vtb",
                "bank": "ВТБ",
                "rate": "8",
                "rateME": "",
                "text": "ВТБ. Акция «Больше метров – меньше ставка». Готовое жилье"
                })
                @@include('./calc-item.html', {
                "img": "binbank",
                "bank": "Бинбанк",
                "rate": "12",
                "rateME": "11",
                "text": "Бинбанк. Акция «Больше метров – меньше ставка». Готовое жилье"
                })
                @@include('./calc-item.html', {
                "img": "gazprombank",
                "bank": "Газпромбанк",
                "rate": "10,5",
                "rateME": "",
                "text": "Газпромбанк. Акция «Больше ставка»"
                })
                @@include('./calc-item.html', {
                "img": "sberbank",
                "bank": "Сбербанк",
                "rate": "7,5",
                "rateME": "7",
                "text": "Сбербанк. Акция «Больше метров – меньше ставка». Готовое жилье"
                })
            </div>
            @@include('./scroll.html')
            @@include('./request.html', {"extended": 0})
        </div>
    </div>
</section>