<div class="hypothec-list slider-small js-slider-small">
    @@include('./item.html', {
    "domclick": false,
    "img": "sberbank",
    "bank": "Сбербанк",
    "rate": "7,5",
    "text": "Сбербанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
    })
    @@include('./item.html', {
    "domclick": false,
    "img": "vtb",
    "bank": "ВТБ",
    "rate": "8",
    "text": "ВТБ. Акция «Больше метров‑меньше ставка». Готовое жилье"
    })
    @@include('./item.html', {
    "domclick": false,
    "img": "binbank",
    "bank": "Бинбанк",
    "rate": "12",
    "text": "Бинбанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
    })
    @@include('./item.html', {
    "domclick": false,
    "img": "gazprombank",
    "bank": "Газпромбанк",
    "rate": "10,5",
    "text": "Газпромбанк. Акция «Больше ставка»"
    })
</div>