<div class="hypothec-programs">
    @@include('./programs-item.html', {
    "logo":"sberbank",
    "rate": "7,5",
    "rateME": "7,0",
    "title":"Программа «Молодая семья»"
    })
    @@include('./programs-item.html', {
    "logo":"vtb",
    "rate": "8,0",
    "rateME": "",
    "title":"ВТБ. Акция «Больше метров — меньше ставка» Готовое жилье"
    })
    @@include('./programs-item.html', {
    "logo":"binbank",
    "rate": "12",
    "rateME": "11",
    "title":"Программа «Жилье для молодоженов»"
    })
    @@include('./programs-item.html', {
    "logo":"gazprombank",
    "rate": "10,5",
    "rateME": "",
    "title":"Программа «Жилье для пенсионеров»"
    })
    @@include('./programs-item.html', {
    "logo":"sberbank",
    "rate": "7,5",
    "rateME": "7,0",
    "title":"Программа «Молодая семья»"
    })
    @@include('./programs-item.html', {
    "logo":"vtb",
    "rate": "8,0",
    "rateME": "",
    "title":"ВТБ. Акция «Больше метров — меньше ставка» Готовое жилье"
    })
    @@include('./programs-item.html', {
    "logo":"binbank",
    "rate": "12",
    "rateME": "7,0",
    "title":"Программа «Жилье для молодоженов»"
    })
    @@include('./programs-item.html', {
    "logo":"gazprombank",
    "rate": "10,5",
    "rateME": "",
    "title":"Программа «Жилье для пенсионеров»"
    })
</div>