<div class="hypothec-programs">
    @@include('./programs-item.html', {
    "logo":"sberbank",
    "rate": "7,5",
    "rateME": "7,0",
    "title":"Программа «Молодая семья»"
    })
    @@include('./programs-item.html', {
    "logo":"vtb",
    "rate": "8,0",
    "rateME": "",
    "title":"Программа «Молодая семья с двумя детьми»"
    })
    @@include('./programs-item.html', {
    "logo":"binbank",
    "rate": "7,5",
    "rateME": "7,0",
    "title":"Программа «Молодая семья»"
    })
    @@include('./programs-item.html', {
    "logo":"gazprombank",
    "rate": "8,0",
    "rateME": "",
    "title":"Программа «Молодая семья с двумя детьми»"
    })
    @@include('./programs-item.html', {
    "logo":"sberbank",
    "rate": "7,5",
    "rateME": "7,0",
    "title":"Программа «Молодая семья»"
    })
    @@include('./programs-item.html', {
    "logo":"vtb",
    "rate": "8,0",
    "rateME": "",
    "title":"Программа «Молодая семья с двумя детьми»"
    })
    @@include('./programs-item.html', {
    "logo":"sberbank",
    "rate": "7,5",
    "rateME": "7,0",
    "title":"Программа «Молодая семья»"
    })
    @@include('./programs-item.html', {
    "logo":"vtb",
    "rate": "8,0",
    "rateME": "",
    "title":"Программа «Молодая семья с двумя детьми»"
    })
</div>