<div class="hypothec-calc__list">
    <div class="js-scrollbar scrollbar-outer _hor">
        <div class="hypothec__list _scroll js-hypothec__scroll">
            @@include('./item.html', {
            "img": "sberbank",
            "bank": "Сбербанк",
            "rate": "7,5",
            "text": "Сбербанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
            })
            @@include('./item.html', {
            "img": "vtb",
            "bank": "ВТБ",
            "rate": "8",
            "text": "ВТБ. Акция «Больше метров‑меньше ставка». Готовое жилье"
            })
            @@include('./item.html', {
            "img": "binbank",
            "bank": "Бинбанк",
            "rate": "12",
            "text": "Бинбанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
            })
            @@include('./item.html', {
            "img": "gazprombank",
            "bank": "Газпромбанк",
            "rate": "10,5",
            "text": "Газпромбанк. Акция «Больше ставка»"
            })
            @@include('./item.html', {
            "img": "sberbank",
            "bank": "Сбербанк",
            "rate": "7,5",
            "text": "Сбербанк. Акция «Больше метров‑меньше ставка». Готовое жилье"
            })
        </div>
    </div>
</div>