<div class="pseudo-select js-select js-hypothec__filter" 
     data-hypothec-filter="social">
    <div class="pseudo-select__inner">
        <div class="pseudo-select__select js-select__toggler">
            <span class="pseudo-select__select__inner">
                Социальная программа
            </span>
        </div>
        <div class="pseudo-select__dropdown js-select__inner js-select-search">
            <input class="pseudo-select__dropdown__search js-select-search__input" placeholder="Поиск">
            <div class="js-scrollbar scrollbar-outer">
                <label class="checkbox js-select-search__item" data-select-search="Молодая семья"><input type="checkbox" value="3"><span class="checkbox__text">Молодая семья</span></label>
                <label class="checkbox js-select-search__item" data-select-search="Военная ипотека"><input type="checkbox" value="4"><span class="checkbox__text">Военная ипотека</span></label>
                <label class="checkbox js-select-search__item" data-select-search="Жилье для пенсионеров"><input type="checkbox" value="5"><span class="checkbox__text">Жилье для пенсионеров</span></label>
            </div>
        </div>
    </div>
</div>