<div class="pseudo-select js-select js-hypothec__filter" 
     data-hypothec-filter="confirm">
    <div class="pseudo-select__inner">
        <div class="pseudo-select__select js-select__toggler">
            <span class="pseudo-select__select__inner">
                Способ подтверждения дохода
            </span>
        </div>
        <div class="pseudo-select__dropdown js-select__inner js-select-search">
            <input class="pseudo-select__dropdown__search js-select-search__input" placeholder="Поиск">
            <div class="js-scrollbar scrollbar-outer">
                <label class="checkbox js-select-search__item" data-select-search="2-НДФЛ"><input type="checkbox" value="1"><span class="checkbox__text">2-НДФЛ</span></label>
                <label class="checkbox js-select-search__item" data-select-search="Справка по форме банка"><input type="checkbox" value="2"><span class="checkbox__text">Справка по форме банка</span></label>
            </div>
        </div>
    </div>
</div>