<div id="@@id" class="work-item">
    <div class="work-item__content rte">
        <h3>@@title</h3>
        <h5>Условия</h5>
        <ul>
            <li>Обучение за счет компании</li>
            <li>Активная работа разъездного характера</li>
            <li>Удобная система работы</li>
            <li>Активный молодой коллектив</li>
            <li>Возможность роста в компании</li>
            <li>Офис в центре города</li>
        </ul>
        <h5>Обязанности</h5>
        <ul>
            <li>Оказание услуг клиентам по сдаче-аренде квартир</li>
            <li>Общение с клиентами, консультирование, подбор для клиентов подходящих вариантов</li>
            <li>Заключение договоров</li>
        </ul>
        <h5>Требования</h5>
        <ul>
            <li>Высшее, либо средне-специальное образование</li>
            <li>Обучаемость, организованность, ответственность</li>
            <li>Клиенториентированность</li>
            <li>Нацеленность на результат</li>
            <li>Активность, мобильность</li>
        </ul>
    </div>
    <a href="#work" class="btn _lg _solid work-item__btn js-popup">Откликнуться на вакансию</a>
</div>