<div class="work-list tabs-vert js-tabs js-tabs_disconnected">
    <aside class="work-list__aside">
        <div class="work-list__h">Открытые вакансии</div>
        <ul class="tabs-vert__list js-tabs__list">
            <li><a href="#tab1">Риэлтор по аренде</a></li>
            <li><a href="#tab2">PR-специалист</a></li>
            <li><a href="#tab3">Юрист</a></li>
            <li><a href="#tab4">Менеджер по продажам</a></li>
            <li><a href="#tab5">Руководитель отдела</a></li>
        </ul>
        <div class="tabs__select">
            <select class="js-tabs__select js-select2" style="width:100%"></select>
        </div>
    </aside>
    <div class="work-list__content js-tabs__content">
        @@loop('./item.html', [
        { 
        "id": "tab1", 
        "title": "Риэлтор по аренде"
        },
        { 
        "id": "tab2", 
        "title": "PR-специалист"
        },
        { 
        "id": "tab3", 
        "title": "Юрист"
        },
        { 
        "id": "tab4", 
        "title": "Менеджер по продажам"
        },
        { 
        "id": "tab5", 
        "title": "Руководитель отдела"
        }
        ])
    </div>
</div>