<section class="section analytic-clients">
    <h3 class="section__h">Нас уже выбрали</h3>
    <div class="analytic-clients__list js-analytic__slider">
        @@include('./clients-item.html', {
        "img": 1,
        "title": "Звездный городок",
        "text": "Крупнейший застройщик. Лидер по количеству клиентов"
        })
        @@include('./clients-item.html', {
        "img": 2,
        "title": "Сибстройсервис",
        "text": "Крупнейший застройщик. Лидер по количеству клиентов"
        })
        @@include('./clients-item.html', {
        "img": 3,
        "title": "Партнер-строй",
        "text": "Крупнейший застройщик. Лидер по количеству клиентов"
        })
        @@include('./clients-item.html', {
        "img": 4,
        "title": "ВТБ24",
        "text": "Крупнейший российский коммерческий банк. Лидер по количеству клиентов среди населения и бизнеса, по количеству вкладов и выданных кредитов"
        })
        @@include('./clients-item.html', {
        "img": 5,
        "title": "YIT",
        "text": "Крупнейший застройщик. Лидер по количеству клиентов"
        })
        @@include('./clients-item.html', {
        "img": 6,
        "title": "Сбербанк",
        "text": "Крупнейший российский коммерческий банк. Лидер по количеству клиентов среди населения и бизнеса, по количеству вкладов и выданных кредитов"
        })
        @@include('./clients-item.html', {
        "img": 5,
        "title": "YIT",
        "text": "Крупнейший застройщик. Лидер по количеству клиентов"
        })
        @@include('./clients-item.html', {
        "img": 6,
        "title": "Сбербанк",
        "text": "Крупнейший российский коммерческий банк. Лидер по количеству клиентов среди населения и бизнеса, по количеству вкладов и выданных кредитов"
        })
    </div>
</section>