<div class="analytic">
    <h3 class="analytic__h">Тепловая карта рынка недвижимости</h3>
    <div class="analytic__row">
        <div class="analytic__col">
            <div class="analytic__map-wrapper">
                <div id="map" class="analytic__map"></div>
                <div class="analytic__map-legend">
                    <span class="analytic__map-legend__h">Обозначения</span>
                    <ul class="analytic__map-legend__list">
                        <li class="analytic__map-legend__list__item _1">Меньше 17 000 руб./м²</li>
                        <li class="analytic__map-legend__list__item _2">17 000 – 32 000 руб./м²</li>
                        <li class="analytic__map-legend__list__item _3">32 000 – 47 000 руб./м²</li>
                        <li class="analytic__map-legend__list__item _4">47 000 – 62 000 руб./м²</li>
                        <li class="analytic__map-legend__list__item _5">62 000 – 78 000 руб./м²</li>
                        <li class="analytic__map-legend__list__item _6">Больше 78 000 руб./м²</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="analytic__col">
            <table class="analytic__table">
                <thead>
                    <tr>
                        <th>Регион</th>
                        <th>Средняя цена предложения, кв.м</th>
                        <th>Кол-во объектов за период</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Нижегородский</td>
                        <td>59 912 руб.</td>
                        <td>54</td>
                    </tr>
                    <tr>
                        <td>Советский</td>
                        <td>56 236 руб.</td>
                        <td>66</td>
                    </tr>
                    <tr>
                        <td>Афонино д.</td>
                        <td>54 959 руб.</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>Приокский</td>
                        <td>55 648 руб.</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>Канавинский</td>
                        <td>55 648 руб.</td>
                        <td>54</td>
                    </tr>
                    <tr>
                        <td>Московский</td>
                        <td>55 648 руб.</td>
                        <td>66</td>
                    </tr>
                    <tr>
                        <td>Сорменский</td>
                        <td>55 648 руб.</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>Ленинский</td>
                        <td>55 648 руб.</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>Автозаводский</td>
                        <td>55 648 руб.</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>Дзержинский</td>
                        <td>55 648 руб.</td>
                        <td>17</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>