<section class="section analytic-reviews">
    <h3 class="section__h">Аналитические обзоры рынка недвижимости</h3>
    <div class="scrollbar-outer _hor js-scrollbar-md">
        <div class="analytic-reviews__list slider-small js-slider-small">
            @@include('./reviews-item.html', {
            "title": "Краткий обзор вторичного рынка жилья г. Тобольск за май 2017 г.",
            "size": "2mb"
            })
            @@include('./reviews-item.html', {
            "title": "Краткий обзор новостроек Арзамаса",
            "size": "1.5mb"
            })
            @@include('./reviews-item.html', {
            "title": "Краткий обзор вторичного рынка жилья г. Тобольск за май 2017 г.",
            "size": "2mb"
            })
        </div>
    </div>
    <button class="btn _primary _lg section__button _more">
        <span>Показать больше</span><i class="icon-more"></i></button>
</section>