<section class="section analytic-services">
    <h3 class="section__h">Что мы делаем?</h3>
    <p class="section__lead">Проанализировав действия множества компаний 
        в различных условиях бизнеса, мы подготовили 
        <a href="#">4 типа исследований</a>. Каждое из них — это комплекс 
        инструментов, специально подобранных для привлечения клиентов 
        и решения бизнес задач.</p>
    <div class="analytic-services__list">
        @@include('./services-item.html', {
        "icon": "analytic-1",
        "title": "Разработка концепции проекта",
        "text": [
        "Формируем концептуальный профиль жилого комплекса / дома",
	"Выявляем рыночные ниши",
	"Оцениваем конкурентную ситуацию сегодня и на перспективу",
	"Даем рекомендации по маркетингу и продвижению"
        ]
        })
        @@include('./services-item.html', {
        "icon": "analytic-2",
        "title": "Глубинный мониторинг рынка",
        "text": [
        "Определяем тренды и структурные сдвиги на рынке",
	"Анализируем выбытие у конкурентов и находим причины",
	"Выявляем ценовую динамику в разных сегментах рынка"
        ]
        })
        @@include('./services-item.html', {
        "icon": "analytic-3",
        "title": "Маркетинговые исследования",
        "text": [
        "Определяем емкость рынка или его сегмента",
	"Составляем портрет покупателя",
	"Выявляем потребительские предпочтения",
	"Определяем уровень узнаваемости бренда и лояльности к нему"
        ]
        })
        @@include('./services-item.html', {
        "icon": "analytic-4",
        "title": "Оценка рыночной стоимости",
        "text": [
        "Ориентируем по ситуации на рынке недвижимости",
	"Даем индивидуальную оценку вашим объектам недвижимости"
        ]
        })
    </div>
</section>