<div class="chess-section slide">
    <table class="chess-section__table">
        <thead class="chess-section__thead">
            <tr>
                <th class="chess-section__floor chess-section__muted">Этаж</th>
                <th colspan="100">@@section подъезд</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="chess-section__floor">12</td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold js-chess-filter__item">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
                <td>
                    <span class="chess-flat _active _3 js-chess-filter__item js-chess-info__item"
                          data-filter-rooms="3" data-filter-area="53.45"  data-filter-price="5500000"
                          data-price="0" data-price-per-square="0" 
                          data-area="53.45" data-title="3-комнатная квартира"
                          data-floor="12" data-floors-total="12"
                          data-img-flat="img/realty/objects/flat.png"
                          data-img-floor="img/realty/objects/floor.png"
                          data-form="1/35">
                        3к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
            </tr>
            <tr>
                <td class="chess-section__floor">11</td>
                <td>
                    <span class="chess-flat _active _2 js-chess-filter__item js-chess-info__item"
                          data-filter-rooms="2" data-filter-area="25.18"  data-filter-price="4000000"
                          data-price="4 000 000" data-price-per-square="74 856" 
                          data-hypothec="21 413"
                          data-area="25.18" data-title="2-комнатная квартира"
                          data-floor="11" data-floors-total="12"
                          data-img-flat="img/realty/objects/flat.png"
                          data-form="1/36">
                        2к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
                <td>
                    <span class="chess-flat _active _0 js-chess-filter__item js-chess-info__item"
                          data-filter-rooms="0" data-filter-area="20.00"  data-filter-price="2000000"
                          data-price="4 000 000" data-price-per-square="74 856" 
                          data-hypothec="15 132"
                          data-area="25.18" data-title="Студия"
                          data-floor="11" data-floors-total="12"
                          data-img-floor="img/realty/objects/floor.png"
                          data-form="1/37">
                        ст
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td>
                    <span class="chess-flat _active _0 js-chess-filter__item js-chess-info__item"
                          data-filter-rooms="0" data-filter-area="20.00"  data-filter-price="2000000"
                          data-price="4 000 000" data-price-per-square="74 856" 
                          data-hypothec="15 132"
                          data-area="25.18" data-title="Студия"
                          data-floor="11" data-floors-total="12"
                          data-form="1/38">
                        ст
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">10</td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">9</td>
                <td>
                    <span class="chess-flat _active _3">
                        3к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat _sold">$</span></td>
                <td>
                    <span class="chess-flat _active _1">
                        1к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
                <td>
                    <span class="chess-flat _active _2">
                        2к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
            </tr>
            <tr>
                <td class="chess-section__floor">8</td>
                <td>
                    <span class="chess-flat _active _1">
                        1к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td>
                    <span class="chess-flat _active _3">
                        3к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">7</td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">6</td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
                <td>
                    <span class="chess-flat _active _3">
                        3к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
            </tr>
            <tr>
                <td class="chess-section__floor">5</td>
                <td>
                    <span class="chess-flat _active _2">
                        2к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
                <td>
                    <span class="chess-flat _active _0">
                        ст
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td>
                    <span class="chess-flat _active _0">
                        ст
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">4</td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">3</td>
                <td>
                    <span class="chess-flat _active _3">
                        3к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat _sold">$</span></td>
                <td>
                    <span class="chess-flat _active _1">
                        1к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
                <td>
                    <span class="chess-flat _active _2">
                        2к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
            </tr>
            <tr>
                <td class="chess-section__floor">2</td>
                <td>
                    <span class="chess-flat _active _1">
                        1к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td>
                    <span class="chess-flat _active _3">
                        3к
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat"></span></td>
            </tr>
            <tr>
                <td class="chess-section__floor">1</td>
                <td>
                    <span class="chess-flat _active _commerce">
                        <i class="icon-building"></i>
                        @@include('./chess-tooltip.html')
                    </span>
                </td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
                <td><span class="chess-flat"></span></td>
                <td><span class="chess-flat _sold">$</span></td>
            </tr>
        </tbody>
    </table>
</div>