<section class="section container js-tabs">
    <div class="tabs _noselect">
        <ul class="tabs__list js-tabs__list">
            <li><a href="#gallery">Фото/видео</a></li>
            <li><a href="#3d">3D-тур</a></li>
            <li><a href="#onmap">На карте</a></li>
            <li><a href="#progress">Ход строительства</a></li>
        </ul>
    </div>
    <div id="gallery" class="new-detail-gallery">
        @@include('../gallery.html')                        
    </div>
    <div id="3d" class="new-detail-tour">
        <div class="tour">
            <div class="tour__content"></div>
            <span class="tour__intro">3D-тур</span>
        </div>
    </div>
    <div id="onmap">
        <div class="infrastructure">
            <div class="infrastructure__header">
                <h3 class="infrastructure__header__h">Инфраструктура</h3>
                <div class="infrastructure__legend">
                    <ul class="infrastructure__legend__list js-infrastructure__legend__list">
                        @@loop('../chunks/infrastructure-checkbox.html', [
                        { 
                        "type": 1, 
                        "class": "med", 
                        "text": "Больницы и поликлиники"
                        },
                        { 
                        "type": 2, 
                        "class": "child", 
                        "text": "Детские сады"
                        },
                        { 
                        "type": 3, 
                        "class": "market", 
                        "text": "Магазины"
                        },
                        { 
                        "type": 4, 
                        "class": "parking", 
                        "text": "Парковки"
                        },
                        { 
                        "type": 5, 
                        "class": "gym", 
                        "text": "Фитнес-клубы"
                        },
                        { 
                        "type": 6, 
                        "class": "farm", 
                        "text": "Аптеки"
                        },
                        { 
                        "type": 7, 
                        "class": "dot", 
                        "text": "Стадионы"
                        },
                        { 
                        "type": 7, 
                        "class": "coin", 
                        "text": "Банки"
                        }
                        ])
                    </ul>
                    <a href="#" class="infrastructure__legend__toggler js-infrastructure__legend__toggler">Скрыть легенду</a>
                </div>
            </div>
            <div class="infrastructure__map map">
                <div id="map" class="map__content"></div>
                <div class="container map__controls">
                    <ul class="map__controls__zoom">
                        <li><i class="sprite map-plus map__control js-map__zoom _in"></i></li>
                        <li><i class="sprite map-minus map__control js-map__zoom _out"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="progress"></div>
</section>