<section class="section container new-detail-content">
    <div class="new-detail-content__left">
        <h3 class="new-detail-content__h">Описание</h3>
        <div class="rte">
            <p>ЖК «Квартет» — это два 10-этажных и один 14-этажный дом 
                в микрорайоне Восточный-2.</p>
            <p>Преимущество: перспективный район с развитой инфраструктурой 
                и удобной транспортной развязкой.</p>
            <p>Безопасность: домофонные двери в каждом подъезде 
                и закрытые спортивные площадки.</p>
            <p>Благоустройство: по проекту запланированы детская игровая 
                и волейбольная площадки. На территории высадят 
                деревья и кустарники, сделают газоны.</p>
            <p>Инфраструктура: добраться до центра города можно 
                за 10-15 минут. В 5 минутах езды база отдыха «Пруд Лесной». 
                Весной 2016 года началось строительство сквера «Серебряные ключи». 
                Предполагается, что в сквере будет пруд, 
                который зимой превратится в каток.</p>
            <p>В районе есть детские сады, школы, места для отдыха, магазины 
                и аптеки. Школы: № 72 и 59 Детские сады: № 25 и частный 
                сад «Шустренок»</p>
            <p>Особенности жилья: в комплексе есть однокомнатные 
                (площадь 43,74 кв.м.) и двухкомнатные (68,31 кв.м.) квартиры. 
                В квартирах уже есть остекление с тройным стеклопакетом.</p>
        </div>
    </div>
    <div class="new-detail-content__right">
        <h4 class="new-detail-content__h _sm">Дом</h4>
        <div class="rte">
            <ul>
                <li>Вид ремонта: Черновая отделка</li>
                <li>Пандусы</li>
                <li>Пожарная сигнализация</li>
                <li>Остекление балконов и лоджий</li>
                <li>Домофон</li>
                <li>Лифт пассажирский</li>
                <li>Материал окон: Пластиковые</li>
                <li>Железная дверь</li>
            </ul>
        </div>
        <h4 class="new-detail-content__h _sm">Двор</h4>
        <div class="rte">
            <ul>
                <li>Открытый двор</li>
                <li>Наземный паркинг</li>
            </ul>
        </div>
    </div>
</section>