<section class="section _inverse new-detail-header">
    <div class="container">
        <div class="new-detail-header__row">
            <div class="new-detail-header__col">
                <h3 class="section__h">ЖК «Квартет» <span class="new-detail-header__tag">Дом сдан</span></h3>
                <p class="section__lead">ул.Широтная, д. 214</p>
                <ul class="new-detail-header__info">
                    <li>Район: <a href="#">Восточный-2</a></li>
                    <li>Застройщик: <a href="#">Тюменгазстрой</a></li>
                    <li>Стены: <a href="#">панельные</a></li>
                </ul>
                <div class="new-detail-header__progress">
                    <span class="new-detail-header__progress__h">
                        Готовность дома
                    </span>
                    <span class="new-detail-header__progress__bar">
                        <span class="new-detail-header__progress__bar__inner" style="width:98%"></span>                        
                    </span>
                    <span class="new-detail-header__progress__percent">98%</span>
                </div>
            </div>
            <div class="new-detail-header__col">
                <h3 class="section__h">Узнайте как получить скидку</h3>
                <form>
                    <div class="input-group__wrapper">
                        <div class="input-group _lg _white _secondary">
                            <label>Ваше имя:</label>
                            <input value="Иван">
                        </div>
                        <div class="input-group _lg _white _secondary">
                            <label>Ваш телефон:</label>
                            <input value="+7 (123) 456-78-90" class="js-mask__tel">
                        </div>
                    </div>
                    <div class="input-group__wrapper _submit">
                        <div class="input-group">
                            <button class="btn _solid _lg _shadow" type="submit">Жду звонка</button>
                        </div>
                        <div class="input-group _lg _white">
                            <div class="input-help">Отправляя заявку вы соглашаетесь на обработку персональных данных</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="new-detail-header__img-wrapper">
            <img src="img/realty/new.jpg"
                 srcset="img/realty/new@2x.jpg 2x,
                 img/realty/new@3x.jpg 3x"
                 alt="alt text">
        </div>
    </div>
</section>