<section class="section container">
    <div class="new-detail-feat">
        <div class="new-detail-feat__col">
            <h3 class="new-detail-feat__h">Как купить</h3>
            <ul class="new-detail-feat__list">
                <li>Ипотека</li>
                <li>Ипотека с преференцией</li>
                <li>Наличные</li>
                <li>Рассрочка</li>
                <li>С использованием материнского капитала</li>
            </ul>
        </div>
        <div class="new-detail-feat__col">
            <h3 class="new-detail-feat__h">Преимущества</h3>
            <ul class="new-detail-feat__list">
                <li>Высота потолков выше 2,7 м</li>
                <li>Грузопассажирский лифт</li>
                <li>Детская площадка</li>
                <li>Менее 10 минут до остановки</li>
                <li>Менее 5 минут пешком до детского сада</li>
                <li>Паркинг</li>
                <li>Подземный паркинг</li>
                <li>Своя котельная</li>
                <li>Спортивная площадка</li>
                <li>Экологически чистый район</li>
            </ul>
        </div>
        <div class="new-detail-feat__col">
            <h3 class="new-detail-feat__h">Отделка</h3>
            <ul class="new-detail-feat__list">
                <li>Стяжка пола</li>
                <li>Металлическая дверь</li>
                <li>Окна ПВХ</li>
                <li>Остекление лоджий</li>
                <li>Плитка в санузле</li>
                <li>Радиаторы отопления</li>
                <li>Стояки канализации и водоснабжения</li>
                <li>Счетчики на воду</li>
                <li>Улучшенная отделка под ключ 100%</li>
                <li>Штукатурка всех стен</li>
                <li>Электрические плиты</li>
                <li>Электроразводка по квартире</li>
            </ul>
        </div>
    </div>
</section>