<section class="section container">
    <div class="new-detail-feat">
        <div class="new-detail-feat__col">
            <h3 class="new-detail-feat__h">Как купить</h3>
            <ul class="new-detail-feat__list">
                <li class="new-detail-feat__list__item">Ипотека</li>
                <li class="new-detail-feat__list__item">Ипотека с преференцией</li>
                <li class="new-detail-feat__list__item">Наличные</li>
                <li class="new-detail-feat__list__item">Рассрочка</li>
                <li class="new-detail-feat__list__item">С использованием материнского капитала</li>
            </ul>
        </div>
        <div class="new-detail-feat__col">
            <h3 class="new-detail-feat__h">Преимущества</h3>
            <ul class="new-detail-feat__list">
                <li class="new-detail-feat__list__item">Высота потолков выше 2,7 м</li>
                <li class="new-detail-feat__list__item">Грузопассажирский лифт</li>
                <li class="new-detail-feat__list__item">Детская площадка</li>
                <li class="new-detail-feat__list__item">Менее 10 минут до остановки</li>
                <li class="new-detail-feat__list__item">Менее 5 минут пешком до детского сада</li>
                <li class="new-detail-feat__list__item">Паркинг</li>
                <li class="new-detail-feat__list__item">Подземный паркинг</li>
                <li class="new-detail-feat__list__item">Своя котельная</li>
                <li class="new-detail-feat__list__item">Спортивная площадка</li>
                <li class="new-detail-feat__list__item">Экологически чистый район</li>
            </ul>
        </div>
        <div class="new-detail-feat__col">
            <h3 class="new-detail-feat__h">Отделка</h3>
            <ul class="new-detail-feat__list">
                <li class="new-detail-feat__list__item">Стяжка пола</li>
                <li class="new-detail-feat__list__item">Металлическая дверь</li>
                <li class="new-detail-feat__list__item">Окна ПВХ</li>
                <li class="new-detail-feat__list__item">Остекление лоджий</li>
                <li class="new-detail-feat__list__item">Плитка в санузле</li>
                <li class="new-detail-feat__list__item">Радиаторы отопления</li>
                <li class="new-detail-feat__list__item">Стояки канализации и водоснабжения</li>
                <li class="new-detail-feat__list__item">Счетчики на воду</li>
                <li class="new-detail-feat__list__item">Улучшенная отделка под ключ 100%</li>
                <li class="new-detail-feat__list__item">Штукатурка всех стен</li>
                <li class="new-detail-feat__list__item">Электрические плиты</li>
                <li class="new-detail-feat__list__item">Электроразводка по квартире</li>
            </ul>
        </div>
    </div>
</section>