<div class="filters">
    <form class="filters-form js-chess-filter">
        <div class="filters-form__summary">
            <p class="filters-form__summary__text">
                Найдено <span class="js-chess-filter__total">25 квартир</span>
            </p>
        </div>
        <div class="filters-form__row__lg">
            <div class="filters-form__col__lg _col1">
                <div class="filters-form__row">
                    <div class="input-group _col1 js-range js-chess-range">
                        <label class="_range">Площадь квартиры</label>
                        <div class="range js-range__target"></div>
                        <div class="input-group _range">
                            <span class="input-group__item">
                                <input type="number" min="19" max="160" value="19" 
                                       name="area_min"
                                       autocomplete="off" class="js-range__from"> м²
                            </span>
                            <span class="input-group__item">
                                <input type="number" min="19" max="160" value="160"
                                       name="area_max"
                                       autocomplete="off" class="js-range__to"> м²
                            </span>
                        </div>
                    </div>
                    <div class="input-group _col2 js-range js-chess-range">
                        <label class="_range">Стоимость квартиры</label>
                        <div class="range js-range__target"></div>
                        <div class="input-group _range">
                            <span class="input-group__item">
                                <input type="number" min="1900000" max="12000000" value="1900000" 
                                       name="price_min"
                                       autocomplete="off" class="_lg js-mask__numeric js-range__from"> руб.
                            </span>
                            <span class="input-group__item">
                                <input type="number" min="1900000" max="12000000" value="12000000"
                                       name="price_max"
                                       autocomplete="off" class="_lg js-mask__numeric js-range__to"> руб.
                            </span>
                        </div>
                    </div>
                    <div class="input-group filters-form__rooms">
                        <label>Кол-во комнат</label>
                        <div class="filters-form__rooms__inner">
                            <label class="filters-form__rooms__inner__checkbox"><input type="checkbox" name="rooms" value="0"><span class="filters-form__rooms__inner__checkbox__inner">Студ.</span></label>
                            <label class="filters-form__rooms__inner__checkbox"><input type="checkbox" name="rooms" value="1"><span class="filters-form__rooms__inner__checkbox__inner">1</span></label>
                            <label class="filters-form__rooms__inner__checkbox"><input type="checkbox" name="rooms" value="2"><span class="filters-form__rooms__inner__checkbox__inner">2</span></label>
                            <label class="filters-form__rooms__inner__checkbox"><input type="checkbox" name="rooms" value="3"><span class="filters-form__rooms__inner__checkbox__inner">3</span></label>
                            <label class="filters-form__rooms__inner__checkbox"><input type="checkbox" name="rooms" value="4+"><span class="filters-form__rooms__inner__checkbox__inner">4+</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>