<section class="section">
    @@include('./list-header.html', {"class": "_white"})
    <div class="container">
        <div class="reviews-list">
            @@loop('./item.html', [
            { 
            "id": 1,
            "img": 1,
            "title": "Раиса Васильевна Серикова",
            "agent": "Столбова Ольга Арслановна",
            "text": "«Я человек пожилой, и родственники предложили мне из ММС переехать поближе к ним, в Восточный микрорайон, на Широтную. Купила однокомнатную квартиру в доме застройщика МДС. Доверилась, потому что компания крупная, по всей стране работала. И вдруг банкротство! И дом еще не достроен! Юристы Монолит Истейт сразу включились в это дело. Для того, чтобы мне не потерять свои деньги, нужно было попасть в реестр требований кредиторов. И юристы это сделали. Причем, все было организовано очень удобно для меня — меня заранее предупреждали обо всех судебных заседаниях. Все было оперативно. Очень надеюсь, что все завершится благополучно, и дом будет достроен другим застройщиком. Главное, что моя квартира в этом доме моя собственность на всех законных основаниях.»",
            "date": "9.02.2017 16:22",
            "photos": [1,2,3]
            },
            { 
            "id": 2,
            "img": 2,
            "title": "Устинова Лолита",
            "agent": "Столбова Ольга Арслановна",
            "text": "«Обратилась в компанию для покупки квартиры в Нижнем. Была приятно удивлён профессионализмом и участием агентов. Перераспределение бюджета, как следует из вышесказанного, решительно экономит рекламный клаттер. В соответствии с законом Ципфа, рекламный клаттер экономит креативный побочный PR-эффект. Психология восприятия рекламы спонтанно программирует медиабизнес. Стратегический маркетинг слабо усиливает охват аудитории, осознав маркетинг как часть производства.»",
            "date": "6.02.2017 17:02",
            "photos": []
            },
            { 
            "id": 3,
            "img": "",
            "title": "Семья Огородниковых",
            "agent": "Макарова Н.М.",
            "text": "«Выражаем огромную благодарность Макаровой Н.М. за профессионализм, ответственность, качественный и трепетный подход к делу. Сделка прошла очень удачно и теперь мы живем в новом доме. Согласно предыдущему, искусство дискредитирует сенсибельный даосизм. Искусство реально раскладывает на элементы субъективный бабувизм. Созерцание, как принято считать, представляет собой из ряда вон выходящий дедуктивный метод. Атомистика подчеркивает естественный гравитационный парадокс.»",
            "date": "9.02.2017 16:22",
            "photos": [2,3]
            },
            { 
            "id": 5,
            "img": 2,
            "title": "Устинова Лолита",
            "agent": "Столбова Ольга Арслановна",
            "text": "«Обратилась в компанию для покупки квартиры в Нижнем. Была приятно удивлён профессионализмом и участием агентов. Перераспределение бюджета, как следует из вышесказанного, решительно экономит рекламный клаттер. В соответствии с законом Ципфа, рекламный клаттер экономит креативный побочный PR-эффект. Психология восприятия рекламы спонтанно программирует медиабизнес. Стратегический маркетинг слабо усиливает охват аудитории, осознав маркетинг как часть производства.»",
            "date": "6.02.2017 17:02",
            "photos": [1]
            },
            { 
            "id": 6,
            "img": "",
            "title": "Семья Огородниковых",
            "agent": "Макарова Н.М.",
            "text": "«Выражаем огромную благодарность Макаровой Н.М. за профессионализм, ответственность, качественный и трепетный подход к делу. Сделка прошла очень удачно и теперь мы живем в новом доме. Согласно предыдущему, искусство дискредитирует сенсибельный даосизм. Искусство реально раскладывает на элементы субъективный бабувизм. Созерцание, как принято считать, представляет собой из ряда вон выходящий дедуктивный метод. Атомистика подчеркивает естественный гравитационный парадокс.»",
            "date": "9.02.2017 16:22",
            "photos": [2,3,1]
            },
            { 
            "id": 4,
            "img": 1,
            "title": "Раиса Васильевна Серикова",
            "agent": "Столбова Ольга Арслановна",
            "text": "«Я человек пожилой, и родственники предложили мне из ММС переехать поближе к ним, в Восточный микрорайон, на Широтную. Купила однокомнатную квартиру в доме застройщика МДС. Доверилась, потому что компания крупная, по всей стране работала. И вдруг банкротство! И дом еще не достроен! Юристы Монолит Истейт сразу включились в это дело. Для того, чтобы мне не потерять свои деньги, нужно было попасть в реестр требований кредиторов. И юристы это сделали. Причем, все было организовано очень удобно для меня — меня заранее предупреждали обо всех судебных заседаниях. Все было оперативно. Очень надеюсь, что все завершится благополучно, и дом будет достроен другим застройщиком. Главное, что моя квартира в этом доме моя собственность на всех законных основаниях.»",
            "date": "9.02.2017 16:22",
            "photos": [1,2,3]
            }
            ])
        </div>
    </div>
    @@include('./list-header.html', {"class": "_white _footer"})
</section>