<div id="agent" class="popup-cnt">
    <div class="popup popup-call _noimg">
        <h3 class="popup__h3">Перезвоните мне</h3>
        <p class="popup__lead">Оставьте ваш номер, и агент перезвонит вам в течение 5 минут</p>
        <form id="agent_call_form" class="popup-call__form js-validate">
            <input type="hidden" name="agent">
            <div class="input-group _lg _secondary">
                <label>Ваш телефон</label>
                <input type="text" name="phone" value="7" 
                       class="js-mask__tel" required>
            </div>
            <div class="input-group">
                <button class="btn _solid _lg _shadow" type="submit">Перезвоните мне</button>
            </div>
            <div class="input-group">
                <div class="input-help popup-call__help">Нажимая кнопку «Перезвоните мне» вы принимаете Условия пользовательского соглашения и соглашаетесь на обработку ваших персональных данных.</div>
            </div>
        </form>
    </div>
</div>