<div id="report-price-reduction" class="popup-cnt">
    <div class="popup">
        <h3 class="popup__h3">Сообщить о снижении цены</h3>
        <form class="js-validate">
            <div class="input-group _lg _secondary">
                <label>Ваше имя</label>
                <input type="text" name="name">
            </div>
            <div class="input-group _lg _secondary">
                <label>E-mail или телефон</label>
                <input type="text" name="contact" required>
            </div>
            <div class="input-group__wrapper _submit">
                <div class="input-group">
                    <button class="btn _solid _lg _shadow" type="submit">Отправить</button>
                </div>
                <div class="input-group">
                    <div class="input-help">
                        Отправляя форму вы соглашаетесь на обработку 
                        персональных данных</div>
                </div>
            </div>
        </form>
    </div>
</div>