<div id="signup" class="popup-cnt">
    <div class="popup popup-signup">
        <h3 class="popup__h3">Регистрация на сайте</h3>
        <p class="popup__lead">Займет пару минут</p>
        <form id="popup_signup_form" class="popup-signup__form">
            <div class="popup-signup__form__row1">
                <div class="input-group _lg _secondary">
                    <label>E-mail <span class="link">или телефон</span></label>
                    <input type="text" name="name" value="Иван" required class="error">
                    <div class="input-help">Некорректый e-mail</div>
                </div>
                <div class="input-group _lg _secondary">
                    <label>Пароль</label>
                    <input type="password" name="password" required class="js-password">
                    <div class="input-help _password">
                        <span class="input-help__pass _0">Минимальная длина пароля – 8 символов</span>
                        <span class="input-help__pass _1">Слабый пароль</span>
                        <span class="input-help__pass _2">Средний пароль</span>
                        <span class="input-help__pass _3">Хороший пароль</span>
                    </div>
                </div>
                <div class="input-group _lg _secondary">
                    <label>Повторите пароль</label>
                    <input type="password" name="password_repeat" value="" required class="error">
                    <div class="input-help">Введите пароль повторно</div>
                </div>
            </div>
            <div class="popup-signup__form__row2">
                <div class="input-group">
                    <button class="btn _solid _lg _shadow" type="submit">Регистрация</button>
                </div>
                <div class="input-group">
                    <div class="popup-signup__form__login">Я <a href="#login" class="js-popup">уже зарегистрирован</a> на вашем сайте</div>
                </div>
            </div>
            <div class="popup-signup__form__row3">
                <div class="input-group">
                    <div class="input-help">Нажимая кнопку «Зарегистрироваться» вы принимаете Условия пользовательского соглашения и соглашаетесь на обработку ваших персональных данных.</div>
                </div>
                <div class="input-group">
                    <div class="input-help _black">При регистрации на сайте вы получите доступ к своему личному кабинету, где сможете добавлять объявления в избранное и наблюдать за ними.</div>
                </div>
            </div>
        </form>
    </div>
</div>