<div id="subscribe" class="popup-cnt">
    <div class="popup popup-subscribe">
        <h3 class="popup__h3">Подписаться на обновления</h3>
        <p class="popup__lead">Будьте в курсе снижения цен по вашему запросу</p>
        <form id="popup_subscribe_form" class="popup-subscribe__form js-validate">
            <div class="input-group__wrapper">
                <div class="input-group _lg _secondary">
                    <label>E-mail</label>
                    <input type="text" name="email" value="" required>
                </div>
            </div>
            <div class="input-group__wrapper _submit">
                <div class="input-group">
                    <button class="btn _solid _lg _shadow" type="submit">Подписаться</button>
                </div>
                <div class="input-group">
                    <div class="input-help">
                        Подписываясь на обновления вы соглашаетесь на обработку 
                        персональных данных</div>
                </div>
            </div>
        </form>
    </div>
</div>