body {
    padding-top: 60px;
}
.header {
    margin-bottom: map_get($header-margin-bottom, sm);
    .header__top {
        display: none;
    }
    .header__main {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: $white;
        .container {
            height: 60px;
            display: flex;
            align-items: center;
        }
        .header__main__menu {
            margin-right: 20px;
            .header__main__menu__link {
                display: block;
                width: 19px;
                font-size: 12px;
                color: $body-color;
                border-width: 0;
                padding: 0;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                @include link-in-text;
                &._active {
                    .icon-menu {
                        font-size: 14.3px;
                        &:before {
                            content: '\e807';
                        }
                    }
                }
            }
        }
        .header__main__logo {
            flex: 1;
            a {
                @include link-in-text;
                display: inline-block;
            }
            img {
                display: block;
                width: 92px;
            }
        }
        .header__main__fav, .header__main__phone, .header__main__user {
            margin-left: 20px;
        }
        .header__main__fav {
            .header__main__fav__link {
                font-size: 20px;
                @include link-in-text;
            }
        }
        .header__main__phone {
            .header__main__phone__link {
                color: $primary;
                cursor: pointer;
                @include link-in-text;
                font-size: 20px;
            }
        }
        .header__main__contacts {
            display: none;
        }
        .header__main__sm {
            display: block;
        }
    }
    .header__menu {
        position: fixed;
        width: 280px;
        left: -280px;
        @include transition(transform);
        top: 0;
        background-color: $primary;
        background-image: linear-gradient(to right, $primary, #699ce4);
        z-index: 998;
        height: 100vh;
        padding-top: 60px;
        @include media-breakpoint-up(md) {
            padding-top: 103px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 0;
            position: relative;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            opacity: 1;
            visibility: visible;
            transition: none;
            background-color: $primary;
            background-image: none;
            padding-top: 0;
        }
        &._active {
            transform: translateX(100%);
            @include media-breakpoint-up(lg) {
                transform: none;
            }
        }
        .scrollbar-outer {
            height: 100%;
            @include media-breakpoint-up(lg) {
                height: auto;
            }
            .scroll-element {
                display: none;
            }
            .scroll-content.scroll-scrolly_visible {
                left: 0;
                margin-left: 0;
            }
        }

        $mobile-menu-color: #253e71;
        .header__menu-mobile {
            padding-top: 20px;
            padding-bottom: 40px;
            .header__menu-mobile__top {
                border-bottom: 1px solid rgba($white, .2);
                padding-left: $container-padding-sm;
                padding-right: $container-padding-sm;
                padding-bottom: 20px;
                @include media-breakpoint-up(md) {
                    padding-left: $container-padding-md;
                    padding-right: $container-padding-md;
                }
            }
            @include media-breakpoint-up(lg) {
                display: none;
            }
            .header__menu-mobile__first {
                @include list-unstyled;
                margin-bottom: 0;
                li {
                    span {
                        display: block;
                        position: relative;
                        color: $white;
                        opacity: 0.9;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        padding: $container-padding-sm;
                        @include media-breakpoint-up(md) {
                            padding-left: $container-padding-md;
                            padding-right: $container-padding-md;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -20px;
                            left: 40px;
                            border-style: solid;
                            border-width: 10px;
                            border-color: #426ecb $mobile-menu-color $mobile-menu-color $mobile-menu-color;
                        }
                    }
                }
            }
            .header__menu-mobile__second {
                @include list-unstyled;
                margin-bottom: 0;
                background-color: $mobile-menu-color;
                padding-top: 10px;
                padding-bottom: 10px;
                a {
                    color: $white;
                    opacity: 0.7;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.1px;
                    display: block;
                    padding: $container-padding-sm;
                    @include media-breakpoint-up(md) {
                        padding-left: $container-padding-md;
                        padding-right: $container-padding-md;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
        }
        .header__menu__user {
            margin-bottom: 22px;
            .btn {
                margin-bottom: 10px;
                color: $white;
                &._primary {
                    border-color: $white;
                    [class^="icon-"] {
                        font-size: 10px;
                        color: inherit;
                        margin-right: 3px;
                    }
                }
            }
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
        .header__menu__phone {
            margin-bottom: 20px;
            font-size: 17px;
            color: $white;
            &__a {
                color: inherit;
                &:after {
                    content: none;
                }
            }
            .header__menu__phone__link {
                font-size: 14px;
                font-weight: 500;
                @include link-in-text;
                color: $white;
            }
            [class^="icon-"] {
                font-size: 12px;
                margin-right: 6px;
            }
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
        .header__menu__contacts {
            .header__menu__contacts__text {
                font-size: 14px;
                color: $white;
                opacity: .5;
                margin-bottom: 8px;
            }
            .header__menu__contacts__link {
                @include link-in-text;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                [class^="icon-"] {
                    font-size: 12px;
                    margin-right: 4px;
                }
            }
        }

        .header__menu-desktop {
            display: none;
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        .header__menu__first {
            @include list-unstyled;
            margin-left: -10px;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            font-size: 0;
            li {
                flex-grow: 1;
                a {
                    @include link-in-text;
                    opacity: 0.8;
                    color: $white;
                    display: block;
                    font-size: 12px;
                    line-height: 50px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    text-align: center;
                    @include transition(all);
                    &._active, &:hover {
                        background-color: $white;
                        color: $primary;
                        opacity: 1;
                    }
                }
                &:first-of-type {
                    width: 45px;
                    flex-grow: 0;
                    text-align: center;
                    .header__menu__first__toggler {
                        color: $white;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        opacity: 1;
                        line-height: 50px;
                        display: block;
                        width: 100%;
                        border-width: 0;
                        padding: 0;
                        font-size: 12px;
                        &._active {
                            .icon-menu {
                                font-size: 14.3px;
                                &:before {
                                    content: '\e807';
                                }
                            }
                        }
                    }
                }
            }
        }
        .header__menu__second {
            @include list-unstyled;
            margin-bottom: 33px;
            opacity: 0.8;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 53px;
            margin-top: 35px;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 150px;
            li {
                margin-bottom: 35px;
                margin-right: 60px;
                white-space: nowrap
            }
            a {
                @include link-in-text;
                color: $white;
            }
        }
        .header__menu__second-wrapper {
            position: absolute;
            width: 100%;
            left: 0;
            background-image: linear-gradient(353deg, #699ce4, $primary);
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.3s, opacity 0.3s linear;
            &._active {
                opacity: 1;
                visibility: visible;
            }
            .container {
                display: flex;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .header {
        .header__main {
            .header__main__md {
                display: none;
            }
            .header__main__user {
                .header__main__user__link {
                    font-size: 20px;
                    @include link-in-text;
                }
            }
        }
    }
}
@include media-breakpoint-up(md) {
    body {
        padding-top: 123px;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998;
        /*margin-bottom: map_get($header-margin-bottom, md);*/
        .header__top {
            display: block;
            font-size: 10px;
            line-height: 31px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            background-color: #f0f0f0;
            z-index: 999;
            position: relative;
            .container {
                display: flex;
                justify-content: space-between;                
            }
            .header__top__city {
                opacity: 0.7;
                .header__top__city__select {
                    @include link-in-text;
                    opacity: 0.9;
                    letter-spacing: normal;
                }
            }
            .header__top__nav {
                @include list-unstyled;
                margin-bottom: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
                a {
                    opacity: 0.6;
                    @include link-in-text;
                    color: $body-color;
                    &:hover {
                        color: $primary;
                    }
                    &.header__top__nav__accent {
                        opacity: 1;
                        @include transition(background-color);
                        /*margin: 0 -7px;*/
                        display: inline-block;
                        color: white;
                        background-color: $secondary;
                        padding: 2px 7px 0 7px;
                        &:hover {
                            background-color: rgba($secondary, .8);
                        }
                    }
                }
            }
        }  
        .header__main {
            position: relative;
            .container {
                height: 72px;
            }
            .header__main__menu {
                order: 1;
                margin-right: 22px;
                .header__main__menu__link {
                    font-size: 14px;
                    width: 22px;
                    &._active {
                        .icon-menu {
                            font-size: 17.4px;
                        }
                    }
                }
            }
            .header__main__logo {
                order: 2;
                flex: 0;
                img {
                    width: 131px;
                }
            }
            .header__main__fav {
                order: 5;
                margin-left: 25px;
                text-align: right;
                .header__main__fav__link {
                    font-size: 15px;
                    display: block;
                    margin-bottom: 3px;
                    @include link-black;
                }
                [class^="icon-"] {
                    font-size: 12px;
                    margin-right: 6px;
                    position: relative;
                    top: -1px;
                }
                .header__main__fav__counter {
                    font-size: 11px;
                    color: $gray;
                }
            }
            .header__main__phone {
                order: 3;
                flex: 1;
                margin-left: 25px;
                font-size: 17px;
                .header__main__phone__link {
                    font-size: 14px;
                    font-weight: 500;
                }
                [class^="icon-"] {
                    font-size: 12px;
                    margin-right: 6px;
                }
            }
            .header__main__contacts {
                order: 4;
            }
            .header__main__user {
                order: 6;
                margin-left: 15px;
                font-size: 0;
                .header__main__user__link {
                    display: inline-block;
                    width: auto;
                    padding: 0 15px;
                    margin-right: 7px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    [class^="icon-"] {
                        font-size: 10px;
                    }
                }
            }
            .header__main__sm {
                display: none;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
    }
    .header {
        position: static;
        margin-bottom: map_get($header-margin-bottom, lg);
        .header__main {
            .container {
                height: 92px;
            }
            .header__main__menu {
                display: none;
            }
            .header__main__logo {
                img {
                    width: 230px;
                }
            }
            .header__main__phone {
                font-size: 21px;
                margin-left: 41px;
                flex: 0;
                flex-basis: auto;
                .header__main__phone__link {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .header__main__contacts {
                display: block;
                margin-left: 47px;
                flex: 1;
                .header__main__contacts__text {
                    font-size: 14px;
                    color: $gray;
                    margin-bottom: 8px;
                }
                .header__main__contacts__link {
                    @include link-in-text;
                    font-size: 14px;
                    font-weight: 500;
                    [class^="icon-"] {
                        font-size: 12px;
                        margin-right: 4px;
                    }
                }
            }
            .header__main__user {
                .header__main__user__link {
                    padding: 0 20px;
                }
            }
        }
        .header__menu {
            .scrollbar-outer {
                overflow: visible !important;
            }
        }
    }
}