.sprite {
    font-size: 10px;
}

.sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg/sprite.svg?4");
    background-repeat: no-repeat;
    background-size: 7.7em 244.8em;
}

.no-svg .sprite:before {
    background-image: url("../svg/sprite.png");
}



  .sprite.accept:before {
      background-position: 0em 0em;
      width: 2.6em;
      height: 2.6em;
  }




  .sprite.analytic-1:before {
      background-position: 0em -2.6em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.analytic-2:before {
      background-position: 0em -6.1em;
      width: 3.7em;
      height: 2.3em;
  }




  .sprite.analytic-3:before {
      background-position: 0em -8.4em;
      width: 3.2em;
      height: 3.3em;
  }




  .sprite.analytic-4:before {
      background-position: 0em -11.7em;
      width: 3.4em;
      height: 3.3em;
  }




  .sprite.bank:before {
      background-position: 0em -15em;
      width: 2.5em;
      height: 1.9em;
  }




  .sprite.clock:before {
      background-position: 0em -16.9em;
      width: 2.5em;
      height: 2.5em;
  }




  .sprite.fb:before {
      background-position: 0em -19.4em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.fb-hover:before {
      background-position: 0em -24.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.hypothec-1:before {
      background-position: 0em -29.8em;
      width: 4.4em;
      height: 4.4em;
  }




  .sprite.hypothec-2:before {
      background-position: 0em -34.2em;
      width: 4.6em;
      height: 3.7em;
  }




  .sprite.hypothec-3:before {
      background-position: 0em -37.9em;
      width: 4.6em;
      height: 4.5em;
  }




  .sprite.hypothec-4:before {
      background-position: 0em -42.4em;
      width: 4.5em;
      height: 4.5em;
  }




  .sprite.instagram:before {
      background-position: 0em -46.9em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.instagram-hover:before {
      background-position: 0em -52.1em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.man-baloon:before {
      background-position: 0em -57.3em;
      width: 5.5em;
      height: 4.9em;
  }




  .sprite.map-minus:before {
      background-position: 0em -62.2em;
      width: 6.3em;
      height: 6.3em;
  }




  .sprite.map-plus:before {
      background-position: 0em -68.5em;
      width: 6.3em;
      height: 6.3em;
  }




  .sprite.ok:before {
      background-position: 0em -74.8em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.ok-hover:before {
      background-position: 0em -80em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.oldprice:before {
      background-position: 0em -85.2em;
      width: 2.9em;
      height: 2.9em;
  }




  .sprite.pdf:before {
      background-position: 0em -88.1em;
      width: 4.1em;
      height: 5em;
  }




  .sprite.promo-arrow:before {
      background-position: 0em -93.1em;
      width: 1.2156em;
      height: 1.1854em;
  }




  .sprite.promo-rouble:before {
      background-position: 0em -94.3em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-check:before {
      background-position: 0em -97.8em;
      width: 1.8em;
      height: 1.4em;
  }




  .sprite.realty-commerce:before {
      background-position: 0em -99.2em;
      width: 3.5em;
      height: 3.4em;
  }




  .sprite.realty-commerce-o:before {
      background-position: 0em -102.6em;
      width: 3.5em;
      height: 3.4em;
  }




  .sprite.realty-new:before {
      background-position: 0em -106em;
      width: 5.8em;
      height: 3.4em;
  }




  .sprite.realty-new-o:before {
      background-position: 0em -109.4em;
      width: 5.8em;
      height: 3.4em;
  }




  .sprite.realty-second:before {
      background-position: 0em -112.8em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-second-o:before {
      background-position: 0em -116.3em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-village:before {
      background-position: 0em -119.8em;
      width: 3.7em;
      height: 3.7em;
  }




  .sprite.realty-village-o:before {
      background-position: 0em -123.5em;
      width: 3.7em;
      height: 3.7em;
  }




  .sprite.russia:before {
      background-position: 0em -127.2em;
      width: 7.7em;
      height: 4.4em;
  }




  .sprite.sales-ads:before {
      background-position: 0em -131.6em;
      width: 4em;
      height: 4em;
  }




  .sprite.sales-car:before {
      background-position: 0em -135.6em;
      width: 4.1em;
      height: 3.4em;
  }




  .sprite.sales-career:before {
      background-position: 0em -139em;
      width: 4.4em;
      height: 4.1em;
  }




  .sprite.sales-cost:before {
      background-position: 0em -143.1em;
      width: 4.2em;
      height: 4.1em;
  }




  .sprite.sales-edu:before {
      background-position: 0em -147.2em;
      width: 4.6em;
      height: 3.9em;
  }




  .sprite.sales-hand:before {
      background-position: 0em -151.1em;
      width: 4em;
      height: 4em;
  }




  .sprite.sales-home:before {
      background-position: 0em -155.1em;
      width: 4.2em;
      height: 4.6em;
  }




  .sprite.sales-hypothec:before {
      background-position: 0em -159.7em;
      width: 2.5821em;
      height: 2.7512em;
  }




  .sprite.sales-income:before {
      background-position: 0em -162.5em;
      width: 5.7em;
      height: 2.8em;
  }




  .sprite.sales-money:before {
      background-position: 0em -165.3em;
      width: 3.9em;
      height: 3.9em;
  }




  .sprite.sales-photo:before {
      background-position: 0em -169.2em;
      width: 4.9em;
      height: 4.1em;
  }




  .sprite.sales-problem:before {
      background-position: 0em -173.3em;
      width: 4.1em;
      height: 4.1em;
  }




  .sprite.sales-ring:before {
      background-position: 0em -177.4em;
      width: 4.7em;
      height: 4.7em;
  }




  .sprite.sales-stability:before {
      background-position: 0em -182.1em;
      width: 3.5em;
      height: 5.1em;
  }




  .sprite.seller-1:before {
      background-position: 0em -187.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.seller-2:before {
      background-position: 0em -192.4em;
      width: 5.5em;
      height: 5.5em;
  }




  .sprite.seller-3:before {
      background-position: 0em -197.9em;
      width: 5.7em;
      height: 5.6em;
  }




  .sprite.seller-4:before {
      background-position: 0em -203.5em;
      width: 5.6em;
      height: 5.6em;
  }




  .sprite.sweet-home:before {
      background-position: 0em -209.1em;
      width: 4.7em;
      height: 4.5em;
  }




  .sprite.twitter:before {
      background-position: 0em -213.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.twitter-hover:before {
      background-position: 0em -218.8em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.vk:before {
      background-position: 0em -224em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.vk-hover:before {
      background-position: 0em -229.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.youtube:before {
      background-position: 0em -234.4em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.youtube-hover:before {
      background-position: 0em -239.6em;
      width: 5.2em;
      height: 5.2em;
  }





