.sprite {
    font-size: 10px;
}

.sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 7.7em 240.2em;
}

.no-svg .sprite:before {
    background-image: url("../svg/sprite.png");
}



  .sprite.accept:before {
      background-position: 0em 0em;
      width: 2.6em;
      height: 2.6em;
  }




  .sprite.analytic-1:before {
      background-position: 0em -2.6em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.analytic-2:before {
      background-position: 0em -6.1em;
      width: 3.7em;
      height: 2.3em;
  }




  .sprite.analytic-3:before {
      background-position: 0em -8.4em;
      width: 3.2em;
      height: 3.3em;
  }




  .sprite.analytic-4:before {
      background-position: 0em -11.7em;
      width: 3.4em;
      height: 3.3em;
  }




  .sprite.bank:before {
      background-position: 0em -15em;
      width: 2.5em;
      height: 1.9em;
  }




  .sprite.clock:before {
      background-position: 0em -16.9em;
      width: 2.5em;
      height: 2.5em;
  }




  .sprite.fb:before {
      background-position: 0em -19.4em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.fb-hover:before {
      background-position: 0em -24.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.hypothec-1:before {
      background-position: 0em -29.8em;
      width: 4.4em;
      height: 4.4em;
  }




  .sprite.hypothec-2:before {
      background-position: 0em -34.2em;
      width: 4.6em;
      height: 3.7em;
  }




  .sprite.hypothec-3:before {
      background-position: 0em -37.9em;
      width: 4.6em;
      height: 4.5em;
  }




  .sprite.hypothec-4:before {
      background-position: 0em -42.4em;
      width: 4.5em;
      height: 4.5em;
  }




  .sprite.instagram:before {
      background-position: 0em -46.9em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.instagram-hover:before {
      background-position: 0em -52.1em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.man-baloon:before {
      background-position: 0em -57.3em;
      width: 5.5em;
      height: 4.9em;
  }




  .sprite.map-minus:before {
      background-position: 0em -62.2em;
      width: 6.3em;
      height: 6.3em;
  }




  .sprite.map-plus:before {
      background-position: 0em -68.5em;
      width: 6.3em;
      height: 6.3em;
  }




  .sprite.ok:before {
      background-position: 0em -74.8em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.ok-hover:before {
      background-position: 0em -80em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.oldprice:before {
      background-position: 0em -85.2em;
      width: 2.9em;
      height: 2.9em;
  }




  .sprite.pdf:before {
      background-position: 0em -88.1em;
      width: 4.1em;
      height: 5em;
  }




  .sprite.realty-check:before {
      background-position: 0em -93.1em;
      width: 1.8em;
      height: 1.4em;
  }




  .sprite.realty-commerce:before {
      background-position: 0em -94.5em;
      width: 3.5em;
      height: 3.4em;
  }




  .sprite.realty-commerce-o:before {
      background-position: 0em -97.9em;
      width: 3.5em;
      height: 3.4em;
  }




  .sprite.realty-new:before {
      background-position: 0em -101.3em;
      width: 5.8em;
      height: 3.4em;
  }




  .sprite.realty-new-o:before {
      background-position: 0em -104.7em;
      width: 5.8em;
      height: 3.4em;
  }




  .sprite.realty-second:before {
      background-position: 0em -108.1em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-second-o:before {
      background-position: 0em -111.6em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-village:before {
      background-position: 0em -115.1em;
      width: 3.7em;
      height: 3.7em;
  }




  .sprite.realty-village-o:before {
      background-position: 0em -118.8em;
      width: 3.7em;
      height: 3.7em;
  }




  .sprite.russia:before {
      background-position: 0em -122.5em;
      width: 7.7em;
      height: 4.4em;
  }




  .sprite.sales-ads:before {
      background-position: 0em -126.9em;
      width: 4em;
      height: 4em;
  }




  .sprite.sales-car:before {
      background-position: 0em -130.9em;
      width: 4.1em;
      height: 3.4em;
  }




  .sprite.sales-career:before {
      background-position: 0em -134.3em;
      width: 4.4em;
      height: 4.1em;
  }




  .sprite.sales-cost:before {
      background-position: 0em -138.4em;
      width: 4.2em;
      height: 4.1em;
  }




  .sprite.sales-edu:before {
      background-position: 0em -142.5em;
      width: 4.6em;
      height: 3.9em;
  }




  .sprite.sales-hand:before {
      background-position: 0em -146.4em;
      width: 4em;
      height: 4em;
  }




  .sprite.sales-home:before {
      background-position: 0em -150.4em;
      width: 4.2em;
      height: 4.6em;
  }




  .sprite.sales-hypothec:before {
      background-position: 0em -155em;
      width: 4.7em;
      height: 2.9em;
  }




  .sprite.sales-income:before {
      background-position: 0em -157.9em;
      width: 5.7em;
      height: 2.8em;
  }




  .sprite.sales-money:before {
      background-position: 0em -160.7em;
      width: 3.9em;
      height: 3.9em;
  }




  .sprite.sales-photo:before {
      background-position: 0em -164.6em;
      width: 4.9em;
      height: 4.1em;
  }




  .sprite.sales-problem:before {
      background-position: 0em -168.7em;
      width: 4.1em;
      height: 4.1em;
  }




  .sprite.sales-ring:before {
      background-position: 0em -172.8em;
      width: 4.7em;
      height: 4.7em;
  }




  .sprite.sales-stability:before {
      background-position: 0em -177.5em;
      width: 3.5em;
      height: 5.1em;
  }




  .sprite.seller-1:before {
      background-position: 0em -182.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.seller-2:before {
      background-position: 0em -187.8em;
      width: 5.5em;
      height: 5.5em;
  }




  .sprite.seller-3:before {
      background-position: 0em -193.3em;
      width: 5.7em;
      height: 5.6em;
  }




  .sprite.seller-4:before {
      background-position: 0em -198.9em;
      width: 5.6em;
      height: 5.6em;
  }




  .sprite.sweet-home:before {
      background-position: 0em -204.5em;
      width: 4.7em;
      height: 4.5em;
  }




  .sprite.twitter:before {
      background-position: 0em -209em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.twitter-hover:before {
      background-position: 0em -214.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.vk:before {
      background-position: 0em -219.4em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.vk-hover:before {
      background-position: 0em -224.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.youtube:before {
      background-position: 0em -229.8em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.youtube-hover:before {
      background-position: 0em -235em;
      width: 5.2em;
      height: 5.2em;
  }





