.sprite {
    font-size: 10px;
}

.sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 7.7em 212.4em;
}

.no-svg .sprite:before {
    background-image: url("../svg/sprite.png");
}



  .sprite.accept:before {
      background-position: 0em 0em;
      width: 2.6em;
      height: 2.6em;
  }




  .sprite.bank:before {
      background-position: 0em -2.6em;
      width: 2.5em;
      height: 1.9em;
  }




  .sprite.clock:before {
      background-position: 0em -4.5em;
      width: 2.5em;
      height: 2.5em;
  }




  .sprite.fb:before {
      background-position: 0em -7em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.fb-hover:before {
      background-position: 0em -12.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.hypothec-1:before {
      background-position: 0em -17.4em;
      width: 4.4em;
      height: 4.4em;
  }




  .sprite.hypothec-2:before {
      background-position: 0em -21.8em;
      width: 4.6em;
      height: 3.7em;
  }




  .sprite.hypothec-3:before {
      background-position: 0em -25.5em;
      width: 4.6em;
      height: 4.5em;
  }




  .sprite.hypothec-4:before {
      background-position: 0em -30em;
      width: 4.5em;
      height: 4.5em;
  }




  .sprite.instagram:before {
      background-position: 0em -34.5em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.instagram-hover:before {
      background-position: 0em -39.7em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.man-baloon:before {
      background-position: 0em -44.9em;
      width: 5.5em;
      height: 4.9em;
  }




  .sprite.map-minus:before {
      background-position: 0em -49.8em;
      width: 6.3em;
      height: 6.3em;
  }




  .sprite.map-plus:before {
      background-position: 0em -56.1em;
      width: 6.3em;
      height: 6.3em;
  }




  .sprite.ok:before {
      background-position: 0em -62.4em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.ok-hover:before {
      background-position: 0em -67.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.oldprice:before {
      background-position: 0em -72.8em;
      width: 2.9em;
      height: 2.9em;
  }




  .sprite.realty-check:before {
      background-position: 0em -75.7em;
      width: 1.8em;
      height: 1.4em;
  }




  .sprite.realty-commerce:before {
      background-position: 0em -77.1em;
      width: 3.5em;
      height: 3.4em;
  }




  .sprite.realty-commerce-o:before {
      background-position: 0em -80.5em;
      width: 3.5em;
      height: 3.4em;
  }




  .sprite.realty-new:before {
      background-position: 0em -83.9em;
      width: 5.8em;
      height: 3.4em;
  }




  .sprite.realty-new-o:before {
      background-position: 0em -87.3em;
      width: 5.8em;
      height: 3.4em;
  }




  .sprite.realty-second:before {
      background-position: 0em -90.7em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-second-o:before {
      background-position: 0em -94.2em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.realty-village:before {
      background-position: 0em -97.7em;
      width: 3.7em;
      height: 3.7em;
  }




  .sprite.realty-village-o:before {
      background-position: 0em -101.4em;
      width: 3.7em;
      height: 3.7em;
  }




  .sprite.russia:before {
      background-position: 0em -105.1em;
      width: 7.7em;
      height: 4.4em;
  }




  .sprite.sales-ads:before {
      background-position: 0em -109.5em;
      width: 4em;
      height: 4em;
  }




  .sprite.sales-car:before {
      background-position: 0em -113.5em;
      width: 4.1em;
      height: 3.4em;
  }




  .sprite.sales-career:before {
      background-position: 0em -116.9em;
      width: 4.4em;
      height: 4.1em;
  }




  .sprite.sales-cost:before {
      background-position: 0em -121em;
      width: 4.2em;
      height: 4.1em;
  }




  .sprite.sales-edu:before {
      background-position: 0em -125.1em;
      width: 4.6em;
      height: 3.9em;
  }




  .sprite.sales-hand:before {
      background-position: 0em -129em;
      width: 4em;
      height: 4em;
  }




  .sprite.sales-home:before {
      background-position: 0em -133em;
      width: 4.2em;
      height: 4.6em;
  }




  .sprite.sales-hypothec:before {
      background-position: 0em -137.6em;
      width: 4.7em;
      height: 2.9em;
  }




  .sprite.sales-income:before {
      background-position: 0em -140.5em;
      width: 5.7em;
      height: 2.8em;
  }




  .sprite.sales-money:before {
      background-position: 0em -143.3em;
      width: 3.9em;
      height: 3.9em;
  }




  .sprite.sales-photo:before {
      background-position: 0em -147.2em;
      width: 4.9em;
      height: 4.1em;
  }




  .sprite.sales-problem:before {
      background-position: 0em -151.3em;
      width: 4.1em;
      height: 4.1em;
  }




  .sprite.sales-ring:before {
      background-position: 0em -155.4em;
      width: 4.7em;
      height: 4.7em;
  }




  .sprite.sales-stability:before {
      background-position: 0em -160.1em;
      width: 3.5em;
      height: 5.1em;
  }




  .sprite.seller-1:before {
      background-position: 0em -165.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.seller-2:before {
      background-position: 0em -170.4em;
      width: 5.5em;
      height: 5.5em;
  }




  .sprite.seller-3:before {
      background-position: 0em -175.9em;
      width: 5.7em;
      height: 5.6em;
  }




  .sprite.seller-4:before {
      background-position: 0em -181.5em;
      width: 5.6em;
      height: 5.6em;
  }




  .sprite.sweet-home:before {
      background-position: 0em -187.1em;
      width: 4.7em;
      height: 4.5em;
  }




  .sprite.twitter:before {
      background-position: 0em -191.6em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.twitter-hover:before {
      background-position: 0em -196.8em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.vk:before {
      background-position: 0em -202em;
      width: 5.2em;
      height: 5.2em;
  }




  .sprite.vk-hover:before {
      background-position: 0em -207.2em;
      width: 5.2em;
      height: 5.2em;
  }





