@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "variables";
@import "mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "libs/select2/core.scss";
@import "libs/select2/theme/custom/layout.scss";

body {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
@media (hover: none) {
    a:hover { color: inherit !important; }
}
.container {
    padding: 0 $container-padding-sm;
}
@include media-breakpoint-up(md) {
    .container {
        padding: 0 $container-padding-md;
    }
}
@include media-breakpoint-up(lg) {
    .container {
        padding: 0 $container-padding-lg;
    }
}
.flex {
    display: flex !important;;
}
.hidden {
    display: none !important;
}
.necessaty_fields {
    display: none !important;;
}
.text-nowrap { white-space: nowrap !important; }

.no-padding-top {
    padding-top: 0 !important;
}

a, .link {
    outline: none;
    position: relative;
    @include transition(color);
    color: $link-color;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: url(img/link.png) repeat-x;
        @include transition(opacity);
    }
    &:hover {
        color: $link-hover-color;
        &:after {
            opacity: .7;
        }
    }
    &._inverse {
        color: $white;
        &:after {
            background: url(img/link-inverse.png) repeat-x;
        }
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    margin-right: 0; 
    margin-left: 0; 
    width: auto;
    line-height: inherit;
}
[class^="icon-"] {
    &._middle {
        vertical-align: middle;
    }
}

.content {
    position: relative;
    .content__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        opacity: .8;
        z-index: 900;
        /*@include transition(all);*/
    }
}

@import "sprite";
@import "header";
@import "sliders";
@import "forms";
@import "popups";
@import "footer";
@import "page-assets/about";
@import "page-assets/hypothec";
@import "page-assets/realty";
@import "page-assets/partners";
@import "page-assets/reviews";
@import "components/section";
@import "components/realty-index";
@import "components/filters";
@import "components/tabs";
@import "components/promo";
@import "components/sales";
@import "components/agents";
@import "components/seo";
@import "components/social";
@import "components/services";
@import "components/callme";
@import "components/find-on-map";
@import "components/realty-form";
@import "components/realty-subscribe";
@import "components/page-header";

.preloader {
    display: none !important;
}