<section class="section news-detail">
    <p class="news-detail__introtext">Первые кредиты под шесть процентов для семей, 
        в которых дети появились с 1 января 2018 года, получили жители 
        Санкт-Петербурга и Екатеринбурга</p>
    <div class="news-detail__img">
        <img src="img/news/2.jpg"
             srcset="img/news/2@2x.jpg 2x,
             img/news/2@3x.jpg 3x"
             alt="alt text">
    </div>
    <div class="news-detail__content rte">
        <p>Первые кредиты под шесть процентов для семей, в которых дети появились 
            с 1 января 2018 года, получили жители Санкт-Петербурга и Екатеринбурга, 
            сообщили в АИЖК. В Санкт-Петербурге банк выдал льготный ипотечный кредит 
            семье, в которой 16 января родился второй ребенок. Семья купила 
            двухкомнатную квартиру в Петергофе Ленинградской области.</p>
        <p>В Екатеринбурге семья, в которой 7 января также родился второй ребенок, 
            с помощью государственной программы снизила ставку по действующему 
            ипотечному кредиту с 13,7% до 6%. Ипотечный кредит выдал партнер АИЖК — 
            АО «Свердловское Агентство Ипотечного Жилищного Кредитования».</p>
        <p>В Мордовии продлили льготную программу ипотеки под 5% годовых
            Государственная программа «Семейная ипотека с государственной поддержкой» 
            позволяет взять кредит под шесть процентов на покупку квартиры 
            в новостройке или готового жилья у застройщика, а также рефинансировать 
            уже существующий кредит, оформленный ранее на покупку жилья в новостройке.</p>
        <p>Сниженная ставка действует в течение трех лет при рождении второго ребенка 
            и пяти лет при рождении третьего ребенка. В случае, если в период действия 
            льготной ставки в семье родится третий ребенок, то общий льготный период 
            будет достигать восемь лет. По истечении льготного срока ставка по кредиту 
            будет установлена на уровне ключевой ставки Банка России на дату заключения 
            кредитного договора, увеличенной на два процентных пункта.</p>
    </div>
    <div class="news-detail__social">
        @@include('../chunks/social.html', {"text":"Поделиться в социальных сетях:"})
    </div>
    <div class="news-detail__neighbors">
        <div class="news-detail__neighbors__item">
            <a href="news-detail.html" class="news-detail__neighbors__link">
                <span class="news-detail__neighbors__link__text">
                    Новые партнеры ЖК
                </span>
                <span class="news-detail__neighbors__link__help">
                    <i class="icon-left-dir"></i> Предыдущая новость
                </span>
            </a>
        </div>
        <div class="news-detail__neighbors__item">
            <a href="news-detail.html" class="news-detail__neighbors__link _next">
                <span class="news-detail__neighbors__link__text">
                    Обзор ЖК, которые достроят в 2018 году
                </span>
                <span class="news-detail__neighbors__link__help">
                    Следующая новость <i class="icon-right-dir"></i>
                </span>
            </a>
        </div>
    </div>
</section>