<div class="news-item @@if(img != ''){_img} slide">
    <div class="news-item__inner">
        <h5 class="news-item__h">@@title</h5>
        <p class="news-item__intro">@@intro</p>
        <div class="news-item__footer">
            <a href="news-detail.html" class="btn _lg _secondary news-item__btn">Читать</a>
            <span class="news-item__date">
                <i class="icon-calendar"></i> @@date
            </span>
        </div>
        @@if (img != "") {
        <div class="news-item__img-wrapper">
            <img class="news-item__img" src="img/news/@@img.jpg" 
                 srcset="img/news/@@img@2x.jpg 2x,
                 img/news/@@img@3x.jpg 3x" alt="alt text">
        </div>
        }
    </div>
</div>