<section class="section">
    @@include('./list-header.html', {"class": "_white"})
    <div class="container">
        <div class="news-list">
            @@loop('./item.html', [
            { 
            "title": "Мы участвуем в выставке агенств недвижимости", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "12.02.2017",
            "img": ""
            },
            { 
            "title": "Обзор ЖК, которые достроят в 2018 году", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет. Хотите купить квартиру в новостройке в ближайшем будущем?",
            "date": "10.02.2017",
            "img": "1"
            },
            { 
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            },
            {
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            },
            { 
            "title": "Мы участвуем в выставке агенств недвижимости", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "12.02.2017",
            "img": ""
            },
            { 
            "title": "Обзор ЖК, которые достроят в 2018 году", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет. Хотите купить квартиру в новостройке в ближайшем будущем?",
            "date": "10.02.2017",
            "img": "2"
            },
            { 
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            },
            {
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            },
            { 
            "title": "Мы участвуем в выставке агенств недвижимости", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "12.02.2017",
            "img": ""
            },
            { 
            "title": "Обзор ЖК, которые достроят в 2018 году", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет. Хотите купить квартиру в новостройке в ближайшем будущем?",
            "date": "10.02.2017",
            "img": "1"
            },
            { 
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            },
            {
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            }
            ])
        </div>
    </div>
    @@include('./list-header.html', {"class": "_white _footer"})
    <div class="container">
        <button class="btn _secondary _lg section__button">Показать еще</button>
    </div>
</section>