<div class="list-header @@class">
    <div class="container list-header__row">
        <div class="list-header__tags tags">
            <ul class="tags__list">
                <li><a href="#">Новости «Монолит Истейт»</a></li>
                <li class="_active"><span>Все новости</span></li>
            </ul>
        </div>
        <div class="list-header__pagination">
            <ul class="pagination">
                <li class="pagination__item">
                    <a class="pagination__item__link _first _disabled" href="#"></a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link _active" href="#">1</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link" href="#">2</a>
                </li>
                <li class="pagination__item hidden-sm">
                    <a class="pagination__item__link" href="#">3</a>
                </li>
                <li class="pagination__item hidden-sm">
                    <a class="pagination__item__link" href="#">4</a>
                </li>
                <li class="pagination__item _skip">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link" href="#">322</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__item__link _last" href="#"></a>
                </li>
            </ul>
            <span class="list-header__pagination__total">
                Показано 10 из 146
            </span>
        </div>
    </div>
</div>