<section class="section news-related">
    <h3 class="section__h">Другие новости</h3>
    <div class="scrollbar-outer _hor js-scrollbar-md">
        <div class="news-related__list slider-small js-slider-small">
            @@loop('./item.html', [
            { 
            "title": "Мы участвуем в выставке агенств недвижимости", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "12.02.2017",
            "img": ""
            },
            { 
            "title": "Обзор ЖК, которые достроят в 2018 году", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет. Хотите купить квартиру в новостройке в ближайшем будущем?",
            "date": "10.02.2017",
            "img": ""
            },
            { 
            "title": "«Монолит Истейт» награжден как лучшее агенство", 
            "intro": "Хотите купить квартиру в новостройке в ближайшем будущем? Тенденции рынка: жилье дорожает, ипотека дешевеет.",
            "date": "9.02.2017",
            "img": ""
            }
            ])
        </div>
    </div>
    <div class="news-related__social">
        @@include('../chunks/social.html', {"text":"Мы в социальных сетях:"})
    </div>
</section>