.about {
    .about__list {
        @include list-unstyled;
        margin-left: -$container-padding-sm;
        margin-right: -$container-padding-sm;
        margin-bottom: 30px;
        background-color: $white;
        .about__list__item {
            padding: 15px 100px 15px $container-padding-sm;
            font-size: 16px;
            min-height: 140px;
            position: relative;
            border-bottom: 1px solid $gray-light;
            &:last-of-type {
                border-bottom: none;
            }
            .about__list__item__accent {
                display: block;
                font-size: 45px;
                font-weight: 300;
            }
            .about__list__item__icon {
                position: absolute;
                right: $container-padding-sm;
                top: 15px;
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .about {
        .about__list {
            margin-left: unset;
            margin-right: unset;
            margin-bottom: 40px;
            .about__list__item {
                padding: 20px 160px 0 $container-padding-md;
                font-size: 21px;
                min-height: 185px;
                .about__list__item__accent {
                    font-size: 65px;
                }
                .about__list__item__icon {
                    right: $container-padding-md;
                    top: $container-padding-md;
                    font-size: 14.3px;
                }
            }
        }
        .btn {
            width: 188px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .about {
        .about__list {
            display: flex;
            .about__list__item {
                flex-basis: 33.3333%;
                padding: 20px 120px 0 $container-padding-md;
                min-height: 180px;
                border-bottom: none;
                border-right: 1px solid $gray-light;
                &:last-of-type {
                    border-right: none;
                }
            }
        }
    }
}