.detail {
    &._realty {
        margin-top: -30px;
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }
    .detail__gallery {
        position: relative;
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .detail__h {
        font-size: 21px;
        font-weight: normal;
        line-height: 1.24;
        margin-bottom: 17px;
        @include media-breakpoint-up(md) {
            font-size: 24px;
            line-height: 1.08;
            margin-bottom: 26px;
        }
    }
    .detail__info {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
        }
        .detail__info__cart {
            background-color: $white;
            padding: 15px 20px 20px;
            position: relative;
            @include media-breakpoint-up(md) {
                border-radius: $border-radius;
                padding: 20px;
                margin-bottom: 15px;
            }
            .detail__info__cart__help {
                opacity: 0.5;
                font-size: 13px;
                font-weight: 600;
                display: block;
            }
            .detail__info__cart__price {
                margin-bottom: 13px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 19px;
                }
                del {
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 4px;
                    color: rgba($body-color, .5);
                    position: relative;
                    text-decoration: none;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 6px;
                        height: 1px;
                        background-color: #939393;
                    }
                }
                .icon-down-small {
                    color: #fe1818;
                    font-size: 20px;
                    vertical-align: middle;
                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }
                .detail__info__cart__price__cost {
                    display: block;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
            .detail__info__cart__hypothec {
                background-color: $primary;
                color: $white;
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom: 14px;
                padding: 10px;
                @include media-breakpoint-up(md) {
                    position: absolute;
                    left: 0;
                    top: 20px;
                    width: 157px;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    padding: 12px;
                    border-radius: 0 $border-radius $border-radius 0;
                }
                @include media-breakpoint-up(md) {
                    width: 137px;
                }
                p {
                    margin-bottom: 7px;
                    font-size: 12px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    @include media-breakpoint-up(md) {
                        margin-bottom: 13px;
                        font-size: 13px;
                    }
                }
                .detail__info__cart__hypothec__accent {
                    font-size: 14px;
                    font-weight: 600;
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                }
                .detail__info__cart__hypothec__muted {
                    opacity: 0.6;
                    font-size: 13px;
                }
                strong {
                    white-space: nowrap;
                }
            }
            .detail__info__cart__options {
                @include list-unstyled;
                margin-bottom: 0;
                li {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 15px;
                    font-size: 18px;
                    font-weight: 500;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    @include media-breakpoint-up(md) {
                        margin-right: 24px;
                    }
                }
            }
            .card-sale {
                display: none;
                @include media-breakpoint-up(md) {
                    display: flex;
                    position: absolute;
                    right: 0;
                    top: 20px;
                    @include card-sale-big();
                }
            }
            .detail__info__btn {
                @include media-breakpoint-up(lg) {
                    width: 247px;
                }
            }
            .detail__info__cart__inner {
                margin-bottom: 16px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 28px;
                }
                &._hypothec {
                    @include media-breakpoint-up(md) {
                        padding-left: 160px;
                        min-height: 118px;
                    }
                    @include media-breakpoint-up(md) {
                        padding-left: 130px;
                    }
                }
            }
        }
        .detail__info__map {
            margin-bottom: 20px;
            @include media-breakpoint-up(md) {
                margin-bottom: 30px;
            }
        }
        .detail__info__list {
            @include list-unstyled;
            padding-left: $container-padding-sm;
            padding-right: $container-padding-sm;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
            @include media-breakpoint-up(md) {
                padding-left: 0;
                padding-right: 0;
                font-size: 15px;
            }
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                /*width: 130px;*/
                position: relative;
                &:after {
                    content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ';
                    position: absolute;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #d8d8d8;
                    font-size: 11px;
                    line-height: 18px;
                }
                span {
                    background-color: $body-bg;
                    &:first-of-type {
                        padding-right: 1ex;
                    }
                    &:last-of-type {
                        padding-left: 1ex;
                    }
                }
            }
        }
    }
    .detail__agent {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        padding: $container-padding-sm;
        background-color: $white;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            padding: $container-padding-md;
            display: flex;
            border-radius: $border-radius;
        }
        .agent {
            margin-bottom: 25px;
            padding: 0 30px;
            @include media-breakpoint-up(md) {
                flex-basis: 175px;
                padding: 0;
                margin-bottom: 0;
                margin-right: $container-padding-md;
            }
            @include media-breakpoint-up(lg) {
                flex-basis: 165px;
            }
        }
        .detail__agent__form {
            @include media-breakpoint-up(md) {
                flex: 1;
                display: flex;
                flex-direction: column;
                :first-child {
                    flex: 1;
                }
            }
            @include media-breakpoint-only(md) {
                .input-text {
                    width: 317px;
                }
                .btn, .input-help {
                    width: 230px;
                }
            }
        }
    }
    .detail__row {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
        .detail__col {
            margin-bottom: 20px;
            @include media-breakpoint-up(md) {
                margin-bottom: 30px;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 40px;
                &:first-of-type {
                    width: 690px;
                    margin-right: 27px;
                }
                &:last-of-type {
                    flex: 1;
                }
            }
        }
        &:last-of-type {
            .detail__col {
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.section._inverse.new-detail-header {
    @include bg-img-wrapper;
    margin-top: - map_get($header-margin-bottom, sm);
    margin-bottom: 20px;
    padding-bottom: 5px;
    @include media-breakpoint-up(md) {
        margin-top: - map_get($header-margin-bottom, md);
        margin-bottom: 25px;
        padding-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: - map_get($header-margin-bottom, lg);
        margin-bottom: 50px;
        padding-bottom: 35px;
    }
    &._bg {
        background-color: rgba($primary, .8);
    }
    .section__lead {
        font-size: 15px;
        opacity: 1;
        @include media-breakpoint-up(md) {
            font-size: 18px;
            margin-bottom: 35px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 21px;
            margin-bottom: 50px;
        }
    }        
    .new-detail-header__tag {
        display: inline-block;
        background-color: $white;
        border-radius: $border-radius;
        padding: 0 7px;
        font-size: 11px;
        color: $primary;
        line-height: 19px;
        vertical-align: middle;
        margin-left: 5px;
        @include media-breakpoint-up(md) {
            font-size: 14px;
            padding: 0 11px;
            line-height: 23px;
        }
    }
    .new-detail-header__info {
        @include list-unstyled;
        color: $white;
        font-size: 14px;
        margin-bottom: 27px;
        @include media-breakpoint-up(md) {
            margin-bottom: 32px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 18px;
            margin-bottom: 85px;
        }
        li {
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0;
            }
            a {
                @include link-inverse;
            }
        }
    }
    .new-detail-header__progress {
        color: $white;
        .new-detail-header__progress__h {
            display: block;
            font-size: 15px;
            margin-bottom: 5px;
            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }
        .new-detail-header__progress__bar {
            display: inline-block;
            height: 10px;
            border-radius: 5px;
            margin-right: 15px;
            vertical-align: middle;
            background-color: $white;
            width: 190px;
            @include media-breakpoint-up(md) {
                width: 240px;
            }
            .new-detail-header__progress__bar__inner {
                display: block;
                height: 100%;
                border-radius: 5px;
                background-color: #d76f54;
                background-image: linear-gradient(to left, #41b765, #d6cc54 48%, #d76f54);
                background-size: 190px;
                @include media-breakpoint-up(md) {
                    background-size: 240px;
                }
            }
        }
        .new-detail-header__progress__percent {
            display: inline-block;
            font-size: 24px;
            vertical-align: middle;
            @include media-breakpoint-up(md) {
                font-size: 32px;
            }
        }
    }
    .new-detail-header__row {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
    .new-detail-header__col {
        margin-bottom: 26px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 45px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            &:first-of-type {
                padding-right: 20px;
                width: 560px;
            }
            &:last-of-type {
                padding-top: 6px;
                .section__h {
                    font-size: 32px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .new-detail-header__img-wrapper {
        @include bg-img-inner(black, .5);
        z-index: -1;
        img {
            @include bg-img-100;
        }
    }
}

.new-detail-content {
    @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
    }
    .new-detail-content__h {
        font-size: 21px;
        font-weight: normal;
        line-height: 1.24;
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
            font-size: 24px;
            line-height: 1.08;
            margin-bottom: 26px;
        }
        &._sm {
            font-size: 18px;
            line-height: 1.44;
            @include media-breakpoint-up(md) {
                font-size: 21px;
                line-height: 1.24;
                margin-bottom: 20px;
            }
        }
    }
    .new-detail-content__left {
        margin-bottom: 24px;
        @include media-breakpoint-up(md) {
            margin-bottom: 48px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            width: 680px;
        }
    }
    .new-detail-content__right {
        .rte {
            margin-bottom: 24px;
            @include media-breakpoint-up(md) {
                margin-bottom: 42px;
            }
        }
        @include media-breakpoint-up(lg) {
            width: 354px;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
}

.new-detail-gallery, .new-detail-tour, .new-detail-map {
    @include media-breakpoint-only(sm) {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
    }
}
.new-detail-tour, .new-detail-map {
    height: 250px;
    @include media-breakpoint-up(md) {
        height: 400px;
    }
    @include media-breakpoint-up(lg) {
        height: 740px;
    }
}
.new-detail-filter {
    .filters-form {
        .filters-form__rooms label {
            font-size: 14px;
            font-weight: 500;
        }
        .filters-form__row__lg {
            align-items: flex-end;
        }
        .filters-form__row {
            @include media-breakpoint-up(md) {
                @include row(30px);
            }
            @include media-breakpoint-up(lg) {
                @include row(50px);
            }
            > .input-group {
                margin-bottom: 20px;
                @include media-breakpoint-only(md) {
                    &._col1 {
                        width: 25%;
                        flex-basis: 25%;
                    }
                    &._col2 {
                        flex: 1;
                    }
                }
                @include media-breakpoint-up(md) {
                    @include col(33.33%, 30px);
                    &._col1, &._col2 {
                        order: unset;
                    }
                }
                @include media-breakpoint-up(lg) {
                    @include col(33.33%, 50px);
                }
                .input-group._range {
                    margin-bottom: 0;
                }
            }
        }
        .filters-form__summary {
            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }
}