$hypothec-gutter-width: $grid-gutter-width;
.hypothec-form {
    background-image: linear-gradient(346deg, #7f7fc7, #494995);
    .hypothec-form__feat {
        @include list-unstyled;
        margin-left: -18px;
        margin-right: -18px;
        margin-bottom: 0;
        text-align: center;
        font-size: 0;
        .hypothec-form__feat__item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 120px;
            text-align: center;
            color: $white;
            margin-left: 18px;
            margin-right: 18px;
            margin-bottom: 35px;
            .hypothec-form__feat__item__text {
                font-size: $font-size-base;
                font-weight: 600;
                white-space: nowrap;
                display: block;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
            .hypothec-form__feat__item__accent {
                display: block;
                width: 120px;
                line-height: 120px;
                border-radius: 50%;
                font-size: 43px;
                font-weight: 300;
                margin: 50px 0 35px;
                background-color: $white;
                color: $body-color;
                margin-left: auto;
                margin-right: auto;
            }
            .hypothec-form__feat__item__link {
                @include link-inverse;
                font-size: 17px;
                white-space: nowrap;
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .hypothec-form {
        background-image: linear-gradient(45deg, #7f7fc7, #494995);
        .input-group {
            width: 311px;
        }
        .hypothec-form__feat {
            text-align: left;
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
            .hypothec-form__feat__item {
                margin-left: 38px;
                margin-right: 38px;
                margin-bottom: 0;
                &:first-of-type {
                    margin-left: $container-padding-md;
                }
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .hypothec-form {
        background-image: linear-gradient(20deg, #7f7fc7, #494995);
        .hypothec-form__wrapper {
            display: flex;
            .hypothec-form__col {
                &:first-of-type {
                    flex-basis: 730px;
                }
            }
        }
        .hypothec-form__feat {
            text-align: left;
            margin-left: -13px;
            margin-right: -13px;
            .hypothec-form__feat__item {
                margin-left: 13px;
                margin-right: 13px;
            }
        }
    }
}

.hypothec {
    .hypothec__list {
        margin-bottom: 64px;
        .hypothec__list__item {
            height: 338px;
            margin-bottom: 10px;
            position: relative;
            .hypothec__list__item__inner {
                display: block;
                text-align: center;
                color: $body-color;
                background-color: $white;
                border-radius: $border-radius;
                padding: 0 30px;
                height: 100%;
                &:after {
                    content: none;
                }
            }
            .hypothec__list__item__img-wrapper {
                display: flex;
                height: 115px;
                align-items: center;
                justify-content: center;
            }
            .hypothec__list__item__rate {
                display: block;
                border-top: 1px solid $gray-light;
                border-bottom: 1px solid $gray-light;
                margin: 0 10px 23px;
                height: 115px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .hypothec__list__item__muted {
                    display: block;
                    opacity: 0.5;
                    font-size: 14px;
                    margin-bottom: 9px;
                }
                .hypothec__list__item__accent {
                    display: block;
                    font-size: 55px;
                    font-weight: 300;
                    line-height: 0.8;
                }
            }
        }
        &._scroll {
            display: none;
        }
    }
    .section__button._more {
        display: none;
    }
}
@include media-breakpoint-up(md) {
    .hypothec {
        .hypothec__list {
            @include row($hypothec-gutter-width);
            margin-bottom: 16px;
            .hypothec__list__item {
                @include col(50%, $hypothec-gutter-width);
                margin-bottom: 32px;
                .hypothec__list__item__inner {
                    @include hover-up();
                }
            }
            &._scroll {
                display: flex;
                flex-wrap: nowrap;
                padding-top: 10px;
                margin-bottom: 0;
                &:after {
                    content: '';
                    display: block;
                    width: $container-padding-md - $hypothec-gutter-width / 2;
                    flex-shrink: 0;
                }
                .hypothec__list__item {
                    margin-bottom: 20px;
                    width: 306px;
                    flex: 0 0 auto;
                }
            }
        }
        .section__button._more {
            display: block;
        }
    }
}
@include media-breakpoint-up(lg) {
    .hypothec {
        .hypothec__list {
            @include row($hypothec-gutter-width);
            margin-bottom: 39px;
            .hypothec__list__item {
                @include col(25%, $hypothec-gutter-width);
                margin-bottom: 0;
            }
            &._scroll {
                &:after {
                    content: none;
                }
                .hypothec__list__item {
                    margin-bottom: 20px;
                    width: 306px;
                    flex: 0 0 auto;
                }
            }
        }
    }
}

.hypothec-calc {
    .hypothec-calc__h {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.63;
        margin-bottom: 18px;
    }
    .hypothec-calc__fields {
        margin-bottom: 20px;
    }
    .hypothec-calc__res-h {
        opacity: 0.5;
        font-weight: normal;
        line-height: 1.33;
        margin-bottom: 20px;
    }
    .hypothec-calc__res {
        margin-bottom: 68px;
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        .hypothec-calc__res__item {
            background-color: $white;
            border-radius: $border-radius;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            > .hypothec-calc__res__item__row {
                padding: 15px 20px;
                border-bottom: 1px solid $gray-light;
                &:last-of-type {
                    border-bottom: none;
                }
                &._head {
                    display: flex;
                    /*flex-grow: 1;*/
                }
                &._content {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    > span {
                        margin-bottom: 5px;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
                &._foot {
                    > .hypothec-calc__res__item__row {
                        display: flex;
                        align-items: center;
                        > span {
                            margin-bottom: 5px;
                        }
                        &:last-of-type {
                            flex-wrap: wrap;
                            margin-top: 10px;
                        }
                    }
                }
            }
            .hypothec-calc__res__item__img-wrapper {
                width: 73px;
                margin-right: 18px;
                flex-shrink: 0;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .hypothec-calc__res__item__title {
                max-width: 200px;
            }
            .hypothec-calc__res__item__rate {
                font-size: 18px;
                margin-right: 15px;
            }
            .hypothec-calc__res__item__payment {
                opacity: 0.5;
                font-size: 18px;
                margin-top: 5px;
                flex-basis: 100%;
            }
            .hypothec-calc__res__item__payment_accent {
                font-size: 18px;
                border-radius: $border-radius;
                border: 1px solid $primary;
                padding: 5px 7px 3px;
                white-space: nowrap;
                margin-right: 10px;
            }
            .hypothec-calc__res__item__economy-text {
                flex-basis: 100%;
            }
            .hypothec-calc__res__item__economy {
                font-size: 16px;
                color: $primary;
                border-radius: $border-radius;
                border: 1px solid $primary;
                padding: 5px 7px 3px;
                white-space: nowrap;
                margin-right: 10px;
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .hypothec-calc {
        .hypothec-calc__h {
            font-size: 21px;
            margin-bottom: 40px;
        }
        .hypothec-calc__fields {
            display: flex;
            flex-wrap: wrap;
            max-width: 600px;
            > * {
                margin-right: 20px;
            }
            .input-group {
                width: 200px;
                &._double {
                    width: 302px;
                }
            }
        }
        .hypothec-calc__res-h {
            font-size: 18px;
            line-height: 1.44;
        }
        .hypothec-calc__res {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
            &.slider-small.slick-slider .slide {
                margin-left: 0;
                margin-right: 0;
            }
            .hypothec-calc__res__item {
                > .hypothec-calc__res__item__row {
                    padding: 20px 25px;
                    &._head {
                        align-items: center;
                    }
                }
                .hypothec-calc__res__item__img-wrapper {
                    width: 93px;
                    height: 65px;
                    margin-right: 22px;
                }
                .hypothec-calc__res__item__title {
                    max-width: 250px;
                    font-size: 15px;
                }
                .hypothec-calc__res__item__rate {
                    font-size: 24px;
                }
                .hypothec-calc__res__item__payment {
                    font-size: 24px;
                    flex-basis: auto;
                    margin-right: 20px;
                }
                .hypothec-calc__res__item__payment_accent {
                    font-size: 24px;
                    padding: 5px 7px 3px;
                    margin-right: 13px;
                }
                .hypothec-calc__res__item__economy {
                    font-size: 18px;
                    margin-left: 13px;
                    margin-right: 0;
                }
                .hypothec-calc__res__item__economy-text {
                    margin-right: 0;
                    flex-basis: auto;
                    text-align: right;
                }
            }
        }
        .scroll-wrapper {
            margin-bottom: 25px;
        }
    }
}
@include media-breakpoint-only(md) {
    .hypothec-calc {
        .hypothec-calc__res {
            .hypothec-calc__res__item {
                > .hypothec-calc__res__item__row {
                    &._content {
                        flex-wrap: nowrap;
                        > span {
                            margin-bottom: 0;
                            margin-right: 20px;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                    &._foot {
                        display: flex;
                        align-items: center;
                        > .hypothec-calc__res__item__row {
                            > span {
                                margin-bottom: 0px;
                            }
                            &:last-of-type {
                                flex-wrap: nowrap;
                                margin-top: 0px;
                                margin-left: 40px;
                            }
                        }
                    }
                }
                .hypothec-calc__res__item__payment {
                    margin-top: 0;
                    margin-left: 20px;
                }
                .hypothec-calc__res__item__payment_accent {
                    font-size: 24px;
                    padding: 5px 7px 3px;
                    margin-right: 13px;
                }

            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .hypothec-calc {
        .hypothec-calc__fields {
            max-width: unset;
        }
        .hypothec-calc__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .hypothec-calc__res {
                order: 1;
                width: 382px;
                margin-bottom: 28px;
                background-color: $white;
                border-radius: $border-radius;
            }
            .hypothec-request {
                order: 2;
                width: 790px;
            }
            .hypothec-calc__list {
                order: 3;
                width: 100%;
            }
        }
        .scrollbar-outer._hor.scroll-wrapper {
            margin-left: - $hypothec-gutter-width / 2;
            margin-right: - $hypothec-gutter-width / 2;
            .scroll-content {
                padding-left: $hypothec-gutter-width / 2;
                padding-right: $hypothec-gutter-width / 2;
            }
            .scroll-x {
                .scroll-element_outer {
                    left: $hypothec-gutter-width / 2;
                    right: $hypothec-gutter-width / 2;
                }
            }
        }
    }
}

.hypothec-request {
    background-color: $white;
    padding: $container-padding-sm;
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    margin-bottom: 28px;
    .hypothec-request__h {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hypothec-request__feat {
        @include list-unstyled;
        font-size: 14px;
        .hypothec-request__feat__item {
            margin-bottom: 25px;
            padding-left: 37px;
            position: relative;
            .sprite {
                position: absolute;
                left: 0;
                top: 1px;
            }
        }
    }
    .hypothec-request__agent {
        padding: 0 20%;
        margin-bottom: 30px;
        .agent {
            .agent__name {
                font-size: 15px;
            }
        }
    }
    .hypothec-request__form {
        .hypothec-request__form__text {
            line-height: 1.33;
            margin-bottom: 15px;
        }
        .hypothec-request__form__agree {
            opacity: 0.4;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 15px;
        }
    }
    .hypothec-request__col._1 {
        margin-bottom: 30px;
    }
}

@include media-breakpoint-up(md) {
    .hypothec-request {
        padding: $container-padding-md;
        margin-left: - $container-padding-md;
        margin-right: - $container-padding-md;
        .hypothec-request__h {
            font-size: 21px;
            margin-bottom: 30px;
        }
        .hypothec-request__agent {
            padding: 0;
            margin-bottom: 0;
            margin-right: 30px;
        }
        .hypothec-request__form {
            display: flex;
            flex-direction: column;
            .hypothec-request__form__text {
                flex: 1;
            }
        }
        .hypothec-request__row {
            display: flex;
            flex: 1;
        }
        .hypothec-request__col {
            &._1 {
                margin-bottom: 0;
                flex-basis: 300px;
                padding-right: 40px;
                display: flex;
                flex-direction: column;
                .hypothec-request__feat {
                    flex: 1;
                }
            }
            &._2 {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .hypothec-request {
        padding: 26px;
        margin-left: 0;
        margin-right: 0;
        border-radius: $border-radius;
    }
}