.news-list {
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    @include media-breakpoint-up(md) {
        @include row(26px);
    }
    .news-item {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            @include col(50%, 26px);
            margin-bottom: 26px;
        }
        @include media-breakpoint-up(lg) {
            @include col(33.33%, 26px);
        }
    }
}

.news-item {
    display: flex !important;
    .news-item__inner {
        position: relative;
        overflow: hidden;
        background-color: $white;
        padding: $container-padding-sm;
        min-height: 245px;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md) {
            padding: $container-padding-md;
            border-radius: $border-radius;
            min-height: 265px;
        }
    }
    .news-item__h {
        font-size: 19px;
        font-weight: normal;
        margin-bottom: 24px;
    }
    .news-item__intro {
        font-size: 14px;
        margin-bottom: 24px;
        flex: 1;
    }
    .news-item__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .news-item__btn {
        width: 116px;
    }
    .news-item__date {
        color: rgba($body-color, .5);
        font-size: 15px;
        [class^="icon-"] {
            font-size: 14px;
            color: #7e7e7e;
            vertical-align: baseline;
        }
    }
    .news-item__img-wrapper {
        @include bg-img-inner(#000, .65);
        z-index: -1;
    }
    .news-item__img {
        @include bg-img-100;
    }
    &._img {
        .news-item__inner {
            color: $white;
            background-color: transparent;
        }
        .news-item__btn {
            color: $white;
        }
        .news-item__date {
            color: $white;
            [class^="icon-"] {
                color: $white;
            }
        }
    }
}

.news-detail {
    .news-detail__introtext {
        font-size: 18px;
        line-height: 1.28;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            font-size: 21px;
            line-height: 1.24;
            margin-bottom: 25px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }
    .news-detail__img {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
        }
        img {
            display: block;
            width: 100%;            
        }
    }
    .news-detail__content {
        margin-bottom: 30px;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
    }
    .news-detail__social {
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            margin-bottom: 42px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 82px;
        }
    }
    .news-detail__neighbors {
        @include media-breakpoint-up(md) {
            @include row(15px);
        }
        .news-detail__neighbors__item {
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(md) {
                @include col(50%, 15px);
                display: flex;
                margin-bottom: 0;
            }
        }
        .news-detail__neighbors__link {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: 1px solid $secondary;
            border-radius: 5px;
            padding: 18px;
            font-size: 18px;
            color: $body-color;
            &:after {
                content: none;
            }
            @include transition(all);
            &:hover {
                color: $white;
                background-color: $secondary;
            }
            .news-detail__neighbors__link__text {
                flex: 1;
            }
            .news-detail__neighbors__link__help {
                display: block;
                margin-top: 8px;
                opacity: 0.5;
                font-size: 13px;
                [class^="icon-"] {
                    font-size: 18px;
                    vertical-align: middle;
                    margin-right: 3px;
                }
            }
            &._next {
                text-align: right;
                .news-detail__neighbors__link__help {
                    [class^="icon-"] {
                        margin-right: 0;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

.news-related {
    &.section {
        @include media-breakpoint-only(sm) {
            margin-bottom: 0;
        }
        .section__h {
            @include media-breakpoint-up(lg) {
                font-size: 32px;
            }
        }
    }
    .news-related__list {
        position: relative;
        margin-bottom: 70px;
        @include media-breakpoint-only(md) {
            @include row(28px);
            flex-wrap: nowrap;
            &:after {
                content: '';
                display: block;
                width: 16px;
                flex-shrink: 0;
            }
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
    }
    .news-item {
        border-radius: $border-radius;
        @include media-breakpoint-only(md) {
            @include col(382px, 28px);
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 31px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .news-related__social {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.news-detail-row {
    @include media-breakpoint-up(lg) {
        display: flex;
        .news-detail {
            width: 690px;
            margin-right: 130px;
        }
        .news-related {
            flex: 1;
        }
    }
}