$partners-gutter-width: $grid-gutter-width;
.partners {
    .partners__list {
        @include list-unstyled;
        margin-bottom: 64px;
        .partners__list__item {
            height: 468px;
            margin-bottom: 10px;
            position: relative;
            .partners__list__item__inner {
                display: block;
                text-align: center;
                color: $body-color;
                background-color: $white;
                border-radius: 4px;
                padding: 0 15px;
                height: 100%;
                &:after {
                    content: none;
                }
            }
            .partners__list__item__img-wrapper {
                display: flex;
                height: 110px;
                align-items: center;
                justify-content: center;
            }
            .partners__list__item__name {
                display: block;
                font-size: 21px;
                font-weight: 500;
                line-height: 1.24;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .partners__list__item__rate {
                display: block;
                border-top: 1px solid $gray-light;
                margin-left: 25px;
                margin-right: 25px;
                height: 95px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .partners__list__item__muted {
                    display: block;
                    opacity: 0.5;
                    font-size: 14px;
                    line-height: 24px;
                }
                .partners__list__item__accent {
                    display: block;
                    font-size: 35px;
                    font-weight: 300;
                }
            }
        }
    }
    .partners__more {
        display: none;
    }
}
@include media-breakpoint-up(md) {
    .partners {
        .partners__list {
            @include row($partners-gutter-width);
            margin-bottom: 16px;
            .partners__list__item {
                @include col(50%, $partners-gutter-width);
                margin-bottom: 32px;
                .partners__list__item__inner {
                    top: 0;
                    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0);
                    @include transition(all);
                }
                &:hover {
                    .partners__list__item__inner {
                        top: -10px;
                        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
        .btn {
            width: 269px;
            margin-left: auto;
            margin-right: auto;
        }
        .partners__more {
            display: block;
            margin-bottom: 12px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .partners {
        .partners__list {
            @include row($partners-gutter-width);
            margin-bottom: 39 - $partners-gutter-width;
            .partners__list__item {
                @include col(25%, $partners-gutter-width);
                margin-bottom: $partners-gutter-width;
            }
        }
    }
}