.realty-tags {
    @include list-unstyled;
    margin-bottom: 0;
    li {
        margin-bottom: 5px;
        .realty-tags__content {
            display: inline-block;
            background-color: #fefefe;
            font-size: 11px;
            line-height: 18px;
            border-radius: $border-radius;
            padding: 2px 8px 0;
            color: $primary;
        }
    }
}
@include media-breakpoint-up(lg) {
    .realty-tags {
        li {
            .realty-tags__content {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}

.realty {
    .realty__list {
        margin-bottom: 70px;
        .realty__list__item {
            display: flex;
            .realty__list__item__inner {
                flex: 1;
                display: flex;
                flex-direction: column;
                background-color: $white;
                border-radius: $border-radius;
                overflow: hidden;
                .realty__list__item__content {
                    flex-grow: 1;
                    padding: 18px 20px 22px;
                    display: flex;
                    flex-direction: column;
                    .realty__list__item__content__header {
                        flex-grow: 1;
                    }
                    .realty__list__item__content__footer {
                        .realty__list__item__content__footer__row {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }
            .realty__list__item__title {
                font-size: 19px;
                opacity: .9;
                margin-bottom: 13px;
            }
            .realty__list__item__subtitle {
                font-size: 14px;
                opacity: .45;
                margin-bottom: 10px;
            }
            .realty__list__item__oldprice {
                font-size: 15px;
                opacity: .45;
                position: relative;
                display: inline-block;
                margin-bottom: 3px;
                text-decoration: none;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 7px;
                    height: 1px;
                    background-color: #3c3c3c;
                }
            }
            .realty__list__item__price, .realty__list__item__area {
                font-size: 21px;
                opacity: .9;
            }
            .realty__list__item__hypothec {
                font-size: 14px;
                font-weight: 500;
                opacity: .9;
                margin-top: 7px;
                .realty__list__item__hypothec__accent {
                    color: $secondary;
                }
            }
            .realty__list__item__btn {
                margin-top: 24px;
            }
            .realty__list__item__images {
                position: relative;
                .realty-tags {
                    position: absolute;
                    top: 15px;
                    left: 30px;
                    z-index: 1;
                }
                .oldprice {
                    position: absolute;
                    z-index: 1;
                    right: 12px;
                    top: 12px;
                }
            }
        }
    }
    .section__button._more {
        display: none;
    }
}

@include media-breakpoint-only(sm) {
    .realty {
        .tabs {
            border: none;
            .tabs__list {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .realty {
        .tabs {
            .tabs__select {
                display: none;
            }
        }
        .realty__list {
            @include row(28px);
            flex-wrap: wrap;
            margin-bottom: 20px;
            .realty__list__item {
                @include col(50%, 28px);
                margin-bottom: 28px;
                .realty__list__item__inner {
                    @include hover-up();
                }
            }
        }
        .section__button._more {
            display: block;
        }
    }
}

@include media-breakpoint-up(lg) {
    .realty {
        .realty__list {
            @include row(28px);
            .realty__list__item {
                @include col(25%, 28px);
            }
        }
    }
}

.card-sale {
    width: 125px;
    height: 38px;
    border-radius: 2px 0 0 2px;
    background-color: #f22727;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 17px;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        border-left: $white solid 10px;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
    }
    .card-sale__icon {
        display: block;
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 5px;
        text-align: center;
        .icon-down-small {
            color: #f22727;
            text-align: center;
            line-height: 20px;
        }
    }
    .card-sale__text {
        display: block;
        font-size: 10px;
        font-weight: 600;
        color: $white;
    }
}
@mixin card-sale-big() {
    width: 153px;
    height: 46px;
    padding-left: 20px;
    &:before {
        border-left: $white solid 12px;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
    }
    .card-sale__icon {
        width: 26px;
        height: 26px;
        margin-right: 8px;
        .icon-down-small {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .card-sale__text {
        font-size: 12px;
        margin-top: 1px;
    }
}